<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 신상품</title>
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
    <link rel="stylesheet" href="/front/assets/css/product/product.css">
    <link rel="stylesheet" href="/front/assets/css/product/productMedia.css">
</head>

<body class="goods-goods_list ">
<th:block th:insert="/fragments/header.html :: headFragment"/>
    <div id="wrap" class="layout-main-wrapper">
        <div id="container">
            <div id="header"></div>
            <div id="main">
                <div id="content">
                    <div class="page_aticle">
                        <div id="lnbMenu" class="lnb_menu">
                            <div class="inner_lnb">
                                <h3 class="tit">신상품</h3>
                                <ul class="list">
                                    <li data-start="172" data-and="188">
                                        <a class="on">전체보기</a>
                                    </li>
                                    <li class="bg"></li>
                                </ul>
                            </div>
                        </div>
                        <div id="goodsList" class="page_section section_goodslist">
                            <div class="list_ability">
                                <div class="areabutton">
                                    <img src="../../static/front/assets/css/images/위치아이콘.png" class="imgIcon">
                                    지역을 선택해주세요
                                </div>
                                <div class="sort_menu">
                                    <div>
                                        <p class="count">
                                            <span class="inner_count"> 총 6개</span>
                                        </p>
                                        <div class="select_type">
                                            <a class="name_select">추천순</a>
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <ul class="list">
                                                <li class>
                                                    <a class="on">낮은가격</a>
                                                    <div class="recommend">
                                                        <!---->
                                                        <!---->
                                                        <div id="layerRecommend" class="layer_recommend">
                                                            <p class="desc">
                                                                "검색어 적합성과 소비자 인기도(판매량, 판매금액,"
                                                                <br>
                                                                "조회수 등)를 종합적으로 고려한 순서입니다."
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class>
                                                    <a class>높은가격</a>
                                                    <!---->
                                                </li>
                                                <li class>
                                                    <a class>신상품</a>
                                                    <!---->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list_goods">
                                <div class="inner_listgoods">
                                    <ul class="list">
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919206285l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649919206285l0.jpg" alt="푸짐하게 즐기는 대용량 동태탕">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">122963</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분) </span>
                                                    <span class="cost">
                                                        <!---->
                                                        <span class="price">15,900원</span>
                                                        <!---->
                                                    </span>
                                                    <span class="desc">푸짐하게 즐기는 대용량 동태탕</span>
                                                    <span class="tag">
                                                         <span class="ico2 limit tag_type2">픽업</span>
                                                         <span class="ico3 limit tag_type2">배송</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919329531l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649919329531l0.jpg" alt="풍성하게 담은 대용량 알탕" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">122962</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [프레시지] 자이언트 알푸짐 알탕 (3~4인분) </span>
                                                    <span class="cost">
                                                        <!---->
                                                        <span class="price">20,900원</span>
                                                        <!---->
                                                    </span>
                                                    <span class="desc">풍성하게 담은 대용량 알탕</span>
                                                    <span class="tag">
                                                         <span class="ico2 limit tag_type2">픽업</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/164991958397l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/164991958397l0.jpg" alt="오동통한 어묵이 가득" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">120961</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [미미네] 어묵많이 눈꽃치즈 국물떡볶이 </span>
                                                    <span class="cost">
                                                        <span class="dc">20%</span>
                                                        <span class="price">20,900원</span>
                                                        <span class="original">6,300원</span>
                                                    </span>
                                                    <span class="desc">오동통한 어묵이 가득</span>
                                                    <span class="tag">
                                                        <span class="ico1 limit tag_type2">배달</span>
                                                        <span class="ico2 limit tag_type2">픽업</span>

                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919701563l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649919701563l0.jpg" alt="아낌없이 올린 오동통한 알꼬막" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">112266</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [모두의맛집] 알꼬막 짬뽕 </span>
                                                    <span class="cost">
                                                        <span class="dc">10%</span>
                                                        <span class="price">14,400원</span>
                                                        <span class="original">16,000원</span>
                                                    </span>
                                                    <span class="desc">아낌없이 올린 오동통한 알꼬막</span>
                                                    <span class="tag">
                                                        <span class="ico2 limit tag_type2">픽업</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649903469307l0.jpg);">

                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649903469307l0.jpg" alt="개운한 두피를 위한 약산성 스칼프 팩" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">130055</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [라우쉬] 씨위드 스칼프 팩 (두피스케일링 미역팩) </span>
                                                    <span class="cost">
                                                        <span class="dc">15%</span>
                                                        <span class="price">29,750원</span>
                                                        <span class="original">35,000원</span>
                                                    </span>
                                                    <span class="desc">개운한 두피를 위한 약산성 스칼프 팩</span>
                                                    <span class="tag">
                                                        <span class="ico1 limit tag_type2">배달</span>
                                                        <span class="ico3 limit tag_type2">배송</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649927313367l0.jpg);">

                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649927313367l0.jpg" alt="민감 두피를 위한 약산성 컨디셔너" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">130061</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [라우쉬] 하트씨드 센시티브 린스 컨디셔너 (민감두피 진정 린스) </span>
                                                    <span class="cost">
                                                        <span class="dc">15%</span>
                                                        <span class="price">22,950원</span>
                                                        <span class="original">27,000원</span>
                                                    </span>
                                                    <span class="desc">개민감 두피를 위한 약산성 컨디셔너</span>
                                                    <span class="tag">
                                                         <span class="ico2 limit tag_type2">픽업</span>
                                                         <span class="ico1 limit tag_type2">배달</span>
                                                         <span class="ico3 limit tag_type2">배송</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="layout-pagination">
                                <div class="pagediv">
                                    <a href="#main" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                                    <a href="#main" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                                    <span><!----> <strong class="layout-pagination-button layout-pagination-number __active">1</strong></span>
                                    <a href="#main" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                                    <a href="#main" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg_loading" id="bgLoading" style="display: none;">
                        <div class="loading_show"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cartPut">
        <div class="cart_option cartList cart_type3 off" style="opacity: 0;">
            <div class="inner_option">
                <button type="button" class="btn_close1" >레이어닫기</button>
                <!---->
                <div class="in_option">
                    <div class="list_goods">
                        <!---->
                        <!---->
                        <!---->
                        <ul class="list list_nopackage">
                            <li class="on">
                                <span class="btn_position">
                                    <button type="button" class="btn_del">
                                        <span class="txt">삭제하기</span>
                                    </button>
                                </span>
                                <span class="name">
                                 <!---->
                                 [프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분)
                                 <!---->
                                </span>
                                <!---->
                                <div class="option">
                                    <span class="count">
                                        <button type="button" class="btn down on">수량내리기</button>
                                        <input type="number" readonly="readonly" onfocus="this.blur()" class="inp">
                                        <button type="button" class="btn up on">수량내리기</button>
                                    </span>
                                    <span class="price">
                                        <span class="dc_price">15,900원</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!---->
                    <!---->
                    <div class="total">
                        <div class="price">
                            <strong class="tit">합계</strong>
                            <span class="sum">
                                <span class="num">20,900</span>
                                <span class="won">원</span>
                            </span>
                        </div>
                        <p class="txt_point">
                        </p>
                    </div>
                </div>
                <!---->
                <div class="cart_modal_footer">
                    <button type="button" class="base_button cancel half"> 취소 </button>
                    <button type="button" class="base_button half"> 장바구니 담기 </button>
                </div>
                <!---->
            </div>
        </div>
    </div>
<th:block th:insert="/fragments/footer.html :: footFragment"/>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/product/product.js"></script>
</html>