/**
    판매자 관련 css
 */


/*

pos css

*/

*{
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
    letter-spacing: -0.7px;
}

body {
    margin: 0;
}

div.sell-wrapper {
    width: 100vw;
    height: 100vh;
}

div.cookingTime-wrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

div.cookingTime-content-wrapper {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 493px;
    opacity: 1;
    height: 591px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

div.cookingTime-TopBar{
    color: #ffffffe0;
    height: 7vh;
    background-color: rgb(54 54 54);
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 7vh;
}

span.cookingTime-close-btn {
    margin-left: 16px;
    cursor: pointer;
}

div.cookingTime-content{
    height: 40vh;
    width: 23vw;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

div.cookingTime-info1{
    font-size: 1.6rem;
    font-weight: bold;
}

img.cookingTime-reset {
    width: 22px;
    position: absolute;
    right: 53px;
    top: 6px;
    cursor: pointer;
}

div.cookingTime_select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.cookingTime-minus span, div.cookingTime-plus span, div.cookingTime-real-wrapper span {
    font-size: 4rem;
}
div.cookingTime-minus, div.cookingTime-plus {
    cursor: pointer;
}

div.cookingTime-bottomBar {
    display: flex;
    height: 222px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

div.cookingTime-info2 {
    font-size: 20.4px;
    height: 47px;
    background-color: rgb(216 216 216 / 86%);
    padding: 7px 10px 7px 10px;
    cursor: pointer;
}

div.cookingTime-reception {
    margin-top: 25px;
    line-height: 7vh;
    font-size: 2rem;
    background-color: #DA291C;
    color: #ffffffe0;
    cursor: pointer;
    font-weight: bold;
    height: 7vh;
}



/*

GNB css

*/
div.gnb-wrapper {
    display: flex;
    width: 100%;
    height: 8vh;
    background: #363636;
}

div.gnb-order {
    background: #DA291C;
    color: #ffffffe0;
    width: 25%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 8vh;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 0 0;
}

div.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
}

div.sidebar-wrapper {
    display: flex;
    width: 9%;
    flex-direction: column;
    flex-wrap: wrap;
}

div.sidebar-wrapper div {
    font-size: 2rem;
    cursor: pointer;
}

div.sidebar-wrapper div p {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.reception, div.process, div.complete{
    height: 22.9vh;
    /*line-height: 22vh;*/
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: solid #b9aeae40 2px;
    background: #81818157;
    color: #818181cc;
}

p.reception-new {
    background-color: #DA291C;
    display: inline-block;
    width: 100px;
    /* border-radius: 5px; */
    color: #ffffffe0;
    border: none;
    box-shadow: 1px 1px 3px #da291c;
}


/* 디폴트 폰트*/
.sellClicked {
    background-color: white !important;
    color: black !important;
}

div.reception-content, div.process-content, div.complete-content{
    margin-top: 45px;
}

div.orderhistoy {
    height: 22.9vh;
    /*line-height: 22vh;*/
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: solid #b9aeae40 2px;
    color: #818181cc;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: auto !important;
}

div.orderhistoy img {
    width: 160px;
}

div.sidebar-content {
    width: 87%;
    text-align: center;
}

/* 주문 없을 시 이미지*/

div.noorder img {
    width: 500px;
    margin-top: 80px;
}

div.noorder p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6a6262db;
}

div.noorder {
    display: none;
}

div.order-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.order-list {
    height: 19vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.order-info1 {
    padding: 10px 50px 20px 50px;
    width: 31%;
}

div.order-info2 {
    font-size: 1.7rem;
    line-height: 0.7;
    width: 33%;
    padding: 10px 30px 10px 30px;
    text-align: left;
}

div.order-info2 div.order-address, div.order-info2 p.order-price {
    font-weight: bold;
}

div.order-info2 p.order-menuInfo, .order-phoneNum, p.order-price {
    color: #818181cc;
    margin: 15px 0;
}

div.order-info2 p.order-price {
    color: #000000;
}


div.order-accept {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    line-height: 9;
}

div.order-accept button {
    width: 6vw;
    height: 15vh;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffffe0;
    background-color: #DA291C;
    box-shadow: 1px 1px 3px #da291c;
    border: none;
    margin: 7px;
    cursor: pointer;
}

div.order-accept button.delivery-complete-btn {
    width: 6vw;
    height: 15vh;
    font-size: 1.8rem;
    font-weight: bold;
    color: #818181;
    background-color: #81818157;
    box-shadow: 1px 1px 3px #a9a4a4;
    border: none;
    margin: 7px;
}

div.order-time {
    font-size: 5rem;
}

div.order-method {
    font-size: 1.9rem;
    display: inline-block;
    width: 200px;
    color: #ffffffe0;
}

div.pickUp {
    background-color: #8BC34A;
    box-shadow: 1px 1px 4px #8bc34a;
}

div.delivery {
    background-color: #03A9F4;
    box-shadow: 1px 1px 4px #03A9F4;
}

div.shipping {
    background-color: #FFC107;
    box-shadow: 1px 1px 4px #FFC107;
}

