/*개인 정보 수정*/
.page_myPage.myPage_type1 .page_section {
    float: right;
    width: 820px;
}
.page_myPage .head_aticle {
    padding: 5px 0 34px;
}
.page_myPage .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
}
#PW {
    width: 820px;
}
.member_join {
    width: 640px;
    margin: 0 auto;
}
.member_pw .tit {
    padding: 0 0 8px;
    font-weight: 700;
    font-size: 18px;
}
.member_pw .sub {
    padding-bottom: 20px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
}
.member_join .tbl_comm {
    width: 100%;
    border-top: 2px solid #333;
}
.member_join .tbl_comm .fst th {
    padding-top: 29px;
}
.member_pw th {
    width: 259px;
    padding-left: 120px;
}
.member_join th {
    width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
}
.member_join .tbl_comm .fst td {
    padding-top: 19px;
}
.member_join td {
    padding: 10px 0;
    border-top: 0;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
}
.member_join input[type=text], .member_join input[type=password] {
    width: 332px;
}
.type_form textarea, .type_form input[type=text], .type_form input[type=password] {
    height: 44px;
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}
.type_form .btn.active {
    border: 1px solid #5f0081;
    background-color: #5f0080;
    color: #fff;
}
.member_pw .active {
    display: block;
    width: 240px;
    height: 56px;
    margin: 40px auto 0;
    font-size: 16px;
    line-height: 54px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}