/*전체 옵션*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*페이지 디자인*/
.page_myPage.myPage_type1{
    padding-top: 65px;
}
.page_myPage{
    width: 1050px;
    margin: 0 auto;
}
#snb .tit_snb {
    padding: 5px 0 35px 1px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #333;
    letter-spacing: -1px;
}
/*메뉴바*/
#snb {
    float: left;
    width: 200px;
}
#snb .inner_snb {
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}
ol, ul {
    list-style-type: none;
}
#snb .list_menu li {
    border-bottom: 1px solid #f2f2f2;
}
#snb .list_menu li.on a, #snb .list_menu li a:hover {
    background: #fafafa url(https://cdn.discordapp.com/attachments/969471931575320587/972087200621690880/590706d067c9b9b2.png) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #DA291C;
}
#snb .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 14px 0 16px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.3px;
}
a{
    background-color: transparent;
    text-decoration: none;
    color: inherit
}
/*반응형*/
@media screen and (max-width:1000px) {
    #snb .tit_snb{
        display: none;
    }
}