/*후기 작성 가능 목록*/
.page_myPage.myPage_type1 .page_section {
    float: right;
    width: 820px;
}
.section_review .head_aticle {
    padding-bottom: 20px;
}
.page_myPage .head_aticle {
    padding: 5px 0 34px;
}
.page_aticle .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
}
.section_review .review_notice {
    font-size: 14px;
    color: #999;
    line-height: 22px;
    letter-spacing: -.3px;
}
.section_review .review_notice b {
    font-weight: 700;
}
.section_review .tab_menu {
    overflow: hidden;
    padding-top: 30px;
}
.section_review .tab_menu li {
    float: left;
    width: 410px;
    height: 50px;
    background-color: #fff;
}
.section_review .tab_menu .on a {
    border-bottom: 2px solid #5f0080;
    font-weight: 700;
    color: #5f0080;
}
.section_review .tab_menu a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid #dddfe1;
    font-size: 14px;
    color: #666;
    line-height: 44px;
    text-align: center;
}
.section_review .tab_menu li:last-child a {
    border-left: 0;
}
.section_review .list_before {
    padding-top: 10px;
}
.section_review .list_before .tit_item {
    display: block;
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}
section_review .list_before .tit_item .emph {
    font-weight: 700;
}
.section_review .list_before .item {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 19px 29px 18px;
    border: 1px solid #dddfe1;
}
.section_review .list_before .thumb {
    float: left;
    width: 80px;
    margin-right: 20px;
    cursor: pointer;
}
img {
    border: 0;
}
img, video, canvas {
    max-width: 100%;
}
.section_review .list_before .name {
    display: table;
    float: left;
    width: 400px;
    height: 100px;
}
.section_review .list_before .inner_name {
    display: table-cell;
    vertical-align: middle;
}
.section_review .list_before .main_name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
.section_review .list_before .num {
    display: table;
    padding-top: 16px;
}
.section_review .list_before .date {
    display: table;
    float: left;
    width: 110px;
    height: 100px;
    text-align: center;
}
.section_review .list_before .inner_date {
    display: table-cell;
    vertical-align: middle;
}
.section_review .list_before .start {
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.section_review .list_before .end {
    display: block;
    padding-top: 3px;
    font-size: 12px;
    color: #b3130b;
    line-height: 18px;
}
.section_review .list_before .btn_write {
    overflow: hidden;
    position: absolute;
    right: 29px;
    top: 50%;
    margin-top: -17px;
    width: 100px;
    height: 34px;
    border: 1px solid #512771;
    background-color: #5f0080;
    font-size: 12px;
    color: #fff;
    line-height: 32px;
    letter-spacing: -.3px;
    text-align: center;
}
