<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 이용안내</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- 폰트 적용하기 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/front/assets/css/main/mainHowToUser.css">
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
    <link rel="stylesheet" href="/front/assets/css/main.css">
</head>
<style>
    *{
        font-family: 'Noto Sans KR','Noto Sans', sans-serif
    }
</style>
<body>
<th:block th:insert="fragments/header.html :: headFragment"/>

<div id="page-wrapper">
    <div id="wrapper">
        <!-- 타이틀 -->
        <div id="title"><h2 style="font-weight: 500;">이용안내</h2></div>
        </div>
            <div class="page_aticle aticle_old">
                <div class="page_section page_service">
                    <div id="serviceView" class="inner_section"><div class="page_guide" style="margin-left: 37px">
                        <div class="service_info">
                            <ul class="list">
                                <li class="guide1">
                                    <strong class="tit">회원 / 혜택</strong>
                                    <p class="txt">
                                        라스트프레시에 회원가입을 하시면<br>
                                        가입 즉시, 마감세일 등 및 각종 할인<br>
                                        픽업, 배달, 배송 서비스를 이용하실 수 있습니다. <br>
                                    </p>
                                </li>
                                <li class="guide2">
                                    <strong class="tit">주문 / 결제</strong>
                                    <p class="txt">
                                        상품 주문은<br>
                                        <span class="emph">
                                        장바구니에 상품 담기 <img src="https://res.kurly.com/freshsolutions/pc/service/service/ico_arrow_x2.png" alt="" class="ico"> 회원 주문 <img src="https://res.kurly.com/freshsolutions/pc/service/service/ico_arrow_x2.png" alt="" class="ico"><br>
                                        주문서 작성 <img src="https://res.kurly.com/freshsolutions/pc/service/service/ico_arrow_x2.png" alt="" class="ico"> 결제 방법 선택 및 결제 <img src="https://res.kurly.com/freshsolutions/pc/service/service/ico_arrow_x2.png" alt="" class="ico"><br>
                                        주문 완료</span>로 이루어집니다.
                                    </p>
                                    <p class="desc">비회원은 라스트프레시를 이용하실 수 없습니다.</p>
                                </li>
                                <li class="guide3">
                                    <strong class="tit">배송</strong>
                                    <p class="txt">
                                        컬리는 싱싱한 유기농 상품을<br>
                                        고객님의 식탁까지 빠르고 안전하게<br>
                                        배달하기 위해 항상 노력합니다.<br>
                                        특히 샛별배송을 받으시는 경우,<br>
                                        배송 요청사항란에 특수정보를 기입해주셔야<br>
                                        보다 안전한 배송이 가능합니다.
                                    </p>
                                </li>
                                <li class="guide4">
                                    <strong class="tit">취소 / 교환 / 환불</strong>
                                    <p class="txt">
                                        주문취소는 배송 단계별로 방법이 상이합니다.
                                        <br>
                                        - [배송준비중] 이전까지 주문 취소 가능합니다.
                                        <br>
                                        - [마이컬리 &gt; 주문 내역 상세페이지]에서
                                        <br>
                                        직접 취소하실 수 있습니다.
                                        <br>
                                        받으신 상품의 이상이 있거나 궁금한 사항이<br>
                                        있다면 언제든지 1:1문의 게시판 에 문의해주세요.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <br><br><br>
                    </div>
                    </div>
                </div>

    </div>
</div>

<th:block th:insert="fragments/footer.html :: footFragment"/>
</body>
</html>