<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lastFreshMyPage_OrderHistory</title>
</head>
<link rel="stylesheet" href="assets/css/OrderHistory.css">
<link rel="stylesheet" href="assets/css/myPageMenuBar.css">
<body>
<div class="page_myPage myPage_type1">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">마이페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li>
                    <a href="#">주문 내역</a>
                </li>
                <li>
                    <a href="#">상품 후기</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="viewOrderList" class="page_section section_orderlist">
        <div class="head_aticle">
            <h2 class="tit">
                주문 내역
            </h2>
        </div>
            <ul class="list_order">
                <li>
                    <div class="date">2022.04.28 (19시 06분)</div>
                    <div class="order_goods"><div class="name">
                        <a class="goodsName">[우주] 프리미엄 손질 생새우살 200g (냉동) 외 4건</a>
                        <a class="goodsNum">주문번호 9999999</a>
                    </div>
                        <div class="order_info">
                            <div class="thumb">
                                <img src="https://img-cf.kurly.com/shop/data/goods/1648206103254s0.jpg" alt="해당 주문 대표 상품 이미지">
                            </div>
                            <div class="desc">
                                <dl>
                                    <dt>상품명</dt>
                                    <dd>[우주] 프리미엄 손질 생새우살 200g (냉동) 외 4건</dd>
                                </dl>
                                <dl>
                                    <dt>결제일시</dt>
                                    <dd>2022.04.28 (19시 06분)</dd>
                                </dl>
                                <dl>
                                    <dt>결제금액</dt>
                                    <dd>35,600원</dd>
                                </dl>
                                <dl>
                                    <dt>주문상태</dt>
                                    <dd class="status end">배송완료</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </li>
<!--            <li class="no_data">-->
<!--        주문내역이 없습니다.-->
               <!-- </li>-->
            </ul>
        <div class="layout-pagination">
            <div class="pagediv">
                <a href="#viewOrderList" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                <a href="#viewOrderList" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                <span><strong class="layout-pagination-button layout-pagination-number __active" style="padding-top: 7px;">1</strong>
                </span>
                <a href="#viewOrderList" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                <a href="#viewOrderList" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>