.noBody, body {
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #fff;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    margin: 8px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

div {
    display: block;
}

/* container */
#header, #container, #content {
    position: relative;
}

#main {
    border-bottom: 1px solid #f7f7f7;
}

#layerDSR {
    display: none;
}

#content {
    opacity: 0;
}

#content {
    min-width: 1050px;
    padding-bottom: 60px;
}

#header, #container, #content {
    position: relative;
}

.layout-wrapper.goods-view-area {
    padding-right: 40px;
}

.layout-wrapper {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}

.section_view {
    width: 1050px;
    margin: 0 auto;
    padding-top: 20px;
}

#shareLayer {
    position: relative;
}

.section_view * {
    font-family: noto sans;
    color: #333;
    letter-spacing: -.5px;
}

#shareLayer .layer_share {
    display: none;
    position: absolute;
    right: -25px;
    top: 39px;
    width: 278px;
    height: 164px;
    background: url(https://res.kurly.com/mobile/service/goodsview/1804/layer_share.png) no-repeat 0 0;
}

#shareLayer .inner_layersns {
    overflow: hidden;
    width: 238px;
    height: 120px;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
}

.screen_out {
    display: block;
    left: -9999px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#shareLayer .list_share .btn_fb {
    left: 154px;
    top: 44px;
}

#shareLayer .list_share .btn {
    position: absolute;
    width: 113px;
}

.btn {
    width: 100%;
    height: 52px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

#shareLayer .list_share .btn img {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

img {
    border: 0;
}

img, video, canvas {
    max-width: 100%;
}

#shareLayer .list_share .txt {
    float: left;
    padding-top: 4px;
    font-size: 12px;
    color: #000;
    line-height: 20px;
}

#shareLayer .list_share .btn_tw {
    left: 41px;
    top: 44px;
}

#shareLayer .list_share .btn_url {
    overflow: hidden;
    position: absolute;
    left: 40px;
    top: 94px;
    width: 198px;
    height: 30px;
    clear: both;
}

#shareLayer .list_share .inp {
    float: left;
    width: 114px;
    height: 30px;
    padding: 7px 0 6px 3px;
    border: 1px solid #f3f2f3;
    background-color: #f3f2f4;
    font-size: 11px;
    color: #666;
}

#shareLayer .list_share .btn_copy {
    float: left;
    width: 84px;
    height: 30px;
    border: 1px solid #5f0080;
    font-size: 12px;
    color: #5f0080;
    line-height: 28px;
    text-align: center;
}


#sectionView .thumb {
    float: left;
    background-color: #eee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 430px;
}

#sectionView .thumb .bg {
    width: 430px;
    height: 552px;
}

#sectionView .goods_name {
    float: right;
    width: 560px;
    padding: 10px 0 29px;
}

#sectionView .btn_share {
    display: block;
    position: relative;
}

#sectionView #btnShare {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 0;
    background: url(https://res.kurly.com/mobile/service/goodsview/1910/ico_view_sns.png) no-repeat 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}

ol, ul {
    list-style-type: none;
}

#sectionView .goods_name .name {
    display: block;
    padding-right: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    word-break: break-all;
}

#sectionView .goods_name .short_desc {
    display: block;
    padding: 4px 60px 0 0;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    word-break: break-all;
}

#sectionView .goods_price {
    float: right;
    width: 560px;
    padding: 0 20px 0 0;
}

#sectionView .goods_info {
    float: right;
    width: 560px;
    margin-top: 19px;
    padding-bottom: 19px;
    border-top: 1px solid #f4f4f4;
}

#sectionView .goods_price .dc {
    display: block;
    padding-top: 4px;
}

#sectionView .goods_price .dc_price {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0;
    word-break: break-all;
}

#sectionView .goods_price .dc .won {
    padding: 0 7px 0 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    vertical-align: 2px;
    letter-spacing: 0;
}

#sectionView .goods_price .txt_benefit {
    display: block;
    overflow: hidden;
    padding-top: 10px;
}

#sectionView .goods_price .grade0 {
    color: #ff786e;
}

#sectionView .goods_price .ico_grade {
    float: left;
    height: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
}

#sectionView .goods_price .point {
    float: left;
    font-size: 14px;
    line-height: 18px;
}

#sectionView .goods_price .emph {
    font-weight: 700;
}

#sectionView .goods_info .list.fst {
    padding-bottom: 0;
    border-bottom: 0;
}

#sectionView .goods_info .list {
    overflow: hidden;
    padding: 18px 0;
    border-bottom: 1px solid #f4f4f4;
}

#sectionView .goods_info .tit {
    float: left;
    width: 128px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

#sectionView .goods_info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
}

.desc223 {
    padding-left: 128px;
}

#sectionView .goods_info .emph {
    display: block;
    padding-top: 4px;
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 16px;
}

#cartPut .cart_type2 {
    float: right;
    width: 560px;
    padding-bottom: 40px;
}

#cartPut .cart_option {
    background-color: #fff;
}

#cartPut * {
    font-family: noto sans;
    color: #333;
    letter-spacing: 0;
}

#cartPut .cart_type1 {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    bottom: 0;
    width: 100%;
}

#cartPut .notify_option {
    display: none;
    opacity: 0;
}

#cartPut .cart_type3 {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: 440px;
    max-height: 600px;
    margin-left: -220px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

#cartPut .cart_result {
    width: 360px;
    margin-left: -180px;
}

#cartPut .cart_result, #cartPut .cart_option.off, #cartPut .cart_option .tit_cart, #cartPut .cart_option .box_select, #cartPut .cart_option .bar_open, #cartPut .cart_option .view_function {
    display: none;
}

form {
    display: block;
    margin-top: 0em;
}

#cartPut .cart_footer {
    display: flex;
    width: 100%;
}

#cartPut .cart_type2 .list_goods {
    padding-bottom: 18px;
}

#cartPut .holiday_delivery {
    display: none;
    overflow: hidden;
    padding: 16px 0 18px;
    border-top: 1px solid #f4f4f4;
    font-size: 14px;
    color: #333;
    line-height: 16px;
}

#cartPut .cart_type2 .list_nopackage {
    padding: 0;
}

#cartPut .cart_type2 .list_nopackage li {
    float: none;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    border: 0;
}

#cartPut .cart_type2 .list li {
    float: right;
    width: 410px;
    padding: 11px 10px 11px 15px;
    margin-bottom: -1px;
    border: 1px solid #f4f4f4;
}

#cartPut .cart_option .list .btn_position {
    display: block;
    position: relative;
}




#cartPut .cart_type2 .list .name {
    padding: 0 63px 0 0;
}

#cartPut .cart_option .list .name {
    display: block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

#cartPut .cart_type2 .list_nopackage .tit_item {
    float: left;
    width: 128px;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.5px;
}



#cartPut .cart_type2 .list .option {
    padding-top: 8px;
}

#cartPut .cart_option .list .option {
    overflow: hidden;
}

#cartPut .cart_option .list .btn_del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
    background-size: 24px 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart_footer .button_wrap:not(:first-of-type) {
    margin-left: 135px;
}

#cartPut .cart_option .list .count {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

#cartPut .cart_type2 .list .price {
    float: right;
    padding: 5px 4px 0;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

#cartPut .cart_type2 .total {
    padding: 30px 0 20px;
    border-top: 1px solid #f4f4f4;
}

#cartPut .cart_option .list .down.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

#cartPut .cart_option .list .down {
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_minus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

#cartPut .cart_option .list .btn {
    overflow: hidden;
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart_option .list .inp {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: -1px;
    padding: 0 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
}

#cartPut .cart_option .list .up.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
}

#cartPut .cart_option .list .up {
    float: right;
    margin-left: -1px;
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_plus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

#cartPut .cart_type2 .list .dc_price {
    float: right;
}

#cartPut .cart_footer .functions {
    display: flex;
    align-items: center;
}

#cartPut .cart_option .total .price {
    overflow: hidden;
    text-align: right;
}

#cartPut .cart_option .total .tit {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
    padding-right: 11px;
}

#cartPut .cart_type2 .total .txt_point {
    padding-top: 13px;
}

#cartPut .cart_option .total .txt_point {
    display: block;
    padding-top: 14px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-align: right;
}



#cartPut .cart_option .total .ico {
    display: inline-block;
    width: 38px;
    height: 20px;
    margin-right: 2px;
    border-radius: 10px;
    background-color: #ffbf00;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    vertical-align: 1px;
}

.goods-view-tab.fixed {
    position: fixed;
    left: 0;
    top: 55px;
    width: 100%;
    min-width: 1010px;
    padding-right: 40px;
    z-index: 299;
    box-sizing: border-box;
}

#cartPut .cart_option .total .emph {
    font-weight: 700;
}

b, strong {
    font-weight: 700;
}

strong {
    font-weight: bold;
}


#cartPut .base_button {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #ff786e;
    border: 1px solid #ff786e;
    cursor: pointer;
}

#cartPut .cart_type1 .in_option {
    left: 0;
    bottom: 70px;
    width: 100%;
}

#cartPut .cart_type1 .cart_footer {
    width: 900px;
    justify-content: flex-end;
    margin: auto;
    padding-bottom: 60px;
}

#cartPut .cart_type1 .total {
    width: 900px;
    margin: 0 auto;
    padding: 23px 0 20px;
}

#cartPut .cart_type1 .bar_open {
    display: block;
    position: relative;
    height: 22px;
    border-top: 2px solid #5f0080;
}

#cartPut .cart_type1 .list {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}

#cartPut .cart_option .list {
    overflow: hidden;
    padding-bottom: 1px;
}

#cartPut .cart_type1 .btn_close {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: -50px;
    width: 170px;
    height: 48px;
    margin-left: 280px;
    border: 0;
    border-radius: 3px 3px 0 0;
    background-color: #5f0080;
    text-align: center;
}

#cartPut .cart_type1 .btn_close .ico.open {
    background: url(https://res.kurly.com/pc/service/goods/1910/ico_down_fff_24x24.png) no-repeat 100% -3px;
}

#cartPut .cart_type1 .btn_close .ico {
    padding: 0 30px 0 7px;
    background: url(https://res.kurly.com/pc/service/goods/1910/ico_up_fff_24x24.png) no-repeat 100% -3px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

#cartPut .cart_type1 .list li {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 9px 15px 10px 20px;
    background-color: #f7f7f7;
}

#cartPut .cart_type1 .list .btn_position {
    position: static;
}



#cartPut .cart_type1 .list_nopackage .btn_del {
    display: none;
}

#cartPut .cart_type1 .list .btn_del {
    right: 15px;
    top: 50%;
    margin-top: -12px;
}

#cartPut .cart_option .list .btn_del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
    background-size: 24px 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#cartPut .cart_type1 .list .option {
    position: absolute;
    left: 563px;
    top: 50%;
    width: 269px;
    margin-top: -16px;
}

#cartPut .cart_option .list .option {
    overflow: hidden;
}

#cartPut .cart_type1 .list .name {
    float: left;
    width: 523px;
    font-size: 14px;
    line-height: 24px;
}

#cartPut .cart_option .list .name {
    display: block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

#cartPut .cart_type1 .list .count {
    float: left;
    width: 88px;
    margin-top: 1px;
}

#cartPut .cart_type2 .list_nopackage .option {
    padding-top: 0;
}

#cartPut .cart_option .list .count {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

#cartPut .cart_type1 .list .price {
    float: right;
    width: 180px;
    padding-top: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.5px;
}

#cartPut .cart_option .list .price {
    font-weight: 700;
    text-align: right;
}

#cartPut .cart_option .total .num {
    padding-left: 8px;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    border: none;
}

#cartPut .cart_option .total .won {
    padding-left: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: -1px;
}

.goods-add-product {
    position: relative;
}

.goods-view-infomation {
    margin-top: 818px;
}

#goods-infomation, #goods-review, #goods-qna {
    padding-top: 100px;
    margin-bottom: 0;
}

.goods-view-infomation-content {
    padding-top: 100px;
    min-height: 500px;
    margin-bottom: 50px;
}

#goods-review {
    min-height: 850px;
}
.goods-view-tab.fixed {
    position: sticky;
    left: 0;
    top: -2px;
    width: 100%;
    min-width: 1010px;
    padding-right: 40px;
    z-index: 299;
    box-sizing: border-box;
}

.goods-view-infomation-tab-group {
    display: flex;
    width: 1100px;
    margin: -41px;
}

.goods-view-infomation-tab {
    display: flex;
    flex: 1;
    vertical-align: top;
}

.goods-view-infomation-tab:first-child .goods-view-infomation-tab-anchor {
    border-left: 1px solid #eee;
}

.goods-view-infomation-tab-anchor.__active {
    background-color: #fff;
    color: #DA291C;
    border-bottom: 0;
}

.goods-view-infomation-tab-anchor {
    flex: 1;
    position: relative;
    top: 1px;
    height: 60px;
    line-height: 59px;
    text-align: center;
    display: block;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.3px;
    font-family: noto sans;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-left: none;
}



.goods_wrap {
    width: 1010px;
    margin: 0 auto;
    font-family: noto sans;
    font-weight: 200;
    letter-spacing: 0;
}

.goods_wrap .goods_tip {
    margin-bottom: 170px;
}

.goods_wrap .context.last {
    margin-bottom: 170px;
}

.goods_wrap .context {
    margin-bottom: 130px;
}

.goods_wrap .goods_intro .context h3 {
    display: block;
    margin: 75px 0 0;
    padding-bottom: 35px;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
    color: #666;
}


#cartPut .cart_type2 .list_nopackage .price, #cartPut .cart_type2 .list_nopackage .name, #cartPut .cart_type2 .list_nopackage .btn_position {
    display: none;
}

#cartPut .cart_type2 .list_nopackage li {
    float: none;
    width: 100%;
    padding: 0 0 5px;
    margin: 0;
    border: 0;
}
.goods_wrap .goods_intro .context .words {
    margin-top: 28px;
}

.goods_wrap .context .words {
    margin-top: 55px;
    font-size: 18px;
    line-height: 32px;
    color: #373737;
}

.goods_wrap .goods_pick h3, .goods_point h3 {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 50px;
    width: 100%;
    margin-bottom: 70px;
    font-weight: 700;
    font-family: noto sans;
    font-weight: 700;
    color: #666;
}

.goods_point h3 span {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-left: 260px;
    padding: 0 15px;
    background: #fff;
    text-shadow: 2px 0;
}

.goods_wrap .goods_pick h3 span {
    position: relative;
    z-index: 10;
    display: inline-block;
    margin-left: 354px;
    padding: 0 15px;
    background: #fff;
    text-shadow: 2px 0;
}

.goods_wrap .sub_tit {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
}

.goods_wrap .option_tit {
    display: table-cell;
}

.goods_wrap .goods_tip .tip_box {
    margin-top: -15px;
    border: 1px solid #b9b9b9;
}

.goods_wrap .goods_tip h3 {
    display: inline-block;
    position: relative;
    z-index: 10;
    font-size: 30px;
    padding-left: 48px;
    font-weight: 700;
    font-family: noto sans;
    font-weight: 700;
    color: #666;
    letter-spacing: 1px;
}

.goods_wrap .goods_tip h3 span {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 0 10px;
    font-size: 36px;
    background: #fff;
    text-shadow: 2px 0;
}

.goods_wrap .goods_tip .tip_box .context {
    margin: 60px 62px;
}

.goods_wrap .tip_box .context .words {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
}

.goods_wrap .tip_box strong {
    display: block;
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 10px;
}

.goods_wrap .tip_box .context .words b {
    font-weight: 400;
    font-family: noto sans;
}

.goods-view-infomation-board {
    width: 100%;
}

/* 리뷰 창 */
body * {
    font-family: 'Noto Sans';
    font-weight: 400;
    letter-spacing: 0;
}

.goods_board .board_pg_area {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
}

.xans-product-additional div.board h2 {
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 5px;
}

.xans-product-additional table.xans-board-listheader {
    margin: 15px 0 0;
    color: #353535;
    font-size: 12px;
    line-height: 140%;
    table-layout: fixed;
}

.xans-board-listheader {
    border-top: 2px solid #522772;
    font-size: 13px;
    line-height: 140%;
}

.xans-product-additional .sort-wrap {
    position: relative;
}

.list_type1.old li {
    overflow: hidden;
    width: 100%;
}

.list_type1.old .ico {
    float: left;
    width: 4px;
    height: 4px;
    margin: 7px 8px 0 0;
    background-color: #514859;
    vertical-align: 2px;
}

.list_type1.old .txt {
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.3px;
}

.xans-product-additional .title_txt p {
    color: #939393;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 15px;
}

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

col {
    display: table-column;
}

.xans-product-additional table.xans-board-listheader th {
    padding: 25px 0 23px;
    vertical-align: middle;
    font-size: 12px;
}

.xans-board-listheader th {
    padding: 20px 0;
    vertical-align: middle;
    font-size: 12px;
}

td, th {
    padding: 0;
}

.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.xans-product-additional table.tbl_newtype1 td {
    height: auto;
    padding: 22px 3px 23px;
}

.xans-product-additional table.xans-board-listheaderd td {
    padding: 25px 3px 23px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    vertical-align: middle;
    height: 65px;
}

.goods_board .tbl_newtype1 .subject {
    padding-left: 50px;
    text-align: left;
}

.xans-product-additional table.tbl_newtype1 td {
    height: auto;
    padding: 22px 3px 23px;
}

.xans-product-additional table.tbl_newtype1 td.user_grade {
    padding: 22px 0 23px;
    line-height: 19px;
    text-align: left;
}

.goods_board .tbl_newtype1 .time {
    color: #939393;
}

.goods_board .review_view {
    display: none;
    padding: 10px 10px 11px;
    border-top: 1px solid #e3e3e3;
}

.goods_board .review_view .inner_review {
    width: 100%;
    padding: 20px 9px 9px;
    line-height: 25px;
}

.goods_board .review_photo {
    padding-top: 30px;
    line-height: 16px;
}

.goods_board .name_purchase .name {
    display: block;
    font-weight: 700;
    font-size: 12px;
    color: #514859;
    line-height: 18px;
}

script {
    display: none;
}

.review_photo img {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.xans-product-additional div.board .btnArea {
    padding: 10px 0;
    text-align: right;
    width: 100%;
    display: table;
}

.xans-product-additional div.board>.btnArea {
    border-top: 1px solid #6a3664;
}

.layout-pagination-button:first-child {
    border-left: 1px solid #ddd;
}

.layout-pagination-first-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}

.layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: top;
}

.layout-pagination-prev-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.layout-pagination-number:hover, .layout-pagination-number.__active {
    background-color: #f7f7f7;
    color: #5f0080;
}

.layout-pagination-number {
    font-weight: 700;
    color: #333;
    line-height: 34px;
}

.layout-pagination-next-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}

.layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}

a:active, a:hover {
    outline: 0;
}

.priceNum {
    font-weight: 500;
    color: #333;
    font-size: 16px !important;
    border: none !important;
    float: left;
    line-height: 18px;
    padding-left: 24px !important;
    padding-top: 8px !important;
    text-align: right;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.innerFooter {
    width: 80em !important;
}
/* 배송구분*/
#pickUpP {
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #8BC34A;
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 22px;
    vertical-align: middle;
    opacity: 0.2;
}
#deliveryP {
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #03A9F4;
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 22px;
    vertical-align: middle;
    opacity: 0.2;
}
#shippingP {
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #FFC107;
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 22px;
    vertical-align: middle;
    opacity: 0.2;
}
