.innerFooter {
    width: 79em !important;

}

html, body {
    height: 100%;
}

body {
    margin: 0;
}
/*상품페이지*/
#main {
    border-bottom: 1px solid #f7f7f7;
}

#content {
    min-width: 1050px;
    padding-bottom: 60px;
}

.page_aticle {
    width: 1050px;
    margin: 0 auto;
}

.page_aticle button, .page_aticle input, .page_aticle select, .page_aticle * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: 0;
}

#goodsList .list_goods {
    overflow: hidden;
}

.page_aticle .layout-pagination {
    font-size: 0;
}

#goodsList .sort_menu {
    padding-top: 19px;
}

#goodsList .count .inner_count {
    font-size: 12px;
    color: #333;
    line-height: 18px;
}

#goodsList .sort_menu .name_select {
    display: none;
}

#goodsList .sort_menu .list {
    float: right;
}

#lnbMenu {
    padding-top: 26px;
}

#lnbMenu .inner_lnb {
    position: relative;
}

#lnbMenu .tit {
    padding-top: 23px;
    font-weight: 700;
    font-size: 28px;
    color: #333;
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}

#lnbMenu .list {
    display: none;
    overflow: hidden;
    margin-top: 23px;
    padding: 12px 0 29px;
    border: 1px solid #e2e2e2;
}

#lnbMenu li {
    float: left;
    width: 263px;
    padding: 16px 44px 0 39px;
}

#lnbMenu li a:hover, #lnbMenu li .on {
    font-weight: 700;
    color: #DA291C;
}

#lnbMenu li.bg {
    display: none;
}

#goodsList .sort_menu .list li {
    position: relative;
    z-index: 2;
    float: left;
    padding: 0 10px 0 8px;
}

#goodsList .sort_menu .list a.on, #goodsList .sort_menu .list a:hover {
    color: #333;
}

#goodsList .sort_menu .recommend {
    position: relative;
    float: right;
}

#goodsList .sort_menu .layer_recommend {
    display: none;
    position: absolute;
    left: -50px;
    top: 27px;
    min-width: 272px;
    padding: 13px 14px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #fff;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

#goodsList .sort_menu .list a {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    letter-spacing: -.3px;
    cursor: pointer;
}

#goodsList .list_goods .inner_listgoods {
    overflow: hidden;
    width: 1050px;
}

#goodsList .list_goods .list {
    overflow: hidden;
    width: 1070px;
    margin-top: -10px;
}

#goodsList .list_goods li {
    float: left;
    width: 356px;
    height: 682px;
    padding: 25px 18px 0 0;
}

#goodsList .list_goods .item {
    display: block;
    background-color: #fff;
    cursor: pointer;
}

#goodsList .list_goods .thumb {
    display: block;
    position: relative;
    width: 100%;
    height: 435px;
    background-color: #f9f8f9;
}

#goodsList .list_goods .info {
    display: block;
    padding: 14px 10px 10px 0;
}



#goodsList .list_goods .thumb .img {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#goodsList .list_goods .thumb .group_btn {
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: 15px;
    width: 45px;
}

#goodsList .list_goods .thumb .btn_cart {
    background: url(/front/images/장바구니.png) no-repeat 50% 50%;
    background-size: 45px 45px;
}

.screen_out {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#goodsList .list_goods .name {
    display: block;
    overflow: hidden;
    max-height: 58px;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

#goodsList .list_goods .cost {
    display: block;
    padding-top: 7px;
    font-size: 18px;
    line-height: 29px;
}

#goodsList .list_goods .cost .price {
    font-weight: 800;
    color: #333;
}

#goodsList .list_goods .desc {
    display: block;
    padding-top: 11px;
    font-size: 13px;
    color: #999;
    line-height: 19px;
}

#goodsList .list_goods .tag {
    display: block;
    padding: 12px 10px 10px 0;
    cursor: default;
}

#goodsList .list_goods .cost .dc {
    padding-right: 2px;
    font-weight: 800;
    color: #fa622f;
}

#goodsList .list_goods .cost .original {
    display: block;
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
}

.global_sticker {
    display: block;
    position: relative;
    height: 0;
}

.global_sticker .inner_sticker {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}

.global_sticker .bg_sticker {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: #ff786e;
    opacity: .9;
}

.global_sticker .txt_sticker {
    position: relative;
    z-index: 1;
}

.global_sticker .txt_sticker span {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    vertical-align: top;
    font-size: 0;
}

.global_sticker .txt_sticker .emph_sticker {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
}

#goodsList .list_goods .thumb img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: all .5s ease-in-out;
}

#goodsList .list_goods .thumb .img:hover>img {
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}



a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div {
    display: block;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}

#header, #container, #content {
    position: relative;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

img {
    border: 0;
}

img, video, canvas {
    max-width: 100%;
}

.group_btn {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#goodsList .list_goods .thumb .btn {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border: 0;
}

.group_btn .btn {
    overflow: hidden;
    float: left;
    width: 150px;
    height: 42px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
}

#goodsList .count {
    float: left;
}

ol, ul {
    list-style-type: none;
}

#goodsList .sort_menu:after {
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    clear: both;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
    border-radius: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.layout-pagination {
    margin: 60px 0 0;
    text-align: center;
}

.page_aticle .layout-pagination-button:first-child {
    border-left: 0;
}

.page_aticle .layout-pagination-first-page:first-child {
    border-left: 1px solid #ddd;
}

.page_aticle .layout-pagination a {
    cursor: pointer;
}

.page_aticle .layout-pagination a, .page_aticle .layout-pagination strong {
    font-weight: 700;
    font-size: 12px;
}

.layout-pagination-button:first-child {
    border-left: 1px solid #ddd;
}

.layout-pagination-first-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-first.png);
}

.layout-pagination-first-page, .layout-pagination-prev-page, .layout-pagination-next-page, .layout-pagination-last-page {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
}

.layout-pagination-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: top;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.innerFooter {
    width: 79em !important;
}

.page_aticle .layout-pagination a:hover {
    background-color: #f7f7f7;
}

.layout-pagination-prev-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-prev.png);
}

.layout-pagination-number:hover, .layout-pagination-number.__active {
    background-color: #f7f7f7;
    color: #DA291C;
}

.layout-pagination-number {
    font-weight: 700;
    color: #333;
    line-height: 34px;
}

.layout-pagination-next-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-next.png);
}

.layout-pagination-last-page {
    background-image: url(https://res.kurly.com/pc/etc/old/images/common/icon-pagination-last.png);
}

#goodsList .list_goods .tag .ico1 {
    display: inline-block;
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #03A9F4;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    vertical-align: middle;
}

#goodsList .list_goods .tag .ico2 {
    display: inline-block;
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #8BC34A;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    vertical-align: middle;
}

#goodsList .list_goods .tag .ico3 {
    display: inline-block;
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #FFC107;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    vertical-align: middle;
}

#goodsList .list_goods .tag .tag_type2 {
    color: white;
}

/* 장바구니 모달창*/

.cartPut .cart_result, .cartPut .cart_option.off, .cartPut .cart_option1.off, .cartPut .cart_option .tit_cart, .cartPut .cart_option .box_select, .cartPut .cart_option .bar_open, .cartPut .cart_option .view_function {
    display: none;
}

.cartPut .cart_type3 {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: 440px;
    max-height: 600px;
    margin-left: -220px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.cartPut .cart_option {
    background-color: #fff;
}

#gnb .gnb_sub {
    overflow: hidden !important;
    position: absolute !important;
    z-index: 301!important;
    left: 426px!important;
    top: 190px!important;
    width: 139px!important;
}

.cartPut * {
    font-family: noto sans;
    color: #333;
    letter-spacing: 0;
}

.modal{
    padding: 12px;
}

.cartPut .cart_type3 .inner_option {
    padding: 0 30px;
}

.cartPut .cart_type3 .btn_close1 {
    display: none;
}

.cart_modal_footer {
    display: flex;
    align-items: center;
    padding: 20px 0 30px;
}

.cartPut .cart_type3 .base_button.half {
    width: 50%;
}
.cartPut .cart_type3 .base_button1.half {
    width: 97%;
    margin-left: 8px;
    margin-top: 6px;
}
.cartPut .cart_type3 .base_button2.half {
    width: 97%;
    margin-left: 8px;
    margin-top: 6px;
}

.cartPut .base_button {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #DA291C;
    border: 1px solid #DA291C;
    cursor: pointer;
}
.cartPut .base_button1 {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #DA291C;
    border: 1px solid #DA291C;
    cursor: pointer;
}

.imgIcon{
    width: 25px;
}
.cartPut .base_button2 {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #5f0081;
    border: 1px solid #5f0081;
    cursor: pointer;
}

.cart_modal_footer button:not(:first-of-type) {
    margin-left: 8px;
}

button {
    outline: none;
}

.cartPut .cart_type3 .list_goods {
    width: 380px;
}

.cartPut .cart_type3 .total {
    padding-top: 20px;
}

.cartPut .cart_type3 .list_nopackage {
    padding-top: 30px;
    min-height: 148px;
}

.cartPut .cart_type3 .list {
    overflow: hidden;
    overflow-y: auto;
    width: 400px;
    max-height: 355px;
    min-height: 120px;
}

.cartPut .cart_option .list {
    overflow: hidden;
    padding-bottom: 1px;
}

.cartPut .cart_type3 .list_nopackage li {
    border: 0;
}

.cartPut .cart_type3 .list li {
    width: 380px;
    padding: 11px 0;
    border-bottom: 1px solid #f4f4f4;
}



.cartPut .cart_option .list .btn_position {
    display: block;
    position: relative;
}

.cartPut .cart_type3 .list .name {
    font-size: 14px;
    letter-spacing: 0;
}

.cartPut .cart_option .list .name {
    display: block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.cartPut .cart_type3 .list .option {
    padding-top: 7px;
}

.cartPut .cart_option .list .option {
    overflow: hidden;
}

.cartPut .cart_option .list .btn_del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
    background-size: 24px 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}



.cartPut .cart_option .list .count {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

.cartPut .cart_type3 .list .price {
    float: left;
    padding: 7px 0 0;
    font-size: 14px;
    letter-spacing: 0;
}

.cartPut .cart_option .list .price {
    font-weight: 700;
    text-align: right;
}

.cartPut .cart_option .list .down.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

.cartPut .cart_option .list .down {
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_minus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

.cartPut .cart_option .list .btn {
    overflow: hidden;
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.cartPut .cart_option .list .inp {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: -7px;
    padding: 0 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
    margin-left: 5px;
}

.cartPut .cart_option .list .up.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
}

.cartPut .cart_option .list .up {
    float: right;
    margin-left: -1px;
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_plus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

.cartPut .cart_type3 .list .dc_price {
    padding-right: 4px;
    font-weight: 800;
}

.cartPut .cart_option .total .price {
    overflow: hidden;
    text-align: right;
}

.cartPut .cart_type3 .total .txt_point {
    padding-top: 6px;
}

.cartPut .cart_option .total .txt_point {
    display: block;
    padding-top: 14px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-align: right;
}

.cartPut .cart_type3 .total .tit {
    float: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
    vertical-align: 0;
}

.cartPut .cart_option .total .tit {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
}

.cartPut .cart_type3 .total .sum {
    float: right;
    margin-top: -1px;
}

.cartPut .cart_type3 .total .num {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1px;
}

.cartPut .cart_option .total .num {
    padding-left: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
}

.cartPut .cart_type3 .total .won {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
    vertical-align: 3px;
}

.cartPut .cart_option .total .won {
    padding-left: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: -1px;
}

.cartPut .base_button.cancel {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
.cartPut .base_button1.cancel2 {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
.cartPut .base_button2.cancel {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}

.bg_loading {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(https://res.kurly.com/pc/img/1909/img_loading_128x128.gif) no-repeat 50% 50%;
    background-size: 16px 16px;
}

.cartPut .cart_type3 .list .btn_position {
    display: none;
}

.cartPut .cart_type3 .list .count {
    float: right;
}

#goodsList .sort_menu .list li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: #e5e5e5;
}
#goodsList .sort_menu .list li:last-child::after {
    content: none;
}

#pickUpB{
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color:black;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    vertical-align: middle;
    opacity: 0.2;
    color: #fff !important;
    border-color: #8BC34A;
    box-shadow: none!important;

}
#deliveryB{
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: black;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    vertical-align: middle; 
    opacity: 0.2;
    color: #fff !important;
    border-color: #8BC34A;
    box-shadow: none!important;

}
#shippingB{
    height: 22px;
    margin-right: 6px;
    padding: 0 8px;
    border-radius: 4px;
    background-color:black;
    font-weight: 700;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    vertical-align: middle;
    opacity: 0.2;
    color: #fff !important;
    border-color: #8BC34A;
    box-shadow: none!important;
}
.receiveMethod{
    padding: 22px 0 0 154px;

}
.receiveMethodMsg{
    padding-right: 4px;
    font-weight: 800;
    font-family: noto sans;
    color: #333;
    letter-spacing: 0;
}
.receiveMethodMsgWrap{
    font-weight: 700;
    text-align: right;
    float: left;
    padding: 7px 0 0;
    font-size: 14px;
    letter-spacing: 0;
}
img.mainNewImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}