<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lastfresh.mapper.product.ProductMapper">
<!--    <select id="getList" resultType="">-->
<!--    </select>-->

<!--    <insert id="insert">-->
<!--    </insert>-->

<!--    <insert id="insertSelectBno">-->
<!--    </insert>-->

<!--    <update id="update">-->
<!--    </update>-->

<!--    <delete id="delete">-->
<!--    </delete>-->

<!--    <select id="get" resultType="">-->
<!--    </select>-->

<!--    <select id="getTotal" resultType="_int">-->
<!--    </select>-->

<!--    <update id="updateReplyCount">-->
<!--    </update>-->
</mapper>