<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lastfresh.mapper.product.ProductMapper">
    <select id="getList" resultType="ProductVO">
        <![CDATA[
        SELECT  @ROWNUM := @ROWNUM + 1 AS ROWNUM,
          T.*
        FROM  TBL_SELL_PRODUCT T,(SELECT @ROWNUM := 0 ) TMP
        ORDER BY SELL_PRODUCT_NUM desc
         limit #{limit},6
        ]]>
    </select>

    <select id="get" resultType="ProductVO">
    SELECT SELL_PRODUCT_NUM, USER_NUM, SELL_PRODUCT_CATEGORY, SELL_PRODUCT_NAME, SELL_PRODUCT_ORIGIN_PRICE, SELL_PRODUCT_DISCOUNT_PRICE, SELL_PRODUCT_EXPIRE_DATE, SELL_PRODUCT_STOCK, SELL_PRODUCT_STATUS, SELL_PRODUCT_PICKUP, SELL_PRODUCT_DELIVERY_METHOD, SELL_PRODUCT_DELIVERY_ADDRESS1, SELL_PRODUCT_DELIVERY_ADDRESS2, SELL_PRODUCT_DELIVERY_ADDRESS3, SELL_PRODUCT_SHIPPING_METHOD, SELL_PRODUCT_ADDRESS, SELL_PRODUCT_ADDRESS_DETAIL, SELL_PRODUCT_ADDRESS_POST_NUM, SELL_PRODUCT_DESCRIPTION, SELL_PRODUCT_PHONE, SELL_PRODUCT_THUMBNAIL, SELL_PRODUCT_IMAGE, SELL_PRODUCT_IMAGE_UPLOAD_PATH, SELL_PRODUCT_IMAGE_UUID
    FROM TBL_SELL_PRODUCT
    WHERE SELL_PRODUCT_NUM =#{sellProductNum}
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(SELL_PRODUCT_NUM) FROM TBL_SELL_PRODUCT
    </select>

    <select id="getPickupTotal" resultType="_int">
       SELECT COUNT(SELL_PRODUCT_NUM) FROM TBL_SELL_PRODUCT WHERE SELL_PRODUCT_PICKUP = 0
    </select>

    <select id="getPickupList" resultType="ProductVO">
        <![CDATA[
        SELECT  @ROWNUM := @ROWNUM + 1 AS ROWNUM,
          T.*
        FROM  TBL_SELL_PRODUCT T,(SELECT @ROWNUM := 0 ) TMP
        WHERE SELL_PRODUCT_PICKUP =0
        ORDER BY SELL_PRODUCT_NUM desc
         limit #{limit},6
        ]]>
    </select>

    <select id="getDeliveryTotal" resultType="_int">
       SELECT COUNT(SELL_PRODUCT_NUM) FROM TBL_SELL_PRODUCT WHERE SELL_PRODUCT_DELIVERY_METHOD in(1,2)
    </select>

    <select id="getDeliveryList" resultType="ProductVO">
        <![CDATA[
        SELECT  @ROWNUM := @ROWNUM + 1 AS ROWNUM,
          T.*
        FROM  TBL_SELL_PRODUCT T,(SELECT @ROWNUM := 0 ) TMP
        WHERE SELL_PRODUCT_DELIVERY_METHOD in(1,2)
        ORDER BY SELL_PRODUCT_NUM desc
         limit #{limit},6
        ]]>
    </select>

    <select id="getShippingTotal" resultType="_int">
       SELECT COUNT(SELL_PRODUCT_NUM) FROM TBL_SELL_PRODUCT WHERE SELL_PRODUCT_SHIPPING_METHOD in(1,2)
    </select>

    <select id="getShippingList" resultType="ProductVO">
        <![CDATA[
        SELECT  @ROWNUM := @ROWNUM + 1 AS ROWNUM,
          T.*
        FROM  TBL_SELL_PRODUCT T,(SELECT @ROWNUM := 0 ) TMP
        WHERE SELL_PRODUCT_SHIPPING_METHOD in(1,2)
        ORDER BY SELL_PRODUCT_NUM desc
         limit #{limit},6
        ]]>
    </select>
    <select id="getListByReview" resultType="productVO">
        select p.SELL_PRODUCT_NUM, p.USER_NUM,p.SELL_PRODUCT_CATEGORY,p.SELL_PRODUCT_NAME,
         p.SELL_PRODUCT_ORIGIN_PRICE,p.SELL_PRODUCT_DISCOUNT_PRICE,p.SELL_PRODUCT_EXPIRE_DATE,SELL_PRODUCT_STOCK
         ,p.SELL_PRODUCT_STATUS,p.SELL_PRODUCT_THUMBNAIL,p.SELL_PRODUCT_IMAGE,p.SELL_PRODUCT_IMAGE_UPLOAD_PATH,
         p.SELL_PRODUCT_IMAGE_UUID, count(r.review_num) review_count
         from TBL_SELL_PRODUCT p join TBL_REVIEW r
        on p.SELL_PRODUCT_NUM = r.SELL_PRODUCT_NUM
        group by p.SELL_PRODUCT_NUM, p.USER_NUM,p.SELL_PRODUCT_CATEGORY,p.SELL_PRODUCT_NAME,
         p.SELL_PRODUCT_ORIGIN_PRICE,p.SELL_PRODUCT_DISCOUNT_PRICE,p.SELL_PRODUCT_EXPIRE_DATE,SELL_PRODUCT_STOCK
         ,p.SELL_PRODUCT_STATUS,p.SELL_PRODUCT_THUMBNAIL,p.SELL_PRODUCT_IMAGE,p.SELL_PRODUCT_IMAGE_UPLOAD_PATH,
         p.SELL_PRODUCT_IMAGE_UUID
        order by review_count desc limit 4;
    </select>

    <select id="getImages" resultType="productVO">
        SELECT SELL_PRODUCT_THUMBNAIL, SELL_PRODUCT_IMAGE, SELL_PRODUCT_IMAGE_UPLOAD_PATH, SELL_PRODUCT_IMAGE_UUID
        FROM tbl_sell_product
       where SELL_PRODUCT_NUM= #{SELL_PRODUCT_NUM};
    </select>

    <insert id="getBasketInfo" >
        INSERT INTO tbl_basket
        (USER_NUM, SELL_PRODUCT_NUM, BASKET_QUANTITY, BASKET_DELIVERY_METHOD, BASKET_GO_ORDER)
        VALUES(	#{USER_NUM}, #{SELL_PRODUCT_NUM}, #{BASKET_QUANTITY}, #{BASKET_DELIVERY_METHOD}, 0);
    </insert>

<!--    <update id="updateReplyCount">-->
<!--    </update>-->
</mapper>