<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lastfresh.mapper.product.ProductMapper">
    <select id="getList" resultType="ProductVO">
        <![CDATA[
        SELECT * FROM TBL_SELL_PRODUCT WHERE SELL_PRODUCT_NUM > 0
        ]]>
    </select>

<!--    <select id="get" parameterType="long" resultType="ProductVO">-->
<!--    SELECT SELL_PRODUCT_NUM, SELL_PRODUCT_NAME, SELL_PRODUCT_DISCOUNT_PRICE-->
<!--    </select>-->

    <select id="getTotal" resultType="_int">
        SELECT COUNT(SELL_PRODUCT_NUM) FROM TBL_SELL_PRODUCT
    </select>

    <select id="getListByReview" resultType="productVO">
        select p.SELL_PRODUCT_NUM, p.USER_NUM,p.SELL_PRODUCT_CATEGORY,p.SELL_PRODUCT_NAME,
         p.SELL_PRODUCT_ORIGIN_PRICE,p.SELL_PRODUCT_DISCOUNT_PRICE,p.SELL_PRODUCT_EXPIRE_DATE,SELL_PRODUCT_STOCK
         ,p.SELL_PRODUCT_STATUS,p.SELL_PRODUCT_THUMBNAIL,p.SELL_PRODUCT_IMAGE,p.SELL_PRODUCT_IMAGE_UPLOAD_PATH,
         p.SELL_PRODUCT_IMAGE_UUID, count(r.review_num) review_count
         from TBL_SELL_PRODUCT p join TBL_REVIEW r
        on p.SELL_PRODUCT_NUM = r.SELL_PRODUCT_NUM
        group by p.SELL_PRODUCT_NUM, p.USER_NUM,p.SELL_PRODUCT_CATEGORY,p.SELL_PRODUCT_NAME,
         p.SELL_PRODUCT_ORIGIN_PRICE,p.SELL_PRODUCT_DISCOUNT_PRICE,p.SELL_PRODUCT_EXPIRE_DATE,SELL_PRODUCT_STOCK
         ,p.SELL_PRODUCT_STATUS,p.SELL_PRODUCT_THUMBNAIL,p.SELL_PRODUCT_IMAGE,p.SELL_PRODUCT_IMAGE_UPLOAD_PATH,
         p.SELL_PRODUCT_IMAGE_UUID
        order by review_count desc limit 4;
    </select>

<!--    <update id="updateReplyCount">-->
<!--    </update>-->
</mapper>