/* 컬리 */
.price {
    float:right;
    margin-top: -31px;
}

.delBtn {
    float:right;
    margin-top: -22px;
    margin-left: 20px;
}

.priceNum{
    font-weight: 500;
    color: #333;
    font-size: 16px !important;
    border: none !important;
    float: left;
    line-height: 18px;
    padding-left: 24px !important;
    padding-top: 8px !important;
    text-align: right;
}


.btn_delete {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -13px;
    border: 0;
    background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

input[type=text].priceNum:focus{
    border: none !important;
    box-shadow: none !important;
}

.btn_delete:hover {
    background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.count {

    left: 473px;
    top: 50%;
    border: solid 1px #DDD;
    float: right;
    margin-top: -29px;
}

.stamper {
    width: 88px;
    height: 30px;
    border-radius: 3px;
    margin-right: 45px;
}

.btn.minus.off {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
    /* 회색 background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus.svg); */
}

.btn.minus,  .btn.minus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.btn.minus {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

.btn {
    width: 100%;
    height: 52px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

.stamper .btn {
    width: 30px;
    height: 30px;
}

.stamper .btn {
    float: left;
    width: 30px;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
}

.stamper .num {
    width: 26px;
    height: 30px;
    padding-bottom: 4px;
    font-weight: 400;
    line-height: 18px;
}
button.btn.plus {
    width: 21px;
}

.stamper .num {
    float: left;
    width: 36px;
    height: 26px;
    padding: 0;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    text-align: center;
    margin-left: -5px;
}

.stamper .btn.plus, .stamper .btn.plus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.stamper .btn.plus {
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_plus_on.svg);
}




/*주문금액*/

.amount_view {
    padding: 9px 18px 18px 20px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
}
.amount_view .amount {
    padding-top: 9px;
}

.amount_view .amount .tit {
    float: left;
    width: 80px;
    font-weight: 400;
    letter-spacing: -.5px;
}

.amount_view .amount .price {
    float: right;
}

.amount_view .amount .tit {
    float: left;
    width: 90px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.amount_view dl{
    margin: 0px;
    margin-top: 5px;
}

.final{
    font-weight: 500 !important;
    font-size: 21px !important;
}



.num{
    letter-spacing: -.5px;
    font-size: 18px;
}

.won{
    font-size:16px;
}

.amount_view {
    padding: 9px 18px 30px 20px !important;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
    margin-bottom: 21px !important;
}

.notice .txt {
    display: block;
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 41px 0 0 5px;

}

.notice .txt2 {
    display: block;
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.5px;
    font-weight: 400;
    padding: 5px 0 0 5px;

}

.btn2 {
    width: 100%;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    outline: none;
}

/*-----------반응형---------------------------------------------------*/


@media screen and (max-width:768px) {

    #wrapper {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    #title {
        margin-top: 40px;
        margin-bottom: 28px;
    }

    .slicer {
        display:none;
    }

    .leftBox {
        float: left;
        width: 100%;
        background-color: white;
        text-align: left;
        padding: 0 20px;
    }

    .hrSlicer {
        border-top: solid 6px #f4f4f4;
        margin: 1em 0 1em 0;
        width: 114%;
        margin-left: -22px;

    }

    .productPic {
        float: left;
        width: 55px;
        margin: 0px 22px 0 15px;
        margin-top: 45px !important;
    }

    .productName {
        float: left;
        margin-left: -74px;
    }

    .selectDel{
        float:right;
        margin-bottom: -8px;
        font-size: 13px !important;
    }

    .selectAll {
        font-size: 15px;}

    .price {
        float: left;
        margin-top: 42px;
        margin-left: -199px;
    }
    .delBtn {
        float: right;
        margin-top: -22px;
        margin-left: 20px;
    }

    .priceNum {
        font-weight: 500;
        color: #333;
        font-size: 16px !important;
        border: none !important;
        float: left;
        line-height: 18px;
        padding-left: 24px !important;
        padding-top: 8px !important;
        text-align: right;
        font-size: 18px !important;
        margin-top: -9px;
    }


    .btn_delete {
        width: 30px;
        height: 30px;
        padding: 0;
        margin-top: 25px;
        border: 0;
        background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 50% 50%;
    }

    input[type=text].priceNum:focus {
        border: none !important;
        box-shadow: none !important;
    }

    .btn_delete:hover {
        background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 50% 50%;
    }

    .count {

        left: 473px;
        top: 50%;
        border: solid 1px #DDD;
        float: right;
        margin-top: -29px;
    }

    .stamper {
        width: 88px;
        height: 30px;
        border-radius: 3px;
        margin-right: 111px;
        margin-top: 59px;
    }

    .btn.minus.off {
        background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
        /* 회색 background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus.svg); */
    }

    .btn.minus, .btn.minus.off {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 50% 50%;
    }

    .btn.minus {
        background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
    }

    .btn {
        width: 100%;
        height: 52px;
        border: 0;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        text-align: center;
        outline: none;
    }

    .stamper .btn {
        width: 30px;
        height: 30px;
    }

    .stamper .btn {
        float: left;
        width: 30px;
        border: 0;
        font-size: 0;
        text-indent: -9999px;
    }

    .stamper .num {
        width: 26px;
        height: 30px;
        padding-bottom: 4px;
        font-weight: 400;
        line-height: 18px;
    }

    button.btn.plus {
        width: 21px;
    }

    .stamper .num {
        float: left;
        width: 36px;
        height: 26px;
        padding: 0;
        border: 0;
        font-weight: 600;
        font-size: 14px;
        color: #333;
        line-height: 20px;
        text-align: center;
        margin-left: -5px;
    }

    .stamper .btn.plus, .stamper .btn.plus.off {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 50% 50%;
    }

    .stamper .btn.plus {
        background-image: url(https://res.kurly.com/pc/service/common/2009/ico_plus_on.svg);
    }


    /*주문금액*/
    .amount_view {
        padding: 9px 18px 18px 20px;
        border: 1px solid #f2f2f2;
        background-color: #fafafa;
    }

    .amount_view .amount {
        padding-top: 9px;
    }

    .amount_view .amount .tit {
        float: left;
        width: 80px;
        font-weight: 400;
        letter-spacing: -.5px;
    }

    .amount_view .amount .price {
        float: right;
    }

    .amount_view .amount .tit {
        float: left;
        width: 90px;
        font-size: 16px;
        line-height: 24px;
        white-space: nowrap;
    }

    .amount_view dl {
        margin: 0px;
        margin-top: 5px;
    }

    .final {
        font-weight: 500 !important;
        font-size: 21px !important;
    }


    .num {
        letter-spacing: -.5px;
        font-size: 18px;
    }

    .won {
        font-size: 16px;
    }

    .amount_view {
        padding: 9px 18px 30px 20px !important;
        border: 1px solid #f2f2f2;
        background-color: #fafafa;
        margin-bottom: 21px !important;
    }

    .notice .txt {
        display: block;
        position: relative;
        font-size: 12px;
        color: #666;
        line-height: 18px;
        letter-spacing: -.5px;
        font-weight: 400;
        padding: 41px 0 0 5px;

    }

    .notice .txt2 {
        display: block;
        position: relative;
        font-size: 12px;
        color: #666;
        line-height: 18px;
        letter-spacing: -.5px;
        font-weight: 400;
        padding: 5px 0 0 5px;

    }

    .btn2 {
        width: 100%;
        border: 0;
        border-radius: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        outline: none;
    }

    .mobileSlicer{
        border-top: solid 6px #f4f4f4 !important;
        margin: 1em 0 1em 0 !important;
        width: 114%;
        margin-left: -22px !important;
    }
    .amount_view {
        margin-top: -62px;
        /*  padding: !important;*/
        border: 1px solid white;
        background-color: white;
        margin-bottom: 21px !important;
        width: 360px;
    }

    .mobileTxt{
        display: none !important;

    }

    .prod{
        margin: 0 !important;
        height: 100px;
    }

    .productSlice {
        border-top: solid 1px #f4f4f4;
        height: 1px;
        /* margin: 2.5em 0 2.5em 0; */
    }

}
