@import url("static/front/assets/css/fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");

#wrapper{
    text-align: center;
    margin: 0 auto;
    width: 56em;
}

#title{
    margin-top:100px;
    margin-bottom:70px;
}

.user_form * {
    font-family: 'Noto Sans';
    font-weight: 400;
    letter-spacing: -0.3px;
    text-align: left;
    color:#000000;
}

*{
    font-family: 'Noto Sans KR', sans-serif
}

input::placeholder {
    color: #ddd !important;
}

input::-webkit-input-placeholder {
    color: #ddd !important;
}

/*---------체크 박스-------*/

[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    color: #DA291C;
    vertical-align: sub;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: white;
    transition: background 300ms;
    cursor: pointer;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}



/*-------------상품 목록 -------*/
.leftBox{
    float:left;
    width:71%;
    background-color: white;
    text-align: left;
}

.rightBoxContainer{
    display: flex;
    padding-left: 25px;
    padding-top: 53px;
    text-align: left;
}

.finalPrice{
    text-align: right;

}

.selectAll{
    margin-left: 29px;
    padding: 12px 7px 16px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -.3px;
    color: #666666;
    vertical-align: text-bottom;
}

.slicer{
    color: lightgray;
    font-size: 20px;
    vertical-align: text-bottom;
}

.deliveryIcon{
    width: 30px;
    float:left;
}

.deliveryTitle{
    font-size: 18px;
    padding: 3px 0 0;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
    margin-left: 15px;
}

.productName{
    overflow: hidden;
    max-height: 54px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size:16px;
    color:#333333;
}

.productPic{
    float: left;
    width: 60px;
    margin: 0px 22px 0 25px;
    margin-top: -23px;
}

.productSlice{
    border-top: solid 1px #f4f4f4;
    height: 1px;
    margin: 2.5em 0 2.5em 0;
}

.hrSlicer{
    border-top: solid 1px black; margin: 1em 0 1em 0;
}


element.style {
}

/*------------------------주문서 상품 부분 */
.order_goodslist.on .info_product .btn {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

.order_goodslist .info_product .btn {
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: -45px;
    width: 30px;
    height: 30px;
    border: 0;
    background: url(https://res.kurly.com/pc/service/cart/2007/ico_dropup.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.order_goodslist .thumb img {
    width: 60px;
    height: 78px;
}

.order_goodslist .name .inner_name {
    display: table-cell;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    vertical-align: middle;
}

.order_goodslist.on .list_product {
    display: block;
}

ul.list_product li {
    overflow: hidden;
    height: 128px;
    border-bottom: 1px solid #f4f4f4;
}

.order_goodslist .name {
    display: table;
    float: left;
    width: 739px;
    height: 100%;
    padding-right: 20px;
}


.order_goodslist .thumb {
    overflow: hidden;
    float: left;
    width: 60px;
    height: 78px;
    margin: 25px 20px 0 0;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.order_goodslist .ea {
    float: left;
    width: 100px;
    height: 100%;
    padding-top: 52px;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    text-align: center;
    letter-spacing: -.22px;
}


.order_goodslist ul{
    padding-left: 0em;
}

.order_goodslist ul li{
    padding-left: 0em;
}

span#paper_goodsprice {
    color: #999999;
}

.order_goodslist .info_price {
    display: table;
    float: right;
    width: 120px;
    height: 100%;
    padding-right: 4px;
}

.order_goodslist .info_price .num {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.order_goodslist .info_price .price {

    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    white-space: nowrap;
    text-align: right;
}


.myWon{
    font-size: 16px;
    font-weight: 600;
}

.pickupBtn {
    background: #8BC34A !important;
    color: white;
    font-weight: 700 !important;
    padding: 2px 9px;
    margin-left: 12px;
    border-radius: 5px;
    font-size: 14px;
}

.deliveryBtn {
    background: #03A9F4 !important;
    color: white;
    font-weight: 700 !important;
    padding: 2px 9px;
    margin-left: 12px;
    border-radius: 5px;
    font-size: 14px;
}

.shippingBtn {
    background: #FFC107 !important;
    color: white;
    font-weight: 700 !important;
    padding: 2px 9px;
    margin-left: 12px;
    border-radius: 5px;
    font-size: 14px;
}

/* ------------------------수량 버튼 */
.amount{
    height: 31px;
    font-size: revert !important;
    color: #333333;
    font-weight: 400;
}

input[type="button"].quantity {
    background: white;
    color: black !important;
    width: 22px;
    font-size: 22px;
    font-weight: 400;
    float:left;
}

.classBtn{
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_plus_on.svg);
}












/*--------------------------주문서*/

/* 주문서_공통 */
.user_form *{font-family: 'Noto Sans';font-weight:400;letter-spacing:-0.3px; text-align: left;}
.user_form input[type="text"]{width:332px;height:44px;padding:12px 16px;border:1px solid #ddd;border-radius:3px;background-color:#fff;font-size:14px;color:#333;letter-spacing:-0.5px;outline:none}
.user_form input[type="text"]:focus{border:1px solid #333}
.user_form input[type="radio"]{position:relative;z-index:-1;vertical-align:0}
.user_form .bar span{position:absolute;left:3px;top:17px;width:8px;height:1px;background-color:#d8d8d8}

/* 공통_테이블 */
.goodsinfo_table{border-top:1px solid #333;border-bottom:none}
.goodsinfo_table th{width:190px;padding:25px 0 0;font-weight:600;font-size:14px;color:#333;line-height:24px;letter-spacing:-0.32px;vertical-align:top}
.goodsinfo_table td{position:relative;padding:8px 0;font-size:14px;color:#333;line-height:24px;vertical-align:top}
.tbl_left{float:left;width:742px}
.order_section .section_crux{float:left;width:190px;padding-top:19px;font-weight:bold;font-size:14px;color:#333;line-height:24px;letter-spacing:-0.32px}
.order_section .section_full{overflow:hidden;padding:19px 20px 20px 0}
/* 레이어타입_리스트타입 */
.layer_selectbox li{padding:13px 30px 14px 37px;border-top:1px solid #999;font-size:12px;line-height:18px;letter-spacing:-0.2px}
.layer_selectbox li.fst{border-top:0 none}
.layer_selectbox li:hover{background-color:#f7f7f7;cursor:pointer}

/* 주문자정보 */
.data_orderer .goodsinfo_table .fst th{padding-top:19px; font-weight: 600;}
.data_orderer .goodsinfo_table .fst td{padding-top:19px}
.data_orderer .orderer{margin-bottom:10px}
.data_orderer .orderer th{padding-top:18px}
.data_orderer .orderer .fst th{padding-top:28px}
.data_orderer .orderer td{padding:10px 0}
.data_orderer .orderer .fst td{padding-top:20px}


/* 배송정보_배송지 */
.order_address{border-top:1px solid #333;border-bottom:1px solid #f4f4f4}



/* 결제금액_sticky */
.tax_absolute{position:relative;float:right;width:284px;height:0}
.tax_absolute .inner_sticky{position:absolute;right:0;top:0;width:100%}
#orderitem_money_info{width:100%;padding:18px 19px 34px 20px;background:#fafafa;border:1px solid #f2f2f2}

#orderitem_money_info .fst{padding-top:0;padding-bottom:4px}
#orderitem_money_info .lst{margin:17px 0 0 0;padding-top:15px;border-top:1px solid #eee}
#orderitem_money_info .lst .tit{padding-top:2px}
#orderitem_money_info .tit,
#orderitem_money_info .lst .totalPrice .won,
#orderitem_money_info .totalPrice{font:normal 16px/24px 'Noto Sans';vertical-align:top}
#orderitem_money_info .lst .totalPrice .won{vertical-align:2px}
#orderitem_money_info .tit{float:left;width:96px}
#orderitem_money_info .totalPrice{float:right;width:144px;text-align:right}

#orderitem_money_info .sub{padding-top:8px}
#orderitem_money_info .sub .tit,
#orderitem_money_info .totalPrice .normal,
#orderitem_money_info .sub .totalPrice{font-weight:normal;font-size:14px;color:#999;line-height:20px}
#orderitem_money_info .sub .tit{padding-left:16px;background:url(https://res.kurly.com/pc/service/order/2011/ico_sub_price_dot.svg) no-repeat 0 0;background-size:16px 20px}
#orderitem_money_info .lst .totalPrice{font-weight:bold;font-size:22px;line-height:28px}


/* 주문서 - 확인사항 */
.notice_order{padding-top:30px;}
.notice_order li{font-size:14px;color:#666;line-height:20px;text-align:center}


/*------------------------결제 수단*/



div#orderitem_money_info dl{
    margin: 0;
}

.tit_section {
    padding: 74px 0 16px;
    font-weight: 600 !important;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    clear: both;
}

.data_method .menu_payment .on label {
    width: 139px;
    background-color: #DA291C;
    color: #fff;
}

.data_method .goodsinfo_table .txt_notice li {
    font-size: 12px;
    color: #666;
    line-height: 22px;
    letter-spacing: -0.2px;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.myLabel {
    color: black;
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    margin: 0;
    width: 133px;
    text-align: center !important;
    margin-right: -4px;
}

input[type=radio]:checked + label{
    color: white;
    background: #DA291C;
}

label + input[type=radio] + label {
    border-left: solid 1px #ddd;
}
.radio-group {
    border: solid 1px #ddd;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}

input.btn_payment {
    padding: 0.65em 5em;
    border-radius: 3px;
    margin-bottom: -12px;
    margin-top: 62px;
}

input[type="button"].addressFinder{
    cursor: pointer !important;
    display: block  !important;
    width: 15% !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 34px !important;
    background: #fffaf9 !important;
    border: solid 1px #DA291C !important;
    height: auto !important;
    padding: 2px !important;
    margin-left: 10px !important;
    color: #DA291C !important;
}

input#zipcode {
    width: 192px;
}

.addBox{
    margin: 10px 0;
}

.won2{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.tax_absolute{
    display: block;
}

.tax_absoluteMedia{
    display: none;
}
.back-icon{
    display: none;
}
.open-icon{
    display: none;
}
@media screen and (max-width: 1000px) {
    .back-icon{
        display: block;
    }
    .open-icon{
        display: block;
    }
    #wrapper {
        width: 22em;
        margin-top: 48px;
    }
    .back-icon{
        margin: -11px 110px 0 -20px;
    }
    #title {
        margin-top: 11px;
        margin-bottom: 0 !important;
        display: flex;
    }
    .order_goodslist .name {
        height: 0%;
        margin-top: 37px;
        width: 532px;
        padding-right: 0;
    }
    .order_goodslist .name .inner_name {
        display: table-cell;
        font-weight: 600;
        font-size: 12px;
        color: #000;
        line-height: 24px;
        vertical-align: middle;
    }
    .order-wrap{
        display: flex;
    }
    .order_goodslist .thumb {
        overflow: hidden;
        float: left;
        width: 189px;
        height: 78px;
        margin: 27px 3px 0 0;
        background-color: #f4f4f4;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .order_goodslist .ea {
        width: 100px;
        padding-top: 52px;
        font-size: 14px;
        color: #333;
        line-height: 24px;
        text-align: center;
        letter-spacing: -.22px;
    }
    .order_goodslist .info_price .price {
        font-weight: 600;
        font-size: 15px;
        color: #000;
        line-height: 24px;
        white-space: nowrap;
        text-align: right;
    }
    .order_goodslist .info_price {
        display: table;
        float: left;
        width: 215px;
        height: 100%;
    }
    .tit_section {
        padding: 0;
        font-weight: 600 !important;
        font-size: 14px;
        color: #333;
        line-height: 29px;
        clear: both;
        margin-top: -3px;
        width: 78px;
    }

    .list_product{
        border-top: 1px solid #333;
    }
    .toggleBtn{
        display:flex;
        margin-top: 7px;
    }
    .open-icon{
        padding: 2px 0 0 218px;
    }
    .user_form input[type="text"] {
        width: 243px;
        height: 44px;
        padding: 12px 16px;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: #fff;
        font-size: 14px;
        color: #333;
        letter-spacing: -0.5px;
        outline: none;
    }
    .order_section .section_crux {
        float: left;
        width: 69px;
        padding-top: 19px;
        font-weight: bold;
        font-size: 14px;
        color: #333;
        line-height: 24px;
        letter-spacing: -0.32px;
    }
    input[type="button"].addressFinder {
        cursor: pointer !important;
        display: block !important;
        width: 34% !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 34px !important;
        background: #fffaf9 !important;
        border: solid 1px #DA291C !important;
        height: auto !important;
        padding: 2px !important;
        margin-left: 10px !important;
        color: #DA291C !important;
    }
    input#zipcode {
        width: 157px;
    }
    .myLabel {
        color: black;
        display: inline-block;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        width: 85px;
        text-align: center !important;
        margin-right: -4px;
        font-size: 10px;
        font-weight: bolder;
    }
    .goodsinfo_table th {
        width: 77px;
        font-weight: 600;
        font-size: 12px;
        color: #333;
        line-height: 24px;
        letter-spacing: -0.32px;
        vertical-align: top;
    }
    .tbl_left {
        width: 329px;
    }
    .tax_absolute .inner_sticky {
        position: absolute;
        right: 0;
        top: 0;
        width: 94%;
        margin: -30px 36px 0 0;
    }
    .tax_absolute {
        position: absolute;
        height: 0;
        width: 100% !important;
        margin-top: 185px !important;
        top: 167px;
    }
    input.btn_payment {
        padding: 0.65em 5em;
        border-radius: 3px;
    }
    .list_product{
        margin-top: 9px;
    }
    .tax_absoluteMedia{
        display: block;
        margin-top: 68px;
    }
    .tax_absolute{
        display: none;
    }
    .before{
        display: none;
    }
}
