/*후기 작성 가능 목록*/
.page_myPage.myPage_type1 .page_section {
    float: right;
    width: 820px;
}
.section_review .head_aticle {
    padding-bottom: 20px;
}
.page_myPage .head_aticle {
    padding: 5px 0 34px;
}
.page_aticle .head_aticle .tit {
    height: 36px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
    letter-spacing: -.5px;
}
*{font-family: 'Noto Sans KR', sans-serif;}
.section_review .review_notice {
    font-size: 14px;
    color: #999;
    line-height: 22px;
    letter-spacing: -.3px;
}
.section_review .review_notice b {
    font-weight: 700;
}
.section_review .tab_menu {
    overflow: hidden;
    padding-top: 30px;
}
.section_review .tab_menu li {
    float: left;
    width: 410px;
    height: 50px;
    background-color: #fff;
}
.section_review .tab_menu .on a {
    border-bottom: 2px solid #DA291C;
    font-weight: 700;
    color: #DA291C;
}
.section_review .tab_menu a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid #dddfe1;
    font-size: 14px;
    color: #666;
    line-height: 44px;
    text-align: center;
}
.section_review .tab_menu li:last-child a {
    border-left: 0;
}
.section_review .list_before {
    padding-top: 10px;
}
.section_review .list_before .tit_item {
    display: block;
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}
section_review .list_before .tit_item .emph {
    font-weight: 700;
}
.section_review .list_before .item {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 19px 29px 18px;
    border: 1px solid #dddfe1;
}
.section_review .list_before .thumb {
    float: left;
    width: 80px;
    margin-right: 20px;
    cursor: pointer;
}
.section_review .list_before .name {
    display: table;
    float: left;
    width: 400px;
    height: 100px;
}
.section_review .list_before .inner_name {
    display: table-cell;
    vertical-align: middle;
}
.section_review .list_before .main_name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
.section_review .list_before .num {
    display: table;
    padding-top: 16px;
}
.section_review .list_before .date {
    display: table;
    float: left;
    width: 110px;
    height: 100px;
    text-align: center;
}
.section_review .list_before .inner_date {
    display: table-cell;
    vertical-align: middle;
}
.section_review .list_before .start {
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.section_review .list_before .end {
    display: block;
    padding-top: 3px;
    font-size: 12px;
    color: #b3130b;
    line-height: 18px;
}
.section_review .list_before .btn_write {
    overflow: hidden;
    position: absolute;
    right: 29px;
    top: 50%;
    margin-top: -17px;
    width: 100px;
    height: 34px;
    border: 1px solid #DA291C;
    background-color: #DA291C;
    font-size: 12px;
    color: #fff;
    line-height: 32px;
    letter-spacing: -.3px;
    text-align: center;
}
@media screen and (max-width: 1000px) {

    div.review_notice {
        display: none;
    }

    .page_myPage.myPage_type1 .page_section {
        width: 820px;
        margin: 0 auto;
    }

    .page_myPage.myPage_type1 .page_section {
        width: 100%;
        margin: 0 auto;
    }

    .section_review .tab_menu li {
        float: left;
        width: 50%;
        height: 77px;
        background-color: #fff;
    }
    .section_review .tab_menu a {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 37px;
        color: #666;
        line-height: 44px;
        text-align: center;
    }
    .section_review .tab_menu {
        overflow: inherit;
    }
    .section_review .list_before {
        padding-top: 69px;
    }
    .link_back {
        left: 0;
        top: 0;
        width: 150px;
        height: 104px;
        background: url(https://res.kurly.com/mobile/service/common/2006/ico_navi_back.svg?v=1) no-repeat 6px 81%;
        background-size: 134px 141px;
    }
    .head_aticle {
        display: flex;
        font-size: 31px;
        padding:0px !important;
    }
    .page_myPage.myPage_type1 {
        padding-top: 32px;
    }
    .section_review .list_before .tit_item {
        font-size: 24px;
        padding: 37px 0 0 35px;
    }
    .section_review .list_before .item {
        margin-top: 25px;
        height: 278px;
    }
    .section_review .list_before .thumb {
        width: 177px;
    }
    .start{
        display: none;
    }
    .tab_menu{
        border-top: 2px solid #cccccc;
    }

    element.style {
    }
    .section_review .list_before .name {
        width: 737px;
        margin-top: 19px;
    }
    .section_review .list_before .main_name {
        font-size: 35px;
    }
    .stock{
        padding: 19px 0 0 0;
        font-size: 32px;
    }
    .section_review .list_before .btn_write {
        overflow: hidden;
        position: absolute;
        right: 45px;
        top: 68%;
        margin-top: -13px;
        width: 171px;
        padding: 16px 0 0 0;
        height: 74px;
        border: 1px solid #DA291C;
        background-color: #DA291C;
        font-size: 32px;
        color: #fff;
        line-height: 32px;
        letter-spacing: -.3px;
        text-align: center;
    }
    .section_review .list_before .tit_item {
        font-size: 37px;
        margin: 11px 0 -19px 0;
        height: 80px;
    }
    @media screen and (max-width:1000px) {
        #snb {
            float: left !important;
            width: 100% !important;
        }
        #snb .tit_snb{
            display: none;
        }
        #snb .list_menu li a {
            display: block !important;
            overflow: hidden !important;
            padding: 28px 0 16px 20px !important;
            background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 97% 52% !important;
            background-size: 14px 23px !important;
            font-size: 34px !important;
            color: #666 !important;
            line-height: 37px !important;
            letter-spacing: -.3px !important;
            height: 98px !important;
        }
        #snb .list_menu li.on a, #snb .list_menu li a:hover {
            background: #fafafa url(https://cdn.discordapp.com/attachments/969471931575320587/972087200621690880/590706d067c9b9b2.png) no-repeat 97% 52% !important;
            background-size: 14px 23px !important;
            font-weight: 700 !important;
            color: #DA291C !important;
        }
    }
}