*{font-family: Noto Sans KR, sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    font-family: Noto Sans KR, sans-serif;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
div {
    display: block;
}
body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}
html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1.15;
}
*, :after, :before, legend, td, th {
    padding: 0;
}
form {
    display: block;
    margin-top: 0em;
}
div.setup_Wrapper{
    min-width: 1050px;
    padding: 50px 0;
    background-color: white;
}
div.setup_title{
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}
div.setup_box{
    max-width: 400px;
    padding: 0 10px 6px 10px;
    margin: auto;
    position: relative;
    background-color: white;
}
form.setup_form{
    padding: 24px 20px;
}
div.regist_form{
    padding-bottom: 12px;
}
label {
    cursor: default;
}
label.regist_label{
    display: inline-block;
    padding: 8px 0 11px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #333;
}
.css-176lya2 {
    position: relative;
    height: 48px;
}
input.setup_input{
    width: 100%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
    font: inherit;
    margin: 0;
}
div.setup_checkWrapper{
    margin-top: 18px
}
button.setup_checkButton{
    background-color: #ddd;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    color: #fff;
    background-color: #DA291C;
    border: 0 none;
}
button[disabled], input[disabled] {
    cursor: default;
}
/*@media (min-width: 1050px)*/
/*    .setup_checkButton {*/
/*        height: 56px;*/
/*    }*/
button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
    background-color: transparent;
    border: none;
}
span.setup_checkText{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
