*{font-family: Noto Sans KR, sans-serif;
}

html, body {
    height: 100%;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
body {
    margin: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}
#main {
    border-bottom: 1px solid #f7f7f7;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
#content {
    min-width: 1050px;
    padding-bottom: 60px;
}
#content {
    position: relative;
}
.section_login {
    width: 340px;
    margin: 0 auto;
    padding-top: 90px;
    letter-spacing: -.6px;
}
.section_login .tit_login {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.section_login .write_form {
    padding-top: 36px;
}
.section_login .login_view {
    text-align: center;
}
.section_login input[type=number], .section_login input[type=text], .section_login input[type=password] {
    width: 100%;
    height: 54px;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffffe0;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}
.section_login [name=password], .section_login [name=ordno], .section_login .login_view [name=srch_mail], .section_login [name=srch_id] {
    margin-top: 10px;
}
.section_login .checkbox_save {
    overflow: hidden;
    padding-bottom: 28px;
}
.section_login .checkbox_save .label_checkbox {
    float: left;
    margin-top: 9px;
}
.section_login .label_checkbox {
    position: relative;
    padding: 0 0 3px 22px;
    font-size: 13px;
    line-height: 20px;
}
label {
    cursor: default;
}
.section_login .label_checkbox [type=checkbox] {
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;
}
.section_login .login_search {
    float: right;
    padding-top: 13px;
}
.section_login .login_search .link {
    float: left;
    font-size: 13px;
}
.section_login .login_search .bar {
    float: left;
    width: 1px;
    height: 10px;
    margin: 3px 6px 0;
    background-color: #333;
}
.section_login .login_search .link {
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}
.btn_type1 .txt_type {
    color: #fff;
}
.btn_type1 {
    border: 1px solid #DA291C;
    background-color: #DA291C;
}
.btn_type1, .btn_type2 {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    font-size: 0;
    text-align: center;
}
.btn_type1 .txt_type, .btn_type2 .txt_type {
    display: inline-block;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 51px;
    text-align: center;
}
button {
    outline: none;
}
.section_login .btn_member {
    margin-top: 10px;
}
.btn_type2 {
    border: 1px solid #DA291C;
    background-color: #fff;
}
.btn_type1 .txt_type, .btn_type2 .txt_type {
    display: inline-block;
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    line-height: 51px;
    text-align: center;
}
.btn_type2 .txt_type {
    color: #DA291C;
}
img{
    width: 100%;
    height: 58px;
    margin-top: 10px;
}
.input:focus{
    border-color: #1a7bff;
}

/*미디어쿼리*/
@media ( max-width: 768px ) {
    /*로그인 미디어쿼리*/
    #content {
        min-width: 415px;
        padding-bottom: 60px;
        text-align: center;
    }

    .login_search{
        display: none;
    }

    .media_login_search{
        display: block !important;
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .media_login_search a{
        color:#333333c2;
        text-decoration: none;
    }

    .kakao_text{
        padding-top: 30px;
        padding-bottom: 20px;
        border-top: 1px solid #d5d5d5;
        display: block !important;
    }
    .kakao_text span{
        color: #DA291C;
    }

}

.media_login_search, .kakao_text {
    display: none;
}