*{font-family: Noto Sans KR, sans-serif;
}

 *, :after, :before {
     box-sizing: border-box;
     margin: 0;
 }

*, :after, :before, legend, td, th {
    padding: 0;
}

div {
    display: block;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: rgb(51, 51, 51);
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

/* 아이디 확인 */

.css-140915z {
    min-width: 100%;
    padding: 50px 0;
    background-color: white;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}

*, :after, :before, legend, td, th {
    padding: 0;
}

body, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

body, button, input, select, textarea {
    font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, "Apple SD Gothic Neo", Helvetica, "Noto Sans KR", "malgun gothic", "맑은 고딕", sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}

:root {
    --swiper-theme-color: #007aff;
}

html {
    touch-action: manipulation;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    line-height: 1.15;
}

.css-6mht10 {
    max-width: 400px;
    padding: 0px 30px 30px;
    margin: auto;
    position: relative;
    background-color: white;
}

.css-1ymrnwr {
    padding-top: 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
}

ol, ul {
    list-style-type: none;
}

.css-14o5m2r {
    padding: 12px 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.css-gyfngb {
    margin-top: 60px;
}

.css-1jlgal3 {
    display: block;
    padding-top: 4px;
    font-weight: 400;
    font-size: 13px;
    color: rgb(153, 153, 153);
    line-height: 18px;
}

.css-1qp8f6i {
    display: flex;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.css-ate73y {
    width: 40px;
    height: 40px;
    display: block;
    margin: 17px 12px 16px 0px;
}

img, legend {
    border: 0;
    vertical-align: top;
}

canvas, img, video {
    max-width: 100%;
}

.css-1qp8f6i:first-of-type > div {
    border: none;
}

.css-yzpdz {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-top: 1px solid rgb(238, 238, 238);
}

.css-1kkr6j1 {
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.css-gyfngb > button:first-of-type {
    margin-bottom: 10px;
}

.css-qsvy0v {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 6px;
    color: #DA291C;
    background-color: rgb(255, 255, 255);
    border: 1px solid #DA291C;
    font-size: 35px;
    font-weight: 400;
}

body, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

body, button, input, select, textarea {
    font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, "Apple SD Gothic Neo", Helvetica, "Noto Sans KR", "malgun gothic", "맑은 고딕", sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
    background-color: transparent;
    border: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;

}

.css-hwhn8c {
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: #DA291C;
    border: 0px none;
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px;
}






.css-1dqhxzp {
    display: inline-block;
    font-size: 16px;
}
/* 아이디확인 모달창*/

.cartPut .cart_result, .cartPut .cart_option.off, .cartPut .cart_option1.off, .cartPut .cart_option .tit_cart, .cartPut .cart_option .box_select, .cartPut .cart_option .bar_open, .cartPut .cart_option .view_function {
    display: none;
}

.cartPut .cart_type3 {
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: 440px;
    max-height: 600px;
    margin-left: -220px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.cartPut .cart_option {
    background-color: #fff;
}

#gnb .gnb_sub {
    overflow: hidden !important;
    position: absolute !important;
    z-index: 301!important;
    left: 744px!important;
    top: 190px!important;
    width: 139px!important;
}

.cartPut * {
    font-family: noto sans;
    letter-spacing: 0;
}

.modal{
    padding: 12px;
}

.cartPut .cart_type3 .inner_option {
    padding: 0 30px;
}

.cartPut .cart_type3 .btn_close1 {
    display: none;
}

.cart_modal_footer {
    display: flex;
    align-items: center;
    padding: 20px 0 30px;
}

.cartPut .cart_type3 .base_button.half {
    width: 50%;
}
.cartPut .cart_type3 .base_button1.half {
    width: 97%;
    margin-left: 8px;
    margin-top: 6px;
}
.cartPut .cart_type3 .base_button2.half {
    width: 97%;
    margin-left: 8px;
    margin-top: 6px;
}

.cartPut .base_button {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #DA291C;
    border: 1px solid #DA291C;
    cursor: pointer;
}
.cartPut .base_button1 {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #DA291C;
    border: 1px solid #DA291C;
    cursor: pointer;
}

.imgIcon{
    width: 25px;
}
.cartPut .base_button2 {
    width: 432px;
    height: 56px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    background-color: #5f0081;
    border: 1px solid #5f0081;
    cursor: pointer;
}

.cart_modal_footer button:not(:first-of-type) {
    margin-left: 8px;
}

button {
    outline: none;
}

.cartPut .cart_type3 .list_goods {
    width: 380px;
}

.cartPut .cart_type3 .total {
    padding-top: 20px;
}

.cartPut .cart_type3 .list_nopackage {
    padding-top: 30px;
    min-height: 148px;
}

.cartPut .cart_type3 .list {
    overflow: hidden;
    overflow-y: auto;
    width: 400px;
    max-height: 355px;
    min-height: 120px;
}

.cartPut .cart_option .list {
    overflow: hidden;
    padding-bottom: 1px;
}

.cartPut .cart_type3 .list_nopackage li {
    border: 0;
}

.cartPut .cart_type3 .list li {
    width: 380px;
    padding: 11px 0;
    border-bottom: 1px solid #f4f4f4;
}



.cartPut .cart_option .list .btn_position {
    display: block;
    position: relative;
}

.cartPut .cart_type3 .list .name {
    font-size: 14px;
    letter-spacing: 0;
}

.cartPut .cart_option .list .name {
    display: block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -.6px;
}

.cartPut .cart_type3 .list .option {
    padding-top: 7px;
}

.cartPut .cart_option .list .option {
    overflow: hidden;
}

.cartPut .cart_option .list .btn_del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 24px;
    height: 24px;
    border: 0;
    background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
    background-size: 24px 25px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}



.cartPut .cart_option .list .count {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

.cartPut .cart_type3 .list .price {
    float: left;
    padding: 7px 0 0;
    font-size: 14px;
    letter-spacing: 0;
}

.cartPut .cart_option .list .price {
    font-weight: 700;
    text-align: right;
}

.cartPut .cart_option .list .down.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_minus_on.svg);
}

.cartPut .cart_option .list .down {
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_minus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

.cartPut .cart_option .list .btn {
    overflow: hidden;
    float: left;
    width: 28px;
    height: 28px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.cartPut .cart_option .list .inp {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: -1px;
    padding: 0 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
}

.cartPut .cart_option .list .up.on {
    background-image: url(https://res.kurly.com/pc/ico/2010/ico_plus_on.svg);
}

.cartPut .cart_option .list .up {
    float: right;
    margin-left: -1px;
    background: #fff url(https://res.kurly.com/pc/ico/2010/ico_plus.svg) no-repeat 50% 50%;
    background-size: 30px 30px;
}

.cartPut .cart_type3 .list .dc_price {
    padding-right: 4px;
    font-weight: 800;
}

.cartPut .cart_option .total .price {
    overflow: hidden;
    text-align: right;
}

.cartPut .cart_type3 .total .txt_point {
    padding-top: 6px;
}

.cartPut .cart_option .total .txt_point {
    display: block;
    padding-top: 14px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    text-align: right;
}

.cartPut .cart_type3 .total .tit {
    float: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
    vertical-align: 0;
}

.cartPut .cart_option .total .tit {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
}

.cartPut .cart_type3 .total .sum {
    float: right;
    margin-top: -1px;
}

.cartPut .cart_type3 .total .num {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1px;
}

.cartPut .cart_option .total .num {
    padding-left: 8px;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
}

.cartPut .cart_type3 .total .won {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.67px;
    vertical-align: 3px;
}

.cartPut .cart_option .total .won {
    padding-left: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: -1px;
}

.cartPut .base_button.cancel {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
.cartPut .base_button1.cancel2 {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}
.cartPut .base_button2.cancel {
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
}

.bg_loading {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.loading_show {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background: url(https://res.kurly.com/pc/img/1909/img_loading_128x128.gif) no-repeat 50% 50%;
    background-size: 16px 16px;
}

.cartPut .cart_type3 .list .btn_position {
    display: none;
}

.cartPut .cart_type3 .list .count {
    float: right;
}

#goodsList .sort_menu .list li:after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 1px;
    height: 10px;
    background-color: #e5e5e5;
}
#goodsList .sort_menu .list li:last-child::after {
    content: none;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    cursor: default;
}

div.wrapper {
    min-width: 1050px;
    padding: 50px 0;
    background-color: white;
}

div.title {
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

div.find_box {
    max-width: 400px;
    padding: 0 10px 6px 10px;
    margin: auto;
    position: relative;
    background-color: white;
}

/*@media(min-width: 1050px)*/
/*    .verificationText {*/
/*        padding: 0;*/
/*        margin: 0 20px;*/
/*    }*/

div.verificationText {
    background-color: white;
    padding: 0 15px 0 15px;
    margin: 0;
    box-shadow: inset 0 -0.5px 0 0 #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
}

button.hp_verification {
    display: block ;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    color: #666!important;
    line-height: 18px;
    box-shadow: inset 0px -2px 0px 0px #DA291C;
    border-radius: 0px;
    background: white;
}

button.email_verification {
    display: block ;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #666!important;
    line-height: 18px;
    box-shadow: none;
    border-radius: 0px;
    background: white;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
    background: none !important;
}

button, input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

body, button, input, select, textarea {
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    /*background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));*/
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /*border-color: buttonborder;*/
    border-image: initial;
}

form.sendInfo {
    padding: 24px 20px;
}

div.Id_box {
    padding-bottom: 12px;
    margin-top: 10px;
}

label.Id_label {
    display: inline-block;
    padding: 8px 0 11px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #333;
}

div.input_wrapper {
    position: relative;
    height: 48px;
}

input.input_info {
    width: 100%;
    height: 46px;
    padding: 0 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
}

div.accept_wrapper {
    margin-top: 18px;
    margin-bottom: 18px;
}

.authentication_number{
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.authentication_number .css-1blp8ou{
    margin-right: 7px;
}

#findId_css{
    border: none;
}

.authentication_number .css-1blp8ou .input_info{
    height: 52px;
    width: 110%;
}

.authentication_number .accept_wrapper{
    margin-right: 9px;
    margin-top: 22px;
}

.authentication_number .accept_wrapper .phone_box{
    width: 97%;
    margin-left: 18px;
}

.authentication_number .accept_wrapper .email_box{
    width: 90%;
    margin-left: 26px;
}

#certified{
    width: 235px;
}

p.accept_button {
    background-color: #ddd;
    cursor: default;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    color: #fff;
    background-color: #DA291C;
    border: 0 none;
    margin-bottom: 0em;
    font-weight: 450;
}



p span.accept_text{
    margin-top: 8px;
}

p{
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    /* border-color: buttonborder; */
    border-image: initial;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    font: inherit;
}


button.accept_button {
    background-color: #ddd;
    cursor: default;
    display: block;
    padding: 0 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 52px;
    border-radius: 4px;
    color: #fff;
    background-color: #DA291C;
    border: 0 none;
}

[type=submit] {
    border-radius: 0;
}

span.accept_text {
    display: inline-block;
    font-size: 16px;
    cursor: default;
}

button {
    overflow: visible;
    background-color: transparent;
    border: none;
}