<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 픽업</title>
    <link rel="stylesheet" href="../../static/front/assets/css/product.css">
    <link rel="stylesheet" href="../../static/front/assets/css/productMedia.css">
</head>
<body class="goods-goods_list ">
    <div id="wrap">
        <div id="container">
            <div id="header"></div>
            <div id="main">
                <div id="content">
                    <div class="page_aticle">
                        <div id="lnbMenu" class="lnb_menu">
                            <div class="inner_lnb">
                                <h3 class="tit">픽업</h3>
                                <ul class="list">
                                    <li data-start="172" data-and="188">
                                        <a class="on">전체보기</a>
                                    </li>
                                    <li class="bg"></li>
                                </ul>
                            </div>
                        </div>
                        <div id="goodsList" class="page_section section_goodslist">
                            <div class="list_ability">
                                <div class="areabutton">
                                    <img src="../../static/front/assets/css/images/위치아이콘.png" style="width: 25px;">
                                    지역을 선택해주세요
                                </div>
                                <div class="sort_menu">
                                    <div>
                                        <p class="count">
                                            <span class="inner_count"> 총 6개</span>
                                        </p>
                                        <div class="select_type">
                                            <a class="name_select">추천순</a>
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <!---->
                                            <ul class="list">
                                                <li class>
                                                    <a class="on">낮은가격</a>
                                                    <div class="recommend">
                                                        <!---->
                                                        <!---->
                                                        <div id="layerRecommend" class="layer_recommend">
                                                            <p class="desc">
                                                                "검색어 적합성과 소비자 인기도(판매량, 판매금액,"
                                                                <br>
                                                                "조회수 등)를 종합적으로 고려한 순서입니다."
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class>
                                                    <a class>높은가격</a>
                                                    <!---->
                                                </li>
                                                <li class>
                                                    <a class>신상품</a>
                                                    <!---->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list_goods">
                                <div class="inner_listgoods">
                                    <ul class="list">
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919206285l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649919206285l0.jpg" alt="푸짐하게 즐기는 대용량 동태탕" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">122963</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분) </span>
                                                    <span class="cost">
                                                        <!---->
                                                        <span class="price">15,900원</span>
                                                        <!---->
                                                    </span>
                                                    <span class="desc">푸짐하게 즐기는 대용량 동태탕</span>
                                                    <span class="tag">

                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919329531l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649919329531l0.jpg" alt="풍성하게 담은 대용량 알탕" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">122962</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [프레시지] 자이언트 알푸짐 알탕 (3~4인분) </span>
                                                    <span class="cost">
                                                        <!---->
                                                        <span class="price">20,900원</span>
                                                        <!---->
                                                    </span>
                                                    <span class="desc">풍성하게 담은 대용량 알탕</span>
                                                    <span class="tag">

                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/164991958397l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/164991958397l0.jpg" alt="오동통한 어묵이 가득" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">120961</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [미미네] 어묵많이 눈꽃치즈 국물떡볶이 </span>
                                                    <span class="cost">
                                                        <span class="dc">20%</span>
                                                        <span class="price">20,900원</span>
                                                        <span class="original">6,300원</span>
                                                    </span>
                                                    <span class="desc">오동통한 어묵이 가득</span>
                                                    <span class="tag">


                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919701563l0.jpg);">
                                                        <!---->
                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649919701563l0.jpg" alt="아낌없이 올린 오동통한 알꼬막" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">112266</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [모두의맛집] 알꼬막 짬뽕 </span>
                                                    <span class="cost">
                                                        <span class="dc">10%</span>
                                                        <span class="price">14,400원</span>
                                                        <span class="original">16,000원</span>
                                                    </span>
                                                    <span class="desc">아낌없이 올린 오동통한 알꼬막</span>
                                                    <span class="tag">

                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649903469307l0.jpg);">

                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649903469307l0.jpg" alt="개운한 두피를 위한 약산성 스칼프 팩" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">130055</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [라우쉬] 씨위드 스칼프 팩 (두피스케일링 미역팩) </span>
                                                    <span class="cost">
                                                        <span class="dc">15%</span>
                                                        <span class="price">29,750원</span>
                                                        <span class="original">35,000원</span>
                                                    </span>
                                                    <span class="desc">개운한 두피를 위한 약산성 스칼프 팩</span>
                                                    <span class="tag">

                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <div class="thumb">
                                                    <a class="img" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649927313367l0.jpg);">

                                                        <!---->
                                                        <img src="https://img-cf.kurly.com/shop/data/goods/1649927313367l0.jpg" alt="민감 두피를 위한 약산성 컨디셔너" onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'">
                                                    </a>
                                                    <div class="group_btn">
                                                        <button type="button" class="btn btn_cart">
                                                            <span class="screen_out">130061</span>
                                                        </button>
                                                        <!---->
                                                        <!---->
                                                    </div>
                                                </div>
                                                <a class="info">
                                                    <span class="name"> [라우쉬] 하트씨드 센시티브 린스 컨디셔너 (민감두피 진정 린스) </span>
                                                    <span class="cost">
                                                        <span class="dc">15%</span>
                                                        <span class="price">22,950원</span>
                                                        <span class="original">27,000원</span>
                                                    </span>
                                                    <span class="desc">개민감 두피를 위한 약산성 컨디셔너</span>
                                                    <span class="tag">

                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="layout-pagination">
                                <div class="pagediv">
                                    <a href="#main" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                                    <a href="#main" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                                    <span><!----> <strong class="layout-pagination-button layout-pagination-number __active">1</strong></span>
                                    <a href="#main" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                                    <a href="#main" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg_loading" id="bgLoading" style="display: none;">
                        <div class="loading_show"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cartPut">
        <div class="cart_option cartList cart_type3 off" style="opacity: 0;">
            <div class="inner_option">
                <button type="button" class="btn_close1" >레이어닫기</button>
                <!---->
                <div class="in_option">
                    <div class="list_goods">
                        <!---->
                        <!---->
                        <!---->
                        <ul class="list list_nopackage">
                            <li class="on">
                                <span class="btn_position">
                                    <button type="button" class="btn_del">
                                        <span class="txt">삭제하기</span>
                                    </button>
                                </span>
                                <span class="name">
                                 <!---->
                                 [프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분)
                                 <!---->
                                </span>
                                <!---->
                                <div class="option">
                                    <span class="count">
                                        <button type="button" class="btn down on">수량내리기</button>
                                        <input type="number" readonly="readonly" onfocus="this.blur()" class="inp">
                                        <button type="button" class="btn up on">수량내리기</button>
                                    </span>
                                    <span class="price">
                                        <span class="dc_price">15,900원</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!---->
                    <!---->
                    <div class="total">
                        <div class="price">
                            <strong class="tit">합계</strong>
                            <span class="sum">
                                <span class="num">20,900</span>
                                <span class="won">원</span>
                            </span>
                        </div>
                        <p class="txt_point">
                        </p>
                    </div>
                </div>
                <!---->
                <div class="cart_modal_footer">
                    <button type="button" class="base_button cancel half"> 취소 </button>
                    <button type="button" class="base_button half"> 장바구니 담기 </button>
                </div>
                <!---->
            </div>
        </div>
    </div>
    <div id="cartPut">
        <div class="cart_option1 cartList cart_type3 off" style="opacity: 0;">
            <div class="region_select modal">
                <select id="sido" name="sido" class="base_button1 cancel2 half" style="background-color: white; cursor:pointer;">
                    <option value="" >'시/도'를 선택해주세요</option>
                </select>
                <select id="sigugun" name="sigugun" class="base_button1 cancel2 half" style="background-color: white; cursor:pointer;">
                    <option value="" >'시/군/구'를 선택해주세요</option>
                </select>
                <select id="dong" name="dong" class="base_button1 cancel2 half" style="background-color: white; cursor:pointer;">
                    <option value="">'동'을 선택해주세요</option>
                </select>
                <div>
                    <!---->
                <div class="cart_modal_footer">
                    <button type="button" class="base_button1 cancel1 half"> 확인 </button>
                </div>
                <!---->
            </div>
        </div>
    </div>
</body>
<script type="application/javascript" src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
<script>
    var width = 500; //팝업의 너비
    var height = 600; //팝업의 높이

    // 주소 찾기(Daum API)
    function find() {
        new daum.Postcode({
            width: width, //생성자에 크기 값을 명시적으로 지정
            height: height,

            oncomplete: function (data) {
                var addr = ''; // 주소 변수
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addressDetail").focus();
            }
        }).open({
            left: (window.screen.width / 2) - (width / 2),
            top: (window.screen.height / 2) - (height / 2)
        });

    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var cart = $(".cart_option");
    var cart1 = $(".cart_option1");

    var button = $(".cancel");
    var button1 = $(".cancel1");

    $(".group_btn").click(function(){
        $(cart).removeClass("off");
        $(cart).css("opacity", "1");
        $(".bg_loading").css("display", "block");
    });
    $(".areabutton").click(function(){
        $(cart1).removeClass("off");
        $(cart1).css("opacity", "1");
        $(".bg_loading").css("display", "block");
    });

    $(button).click(function(){
        $(cart).addClass("off");
        $(cart).css("opacity", "0");
        $(".bg_loading").css("display", "none");
    });

    $(button1).click(function(){
        $(cart1).addClass("off");
        $(cart1).css("opacity", "0");
        $(".bg_loading").css("display", "none");
    });
</script>
<script>
    $(document).ready(function(){
        //sido option 추가
        $.each(hangjungdong.sido, function(idx, code){
            //append를 이용하여 option 하위에 붙여넣음
            $('#sido').append(fn_option(code.sido, code.codeNm));
        });

        //sido 변경시 시군구 option 추가
        $('#sido').change(function(){
            $('#sigugun').show();
            $('#sigugun').empty();
            $('#sigugun').append(fn_option('','선택')); //
            $.each(hangjungdong.sigugun, function(idx, code){
                if($('#sido > option:selected').val() == code.sido)
                    $('#sigugun').append(fn_option(code.sigugun, code.codeNm));
            });

            //세종특별자치시 예외처리
            //옵션값을 읽어 비교
            if($('#sido option:selected').val() == '36'){
                $('#sigugun').hide();
                //index를 이용해서 selected 속성(attr)추가
                //기본 선택 옵션이 최상위로 index 0을 가짐
                $('#sigugun option:eq(1)').attr('selected', 'selected');
                //trigger를 이용해 change 실행
                $('#sigugun').trigger('change');
            }
        });

        //시군구 변경시 행정동 옵션추가
        $('#sigugun').change(function(){
            //option 제거
            $('#dong').empty();
            $.each(hangjungdong.dong, function(idx, code){
                if($('#sido > option:selected').val() == code.sido && $('#sigugun > option:selected').val() == code.sigugun)
                    $('#dong').append(fn_option(code.dong, code.codeNm));
            });
            //option의 맨앞에 추가
            $('#dong').prepend(fn_option('','선택'));
            //option중 선택을 기본으로 선택
            $('#dong option:eq("")').attr('selected', 'selected');

        });

        $('#dong').change(function(){
            var sido = $('#sido option:selected').val();
            var sigugun = $('#sigugun option:selected').val();
            var dong = $('#dong option:selected').val();
            var dongCode = sido + sigugun + dong + '00';

        });
    });

    function fn_option(code, name){
        return '<option value="' + code +'">' + name +'</option>';
    }
</script>
</html>