<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 상품상세페이지</title>
    <link rel="stylesheet" href="../../static/front/assets/css/productDetail.css">
</head>
<body class="goods-goods_view" oncontextmenu="return false" ondragstart="return false" onselectstart="return !disableSelection">
    <div id="wrap">
        <div id="pos_scroll"></div>
        <div id="container">
            <div id="header"></div>
            <div id="main">
                <div id="content" style="opacity: 1;">
                    <div class="section_view">
                        <div id="shareLayer">
                            <div class="layer_share">
                                <div class="inner_layersns">
                                    <h3 class="screen_out">SNS 공유하기</h3>
                                    <ul class="list_share">
                                        <li>
                                            <a class="btn btn_fb" data-sns-name="페이스북" data-sns="facebook" href="https://www.kurly.com/shop/goods/goods_view.php?&goodsno=122963#none">
                                                <img src="https://res.kurly.com/mobile/service/goodsview/1804/ico_facebook.png" alt="페이스북">
                                                <span class="txt">공유하기</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn_tw" data-sns-name="트위터" data-sns="twitter" href="https://www.kurly.com/shop/goods/goods_view.php?&goodsno=122963#none">
                                                <img src="https://res.kurly.com/mobile/service/goodsview/1804/ico_twitter.png" alt="트위터">
                                                <span class="txt">트윗하기</span>
                                            </a>
                                        </li>
                                        <li class="btn_url">
                                            <input type="text" class="inp" value readonly="readonly">
                                            <a class="btn_copy off" data-sns-name="링크 복사" data-sns="copy" href="https://www.kurly.com/shop/goods/goods_view.php?&goodsno=122963#none">
                                                "URL 복사"
                                                <img src="https://res.kurly.com/mobile/service/goodsview/1804/ico_checked_x2.png">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="sectionView">
                            <div class="inner_view">
                                <div class="thumb" style="background-image: url(https://img-cf.kurly.com/shop/data/goods/1649919206335y0.jpg);">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXcAAAHnCAQAAADpr9U2AAABeUlEQVR42u3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALg0lPQAATTM2xoAAAAASUVORK5CYII=" alt="상품 대표 이미지" class="bg">
                                </div>
                                <p class="goods_name">
                                    <span class="btn_share">
                                        <button id="btnShare" data-goodsno="122963">공유하기</button>
                                    </span>
                                    <strong class="name">[프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분)</strong>
                                    <span class="short_desc">푸짐하게 즐기는 대용량 동태탕</span>
                                </p>
                                <!---->
                                <p class="goods_price">
                                    <span class="position">
                                        <span class="dc">
                                            <span class="dc_price">
                                                "15,900"
                                                <span class="won">원</span>
                                            </span>
                                        </span>
                                        <!---->
                                        <!---->
                                    </span>
                                    <!---->
                                    <span>
                                        <span class="txt_benefit">
                                            <span class="ico_grade grade0">
                                                "일반 0.5%"
                                            </span>
                                            <span class="point">
                                                "개당"
                                                <strong class="emph">80원 적립</strong>
                                                <!---->
                                            </span>
                                        </span>
                                    </span>
                                    <!---->
                                    <!---->
                                    <!---->
                                </p>
                                <!---->
                                <!---->
                                <!---->
                                <div class="goods_info">
                                    <!---->
                                    <dl class="list fst">
                                        <dt class="tit">판매단위</dt>
                                        <dd class="desc">1팩</dd>
                                    </dl>
                                    <dl class="list">
                                        <dt class="tit">중량/용량</dt>
                                        <dd class="desc">1.2kg</dd>
                                    </dl>
                                    <dl class="list">
                                        <dt class="tit">배송구분</dt>
                                        <!---->
                                        <dd class="desc"> 샛별배송/택배배송 </dd>
                                    </dl>
                                    <!---->
                                    <dl class="list">
                                        <dt class="tit">포장타입</dt>
                                        <dd class="desc">
                                            "냉동/스티로폼"
                                            <strong class="emph"> 택배배송은 에코포장이 스트리폼으로 대채됩니다.</strong>
                                        </dd>
                                    </dl>
                                    <dl class="list">
                                        <dt class="tit">알레르기정보</dt>
                                        <dd class="desc">
                                            "-우유, 대두, 밀, 새우, 쇠고기, 오징어, 조개류(굴, 홍합, 바지락, 개량조개) 함유"
                                            <br>
                                            "
                                            -이 제품은 알류, 메밀, 땅콩, 고등어, 게, 돼지고기, 복숭아, 토마토, 아황산류, 호두, 닭고기, 조개류(전복 포함), 잣을 사용한 제품과 같은 제조시설에서 제조하고 있습니다."
                                        </dd>
                                    </dl>
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                    <!---->
                                </div>
                                <!---->
                            </div>
                            <!---->
                        </div>
                        <div id="cartPut">
                            <div class="cart_option cartList cart_type2">
                                <div class="inner_option">
                                    <!---->
                                    <!---->
                                    <div class="in_option">
                                        <div class="list_goods">
                                            <!---->
                                            <!---->
                                            <!---->
                                            <ul class="list list_nopackage">
                                                <li class="on">
                                                    <span class="btn_position">
                                                        <button type="button" class="btn_del">
                                                            <span class="txt">삭제하기</span>
                                                        </button>
                                                    </span>
                                                    <span class="name">
                                                        <!---->
                                                        " [프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분) "
                                                        <!---->
                                                    </span>
                                                    <span class="tit_item">구매수량</span>
                                                    <div class="option">
                                                        <span class="count">
                                                            <button type="button" class="btn down on">수량내리기</button>
                                                            <input type="number" readonly="readonly" onfocus="this.blur()" class="inp">
                                                            <button type="button" class="btn up on">수량올리기</button>
                                                        </span>
                                                        <span class="price">
                                                            <!---->
                                                            <span class="dc_price">15,900원</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="holidayDeliveryInfo" class="holiday_delivery"></div>
                                        <!---->
                                        <div class="total">
                                            <div class="price">
                                                <!---->
                                                <strong class="tit">총 상품금액 :</strong>
                                                <span class="sum">
                                                    <span class="num">15,900</span>
                                                    <span class="won">원</span>
                                                </span>
                                            </div>
                                            <p class="txt_point">
                                                <span class="ico">적립</span>
                                                <!---->
                                                <span class=""point>
                                                    구매 시
                                                    <strong class="emph">80원 적립</strong>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="cart_footer off">
                                        <div class="functions"></div>
                                        <div class="button_wrap">
                                            <button type="button" class="base_button full"> 장바구니 담기 </button>
                                        </div>
                                    </div>
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                            <div class="cart_option cartList cart_type1">
                                <div class="inner_option">
                                    <!---->
                                    <!---->
                                    <div class="in_option">
                                        <div class="list_goods">
                                            <div class="bar_open">
                                                <button type="button" class="btn_close">
                                                    <span class="ico open">상품 선택</span>
                                                </button>
                                            </div>
                                            <!---->
                                            <!---->
                                            <ul class="list list_nopackage">
                                                <li class="on">
                                                    <span class="btn_position">
                                                        <button type="button" class="btn_del">
                                                            <span class="txt">삭제하기</span>
                                                        </button>
                                                    </span>
                                                    <span class="name">
                                                        <!---->
                                                        " [프레시지] 자이언트 살이꽉찬 동태탕 (3~4인분) "
                                                        <!---->
                                                    </span>
                                                    <!---->
                                                    <div class="option">
                                                        <span class="count">
                                                            <button type="button" class="btn down on">수량내리기</button>
                                                            <input type="number" readonly="readonly" onfocus="this.blur()" class="inp">
                                                            <button type="button" class="btn up on">수량올리기</button>
                                                        </span>
                                                        <span class="price">
                                                              <!---->
                                                            <span class="dc_price">15,900원</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!---->
                                        <!---->
                                        <div class="total"></div>
                                    </div>
                                    <div class="cart_footer"></div>
                                    <!---->
                                    <!---->
                                </div>
                            </div>
                            <div class="cart_option cart_type3 notify_option"></div>
                            <div class="cart_option cart_result cart_type3"></div>
                            <form name="frmBuyNow" method="post" action="/shop/order/order.php"></form>
                            <form name="frmWishlist" method="post"></form>
                        </div>
                    </div>
                    <div class="layout-wrapper goods-view-area"></div>
                </div>
            </div>
            <div id="layerDSR"></div>
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>