<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>라스트프레시 | 장바구니</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="=/front/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/front/assets/css/user/cart&order.css">
    <link rel="stylesheet" href="/front/assets/css/user/cart.css">
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
</head>
<style>

    div#wrapper {
        height: 1600px;
        overflow: scroll;
    }

</style>
<body>
<th:block th:insert="/fragments/header.html :: headFragment"/>

<div id="page-wrapper">
    <div id="wrapper">
        <!-- 타이틀 -->
        <div id="title"><h2 style="font-weight: 500;" class="myCart">장바구니</h2></div>

        <!-- 박스 -->
        <form name="form" method="get">
            <div>
                <!-- 왼쪽 | 상품 -->
                <div class="leftBox">
                    <span>

                      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
                        <input type="checkbox" id="allCheck" name="productAll" onclick='selectAll(this)'/>
                        <span class="selectAll" style="margin-left:0;">전체 선택 (<span id="howManyChecks">0</span>/<span id = "totalProduct"></span>) </span>
                        <span class="slicer">&nbsp;&nbsp; I</span>
                        <a style="text-decoration: none; margin-left: -8px;">
                            <span class="selectAll selectDel">선택삭제</span></a>
                    </span>


                    <!-- 픽업 -->
                    <hr class="hrSlicer">
                    <div>
                        <div style="margin-bottom:60px;">
                            <img class="deliveryIcon" src = "https://cdn.discordapp.com/attachments/969471931575320587/970768590053720075/shop-2.png">
                            <span class="deliveryTitle">픽업 상품</span>
                            <br></div>
                        <!-- 상품 목록 -->
                        <div class="prod"  style="margin: 40px 0px;">
                            <input style="float:left" type="checkbox" name="product" class="chekbox" value=""/>
                            <a href="#"><img class="productPic" src="https://img-cf.kurly.com/shop/data/goods/1618376107143i0.jpg"></a>
                            <span class="productName">[일일특가] 국산 블루베리 100g (특대)</span>

<!--
                            &lt;!&ndash; 수량 / 가격 / 삭제&ndash;&gt;
                            <div class="delBtn">
                                <button type="button" class="btn_delete"></button>
                            </div>
                            <div class="price">
                                <span class="priceNum">10000</span><span class="won2">원</span>
                            </div>
                            &lt;!&ndash; 컬리 수량 &ndash;&gt;
                            <div class="stamper count">
                                <button type="button" class="btn minus off" data-opt="decrease">감소</button>
                                <input type="number" class="num" readonly="" value="1">
                                <button type="button" class="btn plus" data-item-id="9713dd21-5f59-4230-a095-fdac5ed4d56d" data-item-no="288" data-opt="increase">추가</button>
                            </div>-->

                            <!-- 수량 / 가격 / 삭제-->
                            <div class="delBtn">
                                <button type="button" class="btn_delete"></button>
                            </div>
                            <div class="price">
                                <input type="text" class="priceNum" value="3000" name="sum" style="width:100px" readonly><span class="won2">원</span>
                            </div>


                            <!-- 수량 완료!!!!!!!! -->
                            <div class="stamper count">
                                <input type=hidden name="sell_price" value="20000">
                                <button type="button" class="btn minus off" data-opt="decrease" onclick="del();">감소</button>
                                <input type="text" name="amount" class="num" value="1" onchange="change();">
                                <button type="button" class="btn plus" data-opt="increase" onclick="add();">추가</button>
                            </div>

                        </div>
                        <hr class="productSlice ">

                        <div class="prod"  style="margin: 40px 0px;">
                            <input style="float:left" type="checkbox" name="product" class="chekbox" value=""/>
                            <a href="#"><img class="productPic" src="https://img-cf.kurly.com/shop/data/goods/1618376107143i0.jpg"></a>
                            <span class="productName">[일일특가] 국산 블루베리 100g (특대)</span>

                            <!-- 수량 / 가격 / 삭제-->
                            <div class="delBtn">
                                <button type="button" class="btn_delete"></button>
                            </div>
                            <div class="price">
                                <input type="text" class="priceNum" value="10000" name="sum" style="width:100px" readonly><span class="won2">원</span>
                            </div>


                            <!-- 수량 완료!!!!!!!! -->
                            <div class="stamper count">
                                <input type=hidden name="sell_price" value="20000">
                                <button type="button" class="btn minus off" data-opt="decrease" onclick="del();">감소</button>
                                <input type="text" name="amount" class="num" value="1" onchange="change();">
                                <button type="button" class="btn plus" data-opt="increase" onclick="add();">추가</button>
                            </div>


                        </div>
                        <hr class="productSlice ">

                        <div class="prod"  style=" margin: 40px 0px;">
                            <input style="float:left" type="checkbox" name="product" class="chekbox" value="" id="che"/>
                            <a href="#"><img class="productPic" src="https://img-cf.kurly.com/shop/data/goods/1618376107143i0.jpg"></a>
                            <span class="productName">[일일특가] 국산 블루베리 100g (특대)</span>

                            <!-- 수량 / 가격 / 삭제-->
                            <div class="delBtn">
                                <button type="button" class="btn_delete"></button>
                            </div>
                            <div class="price">
                                <input type="text" class="priceNum" value="" name="sum" style="width:100px" readonly><span class="won2">원</span>
                            </div>


                            <!-- 수량 완료!!!!!!!! -->
                            <div class="stamper count">
                                <input type=hidden name="sell_price" value="20000">
                                <button type="button" class="btn minus off" data-opt="decrease" onclick="del();">감소</button>
                                <input type="text" name="amount" class="num" value="1" onchange="change();">
                                <button type="button" class="btn plus" data-opt="increase" onclick="add();">추가</button>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 배달 -->
                    <hr style="border-top: solid 1px black; margin: 1em 0 1em 0;" class="mobileSlicer">
                    <div>
                        <div style="margin-bottom:60px;">
                            <img class="deliveryIcon" src = "https://cdn.discordapp.com/attachments/932592448335671310/971193990831570984/rider-11.png">
                            <span class="deliveryTitle">배달 상품</span>
                            <br></div>
                        <!-- 상품 목록 -->
                        <div class="prod"  style=" margin: 40px 0px;">
                            <input style="float:left" type="checkbox" name="product" class="chekbox" value=""/>
                            <a href="#"><img class="productPic" src="https://img-cf.kurly.com/shop/data/goods/1618376107143i0.jpg"></a>
                            <span class="productName">[일일특가] 국산 블루베리 100g (특대)</span>
                            <!-- 수량

                                <input type=hidden name="sell_price" value="20000">
                                <input type="text" name="amount" value="1" size="3" onchange="change(this);">
                                <input type="button" value=" + " onclick="add();">
                                <input type="button" value=" - " onclick="del();"><br>
                                <input type="text" name="sum" size="13" readonly>
                            -->
                            <!-- 수량 / 가격 / 삭제-->
                            <div class="delBtn">
                                <button type="button" class="btn_delete"></button>
                            </div>
                            <div class="price">
                                <input type="text" class="priceNum" value="" name="sum" style="width:100px" readonly><span class="won2">원</span>
                            </div>


                            <!-- 수량 완료!!!!!!!! -->
                            <div class="stamper count">
                                <input type=hidden name="sell_price" value="20000">
                                <button type="button" class="btn minus off" data-opt="decrease" onclick="del();">감소</button>
                                <input type="text" name="amount" class="num" value="1" onchange="change();">
                                <button type="button" class="btn plus" data-opt="increase" onclick="add();">추가</button>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- 배송 -->
                    <hr style="border-top: solid 1px black; margin: 1em 0 1em 0;" class="mobileSlicer">
                    <div>
                        <div style="margin-bottom:60px;">
                            <img class="deliveryIcon" src = "https://cdn.discordapp.com/attachments/932592448335671310/971193912834269264/ship-2-2.png">
                            <span class="deliveryTitle">배송 상품</span>
                            <br></div>
                        <!-- 상품 목록 -->
                        <div class="prod" style="margin: 40px 0px;">
                            <input style="float:left" type="checkbox" name="product" class="chekbox" value=""/>
                            <a href="#"><img class="productPic" src="https://img-cf.kurly.com/shop/data/goods/1618376107143i0.jpg"></a>
                            <span class="productName">[일일특가] 국산 블루베리 100g (특대)</span>

                            <!-- 수량 / 가격 / 삭제-->
                            <div class="delBtn">
                                <button type="button" class="btn_delete"></button>
                            </div>
                            <div class="price">
                                <input type="text" class="priceNum" value="" name="sum" style="width:100px" readonly><span class="won2">원</span>
                            </div>


                            <!-- 수량 완료!!!!!!!! -->
                            <div class="stamper count">
                                <input type=hidden name="sell_price" value="20000">
                                <button type="button" class="btn minus off" data-opt="decrease" onclick="del();">감소</button>
                                <input type="text" name="amount" class="num" value="1" onchange="change();">
                                <button type="button" class="btn plus" data-opt="increase" onclick="add();">추가</button>
                            </div>
                            <!-- 수량
                            <div onload="init(this);">
                                <input type=hidden name="sell_price" value="10000">
                                <input type="text" name="amount" value="1" size="3" onchange="change(this);">
                                <input type="button" value=" + " onclick="add(this);">
                                <input type="button" value=" - " onclick="del(this);"><br>
                                <input type="text" name="sum" size="13" readonly>
                            </div>
                            -->
                        </div>
                        <hr class="productSlice mobileSlicer" style="margin-top: 44px !important;">
                    </div>

                </div>
                <!-- 오른쪽 | 금액 -->
                <div class="rightBox">
                    <div class =rightBoxContainer>
                        <div class="inner_result" style="top: 60px;">
                            <div class="amount_view">
                                <dl class="amount">
                                    <dt class="tit">상품금액</dt>
                                    <dd class="finalPrice">
                                        <span class="num" id="sumProduct">0</span>
                                       <span class="won">원</span>
                                    </dd>
                                </dl>

                                <hr style="margin: 1em 0 1em 0;">
                                <dl class="amount lst">
                                    <dt class="tit">결제예정금액</dt>
                                    <dd class="finalPrice">
                                        <span class="num final" id="sumOrderProduct">0</span>
                                        <span class="won">원</span>
                                        <input type="hidden" value="0" id="finalPrice" name="finalPrice">
                                    </dd>
                                </dl>
                            </div>
                            <div class="btn_submit">
                                <button type="submit" class="btn2 disabled">주문하기</button></div>
                            <div class="notice">
                                <span class="txt mobileTxt"><span class="ico">·</span> [배송준비중] 이전까지 주문 취소 가능합니다.</span>
                                <span class="txt2 mobileTxt"><span class="ico">·</span> [마이페이지 &gt; 주문내역 상세페이지] 에서 직접 취소하실 수 &nbsp; 있습니다.</span>
                            </div>
                            <br><br>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>

</div>

<th:block th:insert="/fragments/footer.html :: footFragment"/>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/user/orderCart.js"></script>
</html>