<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lastfresh.mapper.rider.RiderMapper">
    <select id="getBillProductInfo" resultType="com.example.lastfresh.domain.dto.BillProductDTO">
        SELECT
        bp.BILL_PRODUCT_LIST_NUM as BILL_PRODUCT_LIST_NUM,
        bp.SELL_PRODUCT_NUM,
        p.SELL_PRODUCT_NAME,
        p.SELL_PRODUCT_ADDRESS,
        p.SELL_PRODUCT_ADDRESS_DETAIL,
        p.SELL_PRODUCT_ADDRESS_POST_NUM,
        p.SELL_PRODUCT_PHONE,
        bp.BILL_ORDER_NUM,
		DATE_FORMAT(b.BILL_ORDER_DATE,'%m-%d  %H:%i') as Bill_ORDER_DATE_TIME,
		BILL_COOKING_TIME,
        b.BILL_DELIVERY_ADDRESS ,
        b.BILL_DELIVERY_ADDRESS_DETAIL ,
        b.BILL_DELIVERY_ADDRESS_POST_NUM ,
        bp.USER_NUM,
        bp.BILL_PRODUCT_QUANTITY,
        bp.BILL_DELIVERY_METHOD,
        bp.BILL_COOKING_TIME,
        bp.BILL_STATUS
        FROM tbl_bills_product bp
        join TBL_SELL_PRODUCT p on bp.SELL_PRODUCT_NUM =p.SELL_PRODUCT_NUM
        join TBL_BILLS b on bp.BILL_ORDER_NUM =b.BILL_ORDER_NUM
        where BILL_DELIVERY_METHOD!=1 and BILL_STATUS=1
        order by  BILL_PRODUCT_LIST_NUM desc;
    </select>

    <select id="getBillProductMyInfo" resultType="com.example.lastfresh.domain.dto.BillProductDTO">
        SELECT
       bp.BILL_PRODUCT_LIST_NUM as BILL_PRODUCT_LIST_NUM,
        bp.SELL_PRODUCT_NUM,
        p.SELL_PRODUCT_NAME,
        p.SELL_PRODUCT_ADDRESS,
        p.SELL_PRODUCT_ADDRESS_DETAIL,
        p.SELL_PRODUCT_ADDRESS_POST_NUM,
        p.SELL_PRODUCT_PHONE,
        bp.BILL_ORDER_NUM,
		DATE_FORMAT(b.BILL_ORDER_DATE,'%m-%d  %H:%i') as Bill_ORDER_DATE_TIME,
		BILL_COOKING_TIME,
        b.BILL_DELIVERY_ADDRESS ,
        b.BILL_DELIVERY_ADDRESS_DETAIL ,
        b.BILL_DELIVERY_ADDRESS_POST_NUM ,
        bp.USER_NUM,
        u.USER_PHONE,
        bp.BILL_PRODUCT_QUANTITY,
        bp.BILL_DELIVERY_METHOD,
        bp.BILL_COOKING_TIME,
        bp.BILL_STATUS
        FROM tbl_bills_product bp
        join TBL_SELL_PRODUCT p on bp.SELL_PRODUCT_NUM =p.SELL_PRODUCT_NUM
        join TBL_BILLS b on bp.BILL_ORDER_NUM =b.BILL_ORDER_NUM
        join TBL_USER u on bp.USER_NUM =u.USER_NUM
        where BILL_DELIVERY_METHOD!=1 and BILL_STATUS=2 and u.USER_NUM=#{userNum} or BILL_DELIVERY_METHOD!=1 and BILL_STATUS=3 and u.USER_NUM=#{userNum}
        or BILL_DELIVERY_METHOD!=1 and BILL_STATUS=4 and u.USER_NUM=#{userNum}
        order by  BILL_PRODUCT_LIST_NUM desc;
    </select>

    <select id="selectFilter" resultType="com.example.lastfresh.domain.dto.BillProductDTO">
        SELECT
        bp.BILL_PRODUCT_LIST_NUM as BILL_PRODUCT_LIST_NUM,
        bp.SELL_PRODUCT_NUM,
        p.SELL_PRODUCT_NAME,
        p.SELL_PRODUCT_ADDRESS,
        p.SELL_PRODUCT_ADDRESS_DETAIL,
        p.SELL_PRODUCT_ADDRESS_POST_NUM,
        p.SELL_PRODUCT_PHONE,
        bp.BILL_ORDER_NUM,
		DATE_FORMAT(b.BILL_ORDER_DATE,'%m-%d  %H:%i') as Bill_ORDER_DATE_TIME,
		BILL_COOKING_TIME,
        b.BILL_DELIVERY_ADDRESS ,
        b.BILL_DELIVERY_ADDRESS_DETAIL ,
        b.BILL_DELIVERY_ADDRESS_POST_NUM ,
        bp.USER_NUM,
        bp.BILL_PRODUCT_QUANTITY,
        bp.BILL_DELIVERY_METHOD,
        bp.BILL_COOKING_TIME,
        bp.BILL_STATUS
        FROM tbl_bills_product bp
        join TBL_SELL_PRODUCT p on bp.SELL_PRODUCT_NUM =p.SELL_PRODUCT_NUM
        join TBL_BILLS b on bp.BILL_ORDER_NUM =b.BILL_ORDER_NUM
        join TBL_USER u on bp.USER_NUM =u.USER_NUM
        where BILL_DELIVERY_METHOD!=1 and BILL_STATUS=1 and SELL_PRODUCT_ADDRESS=#{sellProductAddress}
        order by  BILL_PRODUCT_LIST_NUM desc
    </select>

    <update id="upDateStatusToFour">
        UPDATE tbl_bills_product
        set BILL_STATUS=4, USER_NUM = #{userNum}
        WHERE BILL_PRODUCT_LIST_NUM=#{billProductListNum}
    </update>
    <update id="upDateStatusToTwo">
        UPDATE tbl_bills_product
        set BILL_STATUS=2, USER_NUM = #{userNum}
        WHERE BILL_PRODUCT_LIST_NUM=#{billProductListNum}
    </update>
    <update id="upDateStatusToThree">
        UPDATE tbl_bills_product
        set BILL_STATUS=3
        WHERE BILL_PRODUCT_LIST_NUM=#{billProductListNum} and USER_NUM=#{userNum}
    </update>

    <update id="upDateStatusToMinus">
        UPDATE tbl_bills_product
        set BILL_STATUS=1, USER_NUM = null
        WHERE BILL_PRODUCT_LIST_NUM=#{billProductListNum} and USER_NUM=#{userNum}
    </update>

</mapper>
