<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headWithoutFragment">
    <link th:href="@{/front/assets/css/main2.css}" rel="stylesheet" />

    <div class="header-wrapper-media">
        <div class="upper-gnb">
           <div class="logo-wrapper">
               <img class="media-log-img" src="https://cdn.discordapp.com/attachments/969471931575320587/973236493160173659/2022-05-09_11.54.16.png" alt="">
               <img class="media-basket-img" src="https://cdn.discordapp.com/attachments/969471931575320587/973289654080139354/2022-05-10_3.22.50.png" alt="">
               <img class="media-my-img" src="https://cdn.discordapp.com/attachments/969471931575320587/973289653627133992/2022-05-10_3.23.55.png" alt="">
           </div>
        </div>
        <nav id="navMOBILE-media">
            <ul style="float: left; padding: 11px 0; background: white; width: 100%;    border-bottom: solid 1px #ddd;">
                <li class="allCategory myli" onclick="send()" style="margin-left:23px;"><a>전체 카테고리</a></li>
                <li class="myli"><a href="#" class="aa">신상품</a></li>
                <li class="myli"><a href="#" class="aa">픽업</a></li>
                <li class="myli"><a href="#" class="aa">배달</a></li>
                <li class="myli"><a href="#" class="aa">배송</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-wrapper" style="
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #999999;
    font-size: 14pt;
    line-height: 1.75em;
    margin: 0;
">
<div style="
             width: 100%;
             background: url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png) repeat-x 0 100%;
        " class="pcHeader all">
    <section id="header">
        <!-- userMenu -->
        <div id="userMenu">
            <ul class="menu_before_login">
                <li class="list_menu_li">
                    <a href="#" class="list_menu_txt">로그인</a>
                </li>
                <li class="list_menu_li">
                    <a href="#" class="list_menu_txt" style="color: #DA291C">회원가입</a>
                    <span class ="slice">&nbsp; |&nbsp; </span>
                </li>
            </ul>
            <ul class="menu_after_login">
                <li class="list_menu_li">
                    <a href="#" class="list_menu_txt">로그아웃</a>
                </li>
                <li class="list_menu_li">
                    <span class ="userStatus">일반</span>
                    <a href="#" class="list_menu_txt"> 장서영 님</a>
                    <span class ="slice">&nbsp; |&nbsp; </span>
                </li>
            </ul>
        </div>
        <!-- Logo -->
        <div style="margin-top: -39px;"><p>&nbsp;</p></div>
        <div style ="margin: 0 auto;">

            <a href="main.html"><img id="logo" src ="https://cdn.discordapp.com/attachments/969471931575320587/969513952226738196/logo.png"></a>
        </div>
        <!-- Nav -->
        <nav id="nav">
            <ul style="float:left; margin-top:10px">
                <li class="allCategory" onclick="send()" ><a id="allCategory"><img src="https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png" class="categoryIcon">전체 카테고리</a></li>
                <li><a href="/product/proNew">신상품</a></li>
                <li><a href="/product/proPickup">우리동네 픽업</a></li>
                <li><a href="/product/proDelivery">우리동네 배달</a></li>
                <li><a href="/product/proShipping">집 앞까지 배송</a></li>
            </ul>
            <ul>
                <li class="cart"><a><img width="40px" src ="https://cdn.discordapp.com/attachments/969471931575320587/969802537794420767/2022-04-29_3.23.52.png"
                                         onmouseover="this.src='https://cdn.discordapp.com/attachments/969471931575320587/969800742623916042/2022-04-29_3.23.52.png'",
                                         onmouseout="this.src='https://cdn.discordapp.com/attachments/969471931575320587/969802537794420767/2022-04-29_3.23.52.png'"></a></li>
            </ul>
        </nav>






    </section>
</div>

<!-- 전체 카테고리 -->
<div id="gnb">
    <div class="gnb_sub" style="display: none; width: 170px;">
        <div class="inner_sub">
            <ul data-default="219" data-min="219" data-max="731" class="gnb_menu" style="margin: 0;">
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_veggies_inactive_pc@2x.1586324570.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">과일/채소</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_meat_inactive_pc@2x.1568684452.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">육류</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_seafood_inactive_pc@2x.1568684352.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">수산물</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_convenient_inactive_pc@2x.1572243542.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">반찬</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_cookie_inactive_pc.1610074008.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">간식</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_health_inactive_pc@2x.1574645922.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">건강</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_side_inactive_pc@2x.1572243579.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">한식</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/category/icon/pc/9bead7b8-2a7e-4a2f-910a-ebe5c8f5f4f0" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">일식</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_kitchen_inactive_pc@2x.1574646457.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">중식</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_sauce_inactive_pc@2x.1572243594.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">양식</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://img-cf.kurly.com/shop/data/category/icon_snacks_inactive_pc@2x.1572243615.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">카페</span>
                         </span>
                    </a>
                </li>
                <li class>
                    <a class="menu">
                         <span class="ico">
                            <img src="https://res.kurly.com/pc/service/common/1908/ico_recommend_v2.png" alt="카테고리 아이콘">
                         </span>
                        <span class="tit">
                            <span class="txt">기타</span>
                         </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 모바일 -->
<div class="mobileHeader" style="display:none;">
    <section id="headerMOBILE">
        <!-- userMenu -->
        <div id="userMenuMOBILE">
            <ul class="menuMOBILE">
                <li class="cartMOBILE"><a><img width="40px" src ="https://cdn.discordapp.com/attachments/969471931575320587/973289653627133992/2022-05-10_3.23.55.png"></a></li>
                <li class="myPageMOBILE"><a><img width="40px" src ="https://cdn.discordapp.com/attachments/969471931575320587/973289654080139354/2022-05-10_3.22.50.png"></a></li>
            </ul>

        </div>
        <!-- Logo -->
        <div style="margin-top: -39px;"><p>&nbsp;</p></div>
        <div style ="text-align: center;">

            <a href="main.html"><img id="logo2" src ="https://cdn.discordapp.com/attachments/969471931575320587/973236493160173659/2022-05-09_11.54.16.png"></a>
        </div>
        <!-- Nav -->
        <nav id="navMOBILE">
            <ul style="float: left; padding: 11px 0; background: white; width: 100%;    border-bottom: solid 1px #ddd;">
                <li class="allCategory myli" onclick="send()" style="margin-left:23px;"><a>전체 카테고리</a></li>
                <li class="myli"><a href="#" class="aa">신상품</a></li>
                <li class="myli"><a href="#" class="aa">픽업</a></li>
                <li class="myli"><a href="#" class="aa">배달</a></li>
                <li class="myli"><a href="#" class="aa">배송</a></li>
            </ul>

        </nav>

        <hr>


    </section>
</div>

</header>





</div>

    <script th:inline="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/

        var check = false;

        const $category = $('.gnb_menu li');

        function send(){
            if(check == false) {
                $('.gnb_sub').show();
                /*	$('#allCategory').css({
                        "color" : "#DA291C",
                        "font-weight" : "600"
                    });*/
                check = true;
            }else {
                $('.gnb_sub').hide();
                /*$('#allCategory').css({
                    "color" : "#333",
                    "font-weight" : "500"
                });*/
                check = false;
            }
        }

        $.each($category, function(index, item){
            $(item).mouseover(function(){
                $category.addClass("current");
            })
        });



        /*]]>*/

    </script>

</th:block>


</html>