<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lastfresh.mapper.user.ReviewMapper">
    <insert id="insert">
        INSERT INTO tbl_review
        (SELL_PRODUCT_NUM, USER_NUM, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE)
        VALUES(#{productNum}, #{userNum}, '', '', now())
    </insert>

    <select id="getUnWritten" resultType="reviewVO">
        SELECT * FROM tbl_review
        WHERE REVIEW_TITLE = "" AND USER_NUM=#{userNum}
    </select>

    <select id="getWritten" resultType="reviewVO">
        SELECT * FROM tbl_review
        WHERE REVIEW_TITLE != "" AND USER_NUM=#{userNum}
    </select>

    <update id="update">
        UPDATE tbl_review
        SET REVIEW_TITLE=#{reviewTitle}, REVIEW_CONTENT=#{reviewContent}, REVIEW_DATE=now()
        WHERE REVIEW_NUM=#{reviewNum}
    </update>

    <delete id="delete">
        delete from tbl_review
          WHERE REVIEW_NUM=#{reviewNum}
    </delete>

    <select id="readReview" resultType="ReviewVO">
        SELECT REVIEW_NUM, SELL_PRODUCT_NUM, USER_NUM, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_DATE
        FROM tbl_review
        WHERE REVIEW_NUM = #{reviewNum}
    </select>

    <select id="getReviewList" resultType="ReviewDTO">
        SELECT
          T.*, U.USER_ID
        FROM  tbl_review T
        inner join tbl_user U
        on U.USER_NUM = T.USER_NUM
        WHERE SELL_PRODUCT_NUM = #{sellProductNum} and REVIEW_TITLE!=''
        ORDER BY REVIEW_NUM desc
         limit #{criteriaProduct.limit},6
    </select>
    <!--    <delete id="delete">-->
    <!--    </delete>-->

    <!--    <update id="update">-->
    <!--    </update>-->


    <select id="getTotal" resultType="_int">
        SELECT COUNT(SELL_PRODUCT_NUM) FROM tbl_review WHERE SELL_PRODUCT_NUM = ${sellProductNum}
    </select>
</mapper>