<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>라스트프레시 | 아이디 찾기</title>
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
    <link rel="stylesheet" href="/front/assets/css/user/userFindId.css">
</head>
<body>
<th:block th:insert="/fragments/header.html :: headFragment"/>
<div class="wrapper">
    <div class="title">아이디 찾기</div>
    <div class="find_box">
        <div class="verificationText">
            <button selected="" type="button" class="hp_verification" onclick="showphonediv()">휴대폰 인증</button>
            <button type="button" class="email_verification" onclick="showemaildiv()">이메일 인증</button>
        </div>
        <form class="sendInfo">
            <div class="css-1blp8ou el059co3">
                <div class="Id_box"><label for="id" class="Id_label">이름</label>
                    <div class="input_wrapper"><input type="text" data-testid="input-box" id="id" name="id"
                                                      value="" placeholder="이름을 입력해 주세요"
                                                      class="input_info"></div>
                </div>
            </div>
            <div class="css-1blp8ou el059co3">
                <div class="Id_box phone_box"><label for="phone" class="Id_label">휴대폰 번호</label>
                    <div class="input_wrapper"><input type="tel" data-testid="input-box" id="phone" name="phone"
                                                      value="" placeholder="휴대폰 번호를 입력해 주세요"
                                                      class="input_info"></div>
                </div>
            </div>
            <div class="css-1blp8ou el059co3">
                <div class="email_box" style="padding-bottom: 12px"><label for="phone" class="Id_label">이메일</label>
                    <div class="input_wrapper"><input type="tel" data-testid="input-box"
                                                      value="" placeholder="이메일을 입력하세요"
                                                      class="input_info"></div>
                </div>
            </div>


            <div class="accept_wrapper">
                <button class="accept_button email_box"  type="submit" disabled="" radius="4">
                    <span class="accept_text">확인</span>
                </button>
            </div>
            <div class="accept_wrapper">
                <button class="accept_button phone_box" type="submit" disabled="" radius="4">
                    <span class="accept_text">인증번호 받기</span>
                </button>
            </div>

        </form>
    </div>
</div>
<th:block th:insert="/fragments/footer.html :: footFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/user/userFind.js"></script>

</html>





