<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Untitled</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../static/riderFront/assets/css/sub.css">
</head>
<body class="is-preload">
<!--header-->

<div style="width: 100%; background-color: #343333;height: 64px; position: fixed; top: 0;text-align: right">
        <img style="height: 42px;margin: 13px 0px 0 24px;display: flex;"
             src="https://cdn.discordapp.com/attachments/969471931575320587/969513952226738196/logo.png">
    <div class="logoutBtn media">
        <a href="#top" id="logOut">
            <div style="margin: -5px 10px 0 0;font-size: 14px; width: 247px; font-weight: bold;float: right;">로그아웃</div>
            <div style="display: flex;margin: -44px 0 0 286px;">
                <img style="height: 22px;" src="https://cdn.discordapp.com/attachments/969471931575320587/970204504236625930/7a9cb8c0c9335993.png">
            </div>
        </a>
    </div>
    <div class="welcome">
        <h1 id="name" class="riderName" style="color: #f4f4f4c9; font-size: 18px; margin-top: -47px;margin-right: 140px;">아이유</h1>
        <h1 style="font-size: 18px; color: #f4f4f4c9; margin: -27px 20px 0 0;" >님 환영합니다</h1>
    </div>
</div>
<!--    <p style="font-size: 18px;">라이더</p>-->
<div class="redLine" ></div>
<div class="menuBar">
    <div class="menuBarItem" style="background-color: white; color: #2C2929">배달 목록</div>
    <div class="menuBarItem"style="margin-left: 187px;">MY 배달 내역</div>
</div>
<!-- sideBar -->
<div id="header">

    <div class="top">

        <!-- Nav -->
        <nav id="nav">
            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;" >
                <div class="riderSideBarWrap" style="background-color:white; color: #2C2929"><a href="#top" id="deliveryList">
                    <div class="riderSideBarItemWrap">
                        <div class="riderSideBarItem" style="margin: 150px 0 100px -122px;">배달 목록</div>
                    </div>
                </a></div>
                <div class="riderSideBarWrap"><a href="#top" id="myDeliveryList">
                    <div class="riderSideBarItemWrap">
                        <div class="riderSideBarItem" style="margin: 150px 0 100px -100px;">MY 배달 내역</div>
                    </div>
                </a></div>

            </div>
            <div class="logoutBtn desktop" style="margin-right: 31px;  margin-top: 15px;" >
                <a style="font-size: 19px; width: 247px; font-weight: bold;" href="#top" id="logOut">
                    로그아웃
                    <div class="logout" style="display: flex; margin: -38px 0 0 9px;">
                        <img style="height: 30px;" src="https://cdn.discordapp.com/attachments/969471931575320587/970204504236625930/7a9cb8c0c9335993.png">
                    </div>
                </a>
            </div>
        </nav>

    </div>
</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->

    <!-- 배달목록 -->
    <section id="deliveryListWrap" class="deliveryListWrap">
        <div class="deliveryListContainer">
            <div class="request">
                <div class="requestTime">13:59</div>
                <div class ="requestType" style="background-color: #03A9F4;">배달</div>
            </div>
            <div class="deliveryListContain">
                <dl class = "productInfos startAddress">
                    <dt class="productInfo">출발지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "productInfos arriveAddress">
                    <dt class="productInfo">도착지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "store productName">
                    <dd class="storeInfoDetail">[자연실록]건강에 좋은 한입 닭가슴살 1kg</dd>
                </dl>
                <dl class = "store storeName">
                    <dd class="storeInfoDetail" style="margin-top: 13px">노랑통닭</dd>
                </dl>
            </div>
            <!--            <span class="image avatar48 deliveryIcon"><img src="../../static/riderFront/images/delivery.png" alt="" /></span>-->
            <div><button class="acceptBtn"> 접수하기</button></div>
        </div>
        <div class="deliveryListContainer">
            <div style="float: left">
                <div class="requestTime">13:59</div>
                <div class ="requestType" style="background-color: #FFC107;">배송</div>
            </div>
            <div class="deliveryListContain" style="margin-top:22px; margin-left: 245px;">
                <dl class = "productInfos startAddress">
                    <dt class="productInfo">출발지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "productInfos arriveAddress">
                    <dt class="productInfo">도착지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "store productName">
                    <dd class="storeInfoDetail">[자연실록]건강에 좋은 한입 닭가슴살 1kg</dd>
                </dl>
                <dl class = "store storeName">
                    <dd class="storeInfoDetail" style="margin-top: 13px">노랑통닭</dd>
                </dl>
            </div>
            <!--            <span class="image avatar48 deliveryIcon"><img src="../../static/riderFront/images/delivery.png" alt="" /></span>-->
            <div><button class="acceptBtn"> 접수하기</button></div>
        </div>
        <div class="deliveryListContainer">
            <div style="float: left">
                <div class="requestTime">13:59</div>
                <div class ="requestType" style="background-color: #03A9F4;">배달</div>
            </div>
            <div class="deliveryListContain" style="margin-top:22px; margin-left: 245px;">
                <dl class = "productInfos startAddress">
                    <dt class="productInfo">출발지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "productInfos arriveAddress">
                    <dt class="productInfo">도착지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "store productName">
                    <dd class="storeInfoDetail">[자연실록]건강에 좋은 한입 닭가슴살 1kg</dd>
                </dl>
                <dl class = "store storeName">
                    <dd class="storeInfoDetail" style="margin-top: 13px">노랑통닭</dd>
                </dl>
            </div>
            <!--            <span class="image avatar48 deliveryIcon"><img src="../../static/riderFront/images/delivery.png" alt="" /></span>-->
            <div><button class="acceptBtn"> 접수하기</button></div>
        </div>

    </section>
    <!-- 배달목록 -->
    <section id="myDeliveryList" class="deliveryList" style="display: none">
        <div class="deliveryListContainer">
            <div style="float: left">
                <div class="requestTime">13:59</div>
            </div>
            <div class="deliveryListContain" style="margin-top:22px; margin-left: 245px;">
                <dl class = "productInfos startAddress">
                    <dt class="productInfo">출발지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "productInfos arriveAddress">
                    <dt class="productInfo">도착지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "store productName">
                    <dd class="storeInfoDetail">[자연실록]건강에 좋은 한입 닭가슴살 1kg</dd>
                </dl>
                <dl class = "store storeName">
                    <dd class="storeInfoDetail" style="margin-top: 13px">노랑통닭</dd>
                </dl>
            </div>
            <!--            <span class="image avatar48 deliveryIcon"><img src="../../static/riderFront/images/delivery.png" alt="" /></span>-->
            <div><button class="acceptBtn"> 접수하기</button></div>
        </div>
    </section>



</div>

<!-- Footer -->
<!--<div id="footer">-->
<!--    &lt;!&ndash; 페이지 밑 &ndash;&gt;-->
<!--</div>-->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
<script th:inline="javascript">
    let deliveryList = [[${deliveryList}]];
    let myDeliveryList = [[${myDeliveryList}]];
    let profileModify = [[${profileModify}]];
    let deliveryListWrap = [[${deliveryListWrap}]];

    $("section.myDeliveryList").click(function(e){
        e.preventDefault();
        $(deliveryListWrap).hide();
        $(myDeliveryList).css({"background":"white","color":"#2C2929"});
        $(deliveryList).css({"background":"#dbdbdb","color":"#888"});
        $(profileModify).css({"background":"#dbdbdb","color":"#888"});
    });
    // $("a.goRead").click(function(e){
    //     e.preventDefault();
    //     location.href = "/board/read" + pageInfo + "&bno=" + $(this).attr("href");
    // });
</script>
</html>