<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>myDeliveryList</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../static/riderFront/assets/css/main.css">
</head>
<body class="is-preload">
<!--header-->

<div style="width: 100%; background-color: #343333;height: 64px; position: fixed; top: 0;text-align: right">
    <img style="height: 42px;margin: 13px 0px 0 24px;display: flex;"
         src="https://cdn.discordapp.com/attachments/969471931575320587/969513952226738196/logo.png">
    <h1 id="name" class="riderName" style="color: #f4f4f4c9; font-size: 18px; margin-top: -47px;margin-right: 129px;">아이유</h1>
    <h1 style="font-size: 18px; color: #f4f4f4c9; margin: -27px 10px 0 0;" >님 환영합니다</h1>
</div>
<!--    <p style="font-size: 18px;">라이더</p>-->

<div style="width: 100%; background-color: #DA291C; height: 64px; position: fixed; top: 64px;border: 1px solid black;" ></div>
<!-- sideBar -->
<div id="header">

    <div class="top">

        <!-- Nav -->
        <nav id="nav">
            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;" >
                <div class="riderSideBarWrap" ><a href="#top" id="deliveryList">

                    <div class="riderSideBarItem" style="margin: 48px 0 100px -130px;">배달 목록</div>
                </a></div>
                <div class="riderSideBarWrap"><a href="#top" id="myDeliveryList">

                    <div class="riderSideBarItem" style="margin: 48px 0 100px -118px;">MY 배달 내역</div>
                </a></div>
                <div class="riderSideBarWrap"style="background-color:white; color: #2C2929"><a href="#top" id="profileModify">

                    <div class="riderSideBarItem" style="margin: 48px 0 100px -109px;">개인 정보 수정</div>
                </a></div>
                <!--                <li><a href="#portfolio" id="deliveryInfo"><span class="icon solid fa-th" style="font-size: 250px;">MY 배달 내역</span></a></li>-->
                <!--                <li><a href="#about" id="profileModify"><span class="icon solid fa-user" style="font-size: 250px;">개인 정보 수정</span></a></li>-->
            </div>
            <div class="bottom" style="margin-right: 34px; margin-top: -15px;" >
                <a style="font-size: 19px; width: 247px; font-weight: bold;" href="#top" id="logOut">
                    로그아웃
                    <div class="logout" style="display: flex; margin: -38px 0 0 9px;">
                        <img style="height: 30px;" src="https://cdn.discordapp.com/attachments/969471931575320587/970204504236625930/7a9cb8c0c9335993.png">
                    </div>
                </a>

            </div>
        </nav>

    </div>
</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->

    <!-- 배달목록 -->
    <section id="deliveryListWrap" class="deliveryListWrap">
        <div class="deliveryListContainer">
            <div style="float: left">
                <div class="requestTime">13:59</div>
            </div>
            <div class="deliveryListContain" style="margin-top:22px; margin-left: 245px;">
                <dl class = "productInfos startAddress">
                    <dt class="productInfo">출발지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "productInfos arriveAddress">
                    <dt class="productInfo">도착지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "store productName">
                    <dd class="storeInfoDetail">[자연실록]건강에 좋은 한입 닭가슴살 1kg</dd>
                </dl>
                <dl class = "store storeName">
                    <dd class="storeInfoDetail" style="margin-top: 13px">노랑통닭</dd>
                </dl>
            </div>
            <!--            <span class="image avatar48 deliveryIcon"><img src="../../static/riderFront/images/delivery.png" alt="" /></span>-->
            <div><button class="acceptBtn" style="cursor: default; background-color: #dbdbdb; border-color: #5d5d5d" > 배달완료</button></div>
        </div>


    </section>
    <!-- 배달목록 -->
    <section id="myDeliveryList" class="deliveryList" style="display: none">
        <div class="deliveryListContainer">
            <div style="float: left">
                <div class="requestTime">13:59</div>
            </div>
            <div class="deliveryListContain" style="margin-top:22px; margin-left: 245px;">
                <dl class = "productInfos startAddress">
                    <dt class="productInfo">출발지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "productInfos arriveAddress">
                    <dt class="productInfo">도착지  :</dt>
                    <dd class="productInfoDetail">서울 강남구 테헤란로 146 역삼동 736-6 06236</dd>
                </dl>
                <dl class = "store productName">
                    <dd class="storeInfoDetail">[자연실록]건강에 좋은 한입 닭가슴살 1kg</dd>
                </dl>
                <dl class = "store storeName">
                    <dd class="storeInfoDetail" style="margin-top: 13px">노랑통닭</dd>
                </dl>
            </div>
            <!--            <span class="image avatar48 deliveryIcon"><img src="../../static/riderFront/images/delivery.png" alt="" /></span>-->
            <div><button class="acceptBtn"> 배달완료</button></div>
        </div>
    </section>



</div>

<!-- Footer -->
<!--<div id="footer">-->
<!--    &lt;!&ndash; 페이지 밑 &ndash;&gt;-->
<!--</div>-->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
<script th:inline="javascript">

</script>
</html>