<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lastfresh.mapper.owner.OwnerProductMapper">
    <select id="getList" resultType="ProductListDTO">
        SELECT SELL_PRODUCT_NUM, USER_NUM, SELL_PRODUCT_NAME, SELL_PRODUCT_DISCOUNT_PRICE,
        SELL_PRODUCT_EXPIRE_DATE, SELL_PRODUCT_STOCK, SELL_PRODUCT_STATUS, SELL_PRODUCT_PICKUP,
        SELL_PRODUCT_DELIVERY_METHOD, SELL_PRODUCT_SHIPPING_METHOD, SELL_PRODUCT_IMAGE_UPLOAD_PATH, SELL_PRODUCT_THUMBNAIL
        FROM tbl_sell_product
        WHERE USER_NUM = #{userNum}
        ORDER BY 1 DESC limit #{limit}, 10
    </select>

<!--    &lt;!&ndash; 쿼리 결과에 대한 맵핑 변수명 vs 컬럼명 &ndash;&gt;-->
<!--    <resultMap type="com.example.lastfresh.mapper.ProductVO" id="ProductVO">-->
<!--        <result property="sellProductExpireDay" column="SELL_PRODUCT_EXPIRE_DATE"/>-->
<!--        <result property="sellProductDelivery" column="SELL_PRODUCT_DELIVERY_METHOD"/>-->
<!--        <result property="sellProductShipping" column="SELL_PRODUCT_SHIPPING_METHOD"/>-->
<!--    </resultMap>-->

    <select id="getTotal" resultType="_int">
        SELECT COUNT(SELL_PRODUCT_NUM) FROM tbl_sell_product
        WHERE USER_NUM = #{userNum}
    </select>

    <delete id="deleteProductMenu">
        DELETE FROM tbl_sell_product
        WHERE SELL_PRODUCT_NUM = #{sellProductNum}
    </delete>

</mapper>