<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Last fresh Pos</title>
    <link rel="stylesheet" href="/front/assets/css/sell.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- 전체 Wrapper -->
    <div class="sell-wrapper">
        <!-- 조리시간 모달창 -->
        <div class="cookingTime-wrapper">
            <div class="cookingTime-content-wrapper">
                <div class="cookingTime-TopBar">
                    <span class="cookingTime-close-btn">
                        X
                    </span>
                </div>

                <div class="cookingTime-content">
                    <div class="cookingTime-info1">
                        <span>조리 시간을 선택해주세요</span>
                        <img class="cookingTime-reset" src="https://cdn.discordapp.com/attachments/969471931575320587/970561183444762685/w-reset-icon-red.png" alt="">
                    </div>
                    <!-- 조리 시간 변경 부분-->
                    <div class="cookingTime_select">
                        <div class="cookingTime-minus">
                            <span>
                                -
                            </span>
                        </div>
                        <div class="cookingTime-real-wrapper">
                            <span class="cookingTime-real">
                                0
                            </span>
                            <span>
                                분
                            </span>
                        </div>
                        <div class="cookingTime-plus">
                            <span>
                                +
                            </span>
                        </div>
                    </div>
                    <!-- 접수 및 안내 사항 -->
                    <div class="cookingTime-bottomBar">
                        <div class="cookingTime-info2">
                                주문을 접수하면 라이더가 배차됩니다.
                        </div>
                        <div class="cookingTime-reception">
                            접 수
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 주문 접수 Wrapper-->
        <div class="gnb-wrapper">
            <div class="gnb-order">
                Last fresh
            </div>
        </div>

        <!-- 주문 내용 Wrapper-->
        <div class="content-wrapper">
            <!-- 주문 사이드바 wrapper -->
            <div class="sidebar-wrapper">
                <div class="reception sideBars sellClicked">
                    <div class="reception-content">
                        <p>접수 대기</p>
                        <p>4</p>
                        <p class="reception-new">new</p>
                    </div>
                </div>
                <div class="process sideBars">
                    <div class="process-content">
                        <p>처리중</p>
                        <p>4</p>
                    </div>
                </div>
                <div class="complete sideBars">
                    <div class="complete-content">
                        <p>완료</p>
                        <p>4</p>
                    </div>
                </div>
                <div class="orderhistoy">
                    <img src="https://cdn.discordapp.com/attachments/969471931575320587/969513952226738196/logo.png" alt="">
                </div>
            </div>

            <!-- 주문 사이드바에 맞는 콘텐츠-->
            <div class="sidebar-content">
                <!--접수 대기가 없을 시-->
                <div class="noorder">
                    <img src="https://cdn.discordapp.com/attachments/969471931575320587/969481005150908456/7d8afc2c848b9d71.png">
                    <p>즐거운 하루 보내세요!</p>
                </div>

                <!-- 접수 대기 목록이 있을 시-->
                <div class="order-content">
                    <!-- ajax로 가져올 데이터 접수 대기 -->
                    <div class="order-list-wrapper">
                        <div class="order-list">
                            <!-- 시간&수령 방법-->
                            <div class="order-info1">
                                <div class="order-time">
                                    18:41
                                </div>
                                <div class="order-method pickUp">
                                    포장
                                </div>
                            </div>
                            <!-- 주문 관련 정보 (가격, 메뉴이름, 수량, 주소)-->
                            <div class="order-info2">
                                <div class="order-menu">
                                    <p class="order-price">31,800원</p>
                                    <p class="order-menuInfo">김치찌개 2개</p>
                                </div>
                                <br>
                                <div class="order-address">
                                    서울 송파구 방이동 999-9
                                </div>
                                <div class="order-phoneNum">
                                    010-5999-9999
                                </div>
                            </div>

                            <!-- 주문 수락 및 취소-->
                            <div class="order-accept">
                                <button class="order-reception-btn">접수하기</button>
                                <button class="order-cancel-btn">취소</button>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="order-list-wrapper">
                        <div class="order-list">
                            <div class="order-info1">
                                <div class="order-time">
                                    17:41
                                </div>
                                <div class="order-method delivery">
                                    배달
                                </div>
                            </div>

                            <div class="order-info2">
                                <div class="order-menu">
                                    <p class="order-price">31,800원</p>
                                    <p class="order-menuInfo">김치찌개 2개</p>
                                </div>
                                <div class="order-address">
                                    서울 송파구 방이동 999-9
                                </div>
                            </div>

                            <div class="order-accept">
                                <button>픽업대기</button>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="order-list-wrapper">
                        <div class="order-list">
                            <div class="order-info1">
                                <div class="order-time">
                                    15:41
                                </div>
                                <div class="order-method shipping">
                                    배송
                                </div>
                            </div>

                            <div class="order-info2">
                                <div class="order-menu">
                                    <p class="order-price">31,800원</p>
                                    <p class="order-menuInfo">김치찌개 2개</p>
                                </div>
                                <br>
                                <div class="order-address">
                                    서울 송파구 방이동 999-9
                                </div>
                                <div class="order-phoneNum">
                                    010-5999-9999
                                </div>
                            </div>

                            <div class="order-accept">
                                <button>배송중</button>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="order-list-wrapper">
                        <div class="order-list">
                            <div class="order-info1">
                                <div class="order-time">
                                    18:41
                                </div>
                                <div class="order-method pickUp">
                                    포장
                                </div>
                            </div>

                            <div class="order-info2">
                                <div class="order-menu">
                                    <p class="order-price">31,800원</p>
                                    <p class="order-menuInfo">김치찌개 2개</p>
                                </div>
                                <br>
                                <div class="order-address">
                                    서울 송파구 방이동 999-9
                                </div>
                                <div class="order-phoneNum">
                                    010-5999-9999
                                </div>
                            </div>

                            <div class="order-accept">
                                <button class="delivery-complete-btn">배송완료</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="layout-pagination">
                        <div class="pagediv">
                            <a href="#main" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                            <a href="#main" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                            <span><!----> <strong class="layout-pagination-button layout-pagination-number __active">1</strong></span>
                            <a href="#main" class="layout-pagination-button layout-pagination-next-page">다음 페이지로 가기</a>
                            <a href="#main" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/sell/pos.js"></script>
</html>