<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/front/assets/css/sell.css">
</head>
<body>
    <!-- 전체 Wrapper -->
    <div class="sell-wrapper">
        <!-- 주문 접수 Wrapper-->
        <div class="gnb-wrapper">
            <div class="gnb-order">
                주문접수
            </div>
        </div>

        <!-- 주문 내용 Wrapper-->
        <div class="content-wrapper">
            <!-- 주문 사이드바 wrapper -->
            <div class="sidebar-wrapper">
                <div class="reception">접수대기</div>
                <div class="process">처리중</div>
                <div class="complete">완료</div>
                <div class="orderhistoy">주문조회</div>
            </div>

            <!-- 주문 사이드바에 맞는 콘텐츠-->
            <div class="sidebar-content">
                <div class="nooder">
                    <img src="https://cdn.discordapp.com/attachments/969471931575320587/969481005150908456/7d8afc2c848b9d71.png">
                    <p>즐거운 하루 보내세요!</p>
                </div>

                <div>

                </div>
            </div>

        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/sell/pos.js"></script>
</html>