<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레쉬 | 판매자 메인페이지</title>
    <link rel="stylesheet" href="/front/assets/css/sell/sellMain.css">
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
<!--    <link rel="stylesheet" href="/front/assets/css/main.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<th:block th:insert="/fragments/headerWithout.html :: headWithoutFragment"/>
<div class="page_myPage myPage_type1 sellMain">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">판매자 페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li>
                    <a class="menuClicked" href="/sell/sellMain">판매 내역</a>
                </li>
                <li>
                    <a href="/sell/sellMenuList">상품 목록</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="page_section section_orderview">
        <div class="head_article">
            <h2 class="tit">판매 내역 상세</h2>
        </div>

        <!-- 반응형 -->
        <div class="order-list-wrapper-media">
            <table class="tbl tbl_type1 mediaTable">
                <colgroup>
                    <col style="width:200px;">
                    <col style="width:auto">
                    <col style="width:100px;">
                    <col style="width:136px;">
                </colgroup>
                <thead>
                    <tr class="tHead">
                        <th class="order-Num" colspan="3">주문번호 99999</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="order-name">
                            상품명
                        </td>
                        <td class="order-name-content">
                            [포크밸리] 한돈 대패 삼겹살 300g (냉동)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-date">
                            결제 일시
                        </td>
                        <td class="order-date-content">
                            2022-05-08 (13시 34분)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-price">
                            결제 금액
                        </td>
                        <td class="order-price-content">
                            7900원
                        </td>
                    </tr>
                    <tr>
                        <td class="order-methods">
                            수령 방법
                        </td>
                        <td class="order-methods-content">
                            포장
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="tbl tbl_type1 mediaTable">
                <colgroup>
                    <col style="width:200px;">
                    <col style="width:auto">
                    <col style="width:100px;">
                    <col style="width:136px;">
                </colgroup>
                <thead>
                    <tr class="tHead">
                        <th class="order-Num" colspan="3">주문번호 99999</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="order-name">
                            상품명
                        </td>
                        <td class="order-name-content">
                            [포크밸리] 한돈 대패 삼겹살 300g (냉동)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-date">
                            결제 일시
                        </td>
                        <td class="order-date-content">
                            2022-05-08 (13시 34분)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-price">
                            결제 금액
                        </td>
                        <td class="order-price-content">
                            7900원
                        </td>
                    </tr>
                    <tr>
                        <td class="order-methods">
                            수령 방법
                        </td>
                        <td class="order-methods-content">
                            포장
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="tbl tbl_type1 mediaTable">
                <colgroup>
                    <col style="width:200px;">
                    <col style="width:auto">
                    <col style="width:100px;">
                    <col style="width:136px;">
                </colgroup>
                <thead>
                    <tr class="tHead">
                        <th class="order-Num" colspan="3">주문번호 99999</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="order-name">
                            상품명
                        </td>
                        <td class="order-name-content">
                            [포크밸리] 한돈 대패 삼겹살 300g (냉동)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-date">
                            결제 일시
                        </td>
                        <td class="order-date-content">
                            2022-05-08 (13시 34분)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-price">
                            결제 금액
                        </td>
                        <td class="order-price-content">
                            7900원
                        </td>
                    </tr>
                    <tr>
                        <td class="order-methods">
                            수령 방법
                        </td>
                        <td class="order-methods-content">
                            포장
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 웹사이트 -->
        <div class="order-list-wrapper orderMain">
            <div class="order-list" th:each="product:${list}">
                <div class="head_section link_type Type-wrapper">
                    <h3 class="tit" th:text="|주문번호 ${product.billProductListNum}|">주문번호 9999999999</h3>
                </div>
                <div class="orders_form" name="frmOrdView">
                    <table class="tbl tbl_type1">
                        <colgroup>
                            <col style="width:80px;">
                            <col style="width:auto">
                            <col style="width:100px;">
                            <col style="width:136px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="thumb">
                                <img th:src="'/sell/display?fileName=' + ${product.sellProductImageUploadPath} + '/' + ${product.sellProductThumbnail}"  width='100px' height='100px'>
                            </td>
                            <td class="info">
                                <div class="order-method pickUp" th:if="${product.billDeliveryMethod == '1'}">
                                    포장
                                </div>
                                <div class="order-method delivery" th:if="${product.billDeliveryMethod == '2'}">
                                    배달
                                </div>
                                <div class="order-method shipping" th:if="${product.billDeliveryMethod == '3'}">
                                    배송
                                </div>
                                <div class="name">
                                    <p class="link" th:text="${product.sellProductName}">[포크밸리] 한돈 대패 삼겹살 300g (냉동)</p>
                                </div>
                                <div class="desc">
                                    <span class="price" th:text="|${#numbers.formatInteger(product.billProductPrice, 0, 'COMMA')}원|">7,900원</span>
                                    <span class="ea" th:text="|${product.billProductQuantity}개|">1개</span>
                                </div>
                            </td>
                            <td class="progress end" colspan="2">
                                <h2>결제 시간</h2>
                                <br>
                                <p th:text="${product.billOrderDate}">2022-05-08</p>
                                <p th:text="${product.billOrderDateTime}">13:34</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:object="${pageDTO}">
            <div class="big-width" style="text-align: center">
                <!--
                    each문에서 시작값과 끝값을 직접 정하고 싶을 때에는 numbers 객체를 사용한다.
                    타임리프에서 미리 만들어놓은 필드를 사용할 때 #을 붙여주고,
                    numbers 안에 있는 sequence()를 통해 원하는 반복횟수를 결정할 수 있다.
                    th:each="변수명:${#numbers.sequence(시작값, 끝값)"

                    th:if문에 조건식을 작성하면 조건식이 참일 경우 해당 태그가 출력된다.
                    만약 조건식이 참이 아닐 때를 처리해야 한다면 th:unless를 사용하여 if의 조건식과 동일하게 설정해준다.
                -->
                <!--이전 버튼-->
                <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                <th:block th:each="num:${#numbers.sequence(pageDTO.getStartPage(), pageDTO.getEndPage())}">
                    <code th:if="${pageDTO.criteria.getPageNum() == num}" th:text="${num}"></code>
                    <a class="changePage" th:unless="${pageDTO.criteria.getPageNum() == num}" th:href="${num}">
                        <code th:text="${num}"></code>
                    </a>
                </th:block>
                <!--다음 버튼-->
                <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
            </div>
            <div class="small-width" style="text-align: center;">
                <a class="changePage" th:if="*{criteria.pageNum > 1}" th:href="*{criteria.pageNum - 1}"><code>&lt;</code></a>
                <code th:text="*{criteria.pageNum}"></code>
                <a class="changePage" th:if="*{criteria.pageNum < realEnd}" th:href="*{criteria.pageNum + 1}"><code>&gt;</code></a>
            </div>
            <!--th:object는 부모 태그의 object에서 먼저 mapping을 해준다. 따라서 *가 아닌 $로 사용한다.-->
            <form action="/sell/sellMain" th:object="${pageDTO.criteria}" name="pageForm">
                <input class="page-pageNum" type="hidden" name="pageNum" th:value="*{pageNum}">
                <input class="page-amount" type="hidden" name="amount" th:value="*{amount}">
                <input class="page-limit" type="hidden" name="limit" th:value="*{limit}">
            </form>
        </div>
    </div>
</div>
<th:block th:insert="/fragments/footerWithout.html :: footWithoutFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/sell/sellMain.js"></script>
<script src="/front/assets/js/footer.js"></script>
<script th:inline="javascript">
    let page = [[${pageDTO.getStartPage()}]];
    let end = [[${pageDTO.getEndPage()}]];
    console.log(page);
    console.log(end);
</script>
</html>