<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레쉬 | 판매자 메인페이지</title>
    <link rel="stylesheet" href="/front/assets/css/sell/sellMain.css">
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
<!--    <link rel="stylesheet" href="/front/assets/css/main.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<th:block th:insert="/fragments/headerWithout.html :: headWithoutFragment"/>
<div class="page_myPage myPage_type1 sellMain">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">판매자 페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li>
                    <a class="menuClicked" href="/sell/sellMain">판매 내역</a>
                </li>
                <li>
                    <a href="/sell/sellMenuList">상품 목록</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="page_section section_orderview">
        <div class="head_article">
            <h2 class="tit">판매 내역 상세</h2>
        </div>

        <!-- 반응형 -->
        <div class="order-list-wrapper-media">
            <table class="tbl tbl_type1 mediaTable">
                <colgroup>
                    <col style="width:200px;">
                    <col style="width:auto">
                    <col style="width:100px;">
                    <col style="width:136px;">
                </colgroup>
                <thead>
                    <tr class="tHead">
                        <th class="order-Num" colspan="3">주문번호 99999</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="order-name">
                            상품명
                        </td>
                        <td class="order-name-content">
                            [포크밸리] 한돈 대패 삼겹살 300g (냉동)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-date">
                            결제 일시
                        </td>
                        <td class="order-date-content">
                            2022-05-08 (13시 34분)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-price">
                            결제 금액
                        </td>
                        <td class="order-price-content">
                            7900원
                        </td>
                    </tr>
                    <tr>
                        <td class="order-methods">
                            수령 방법
                        </td>
                        <td class="order-methods-content">
                            포장
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="tbl tbl_type1 mediaTable">
                <colgroup>
                    <col style="width:200px;">
                    <col style="width:auto">
                    <col style="width:100px;">
                    <col style="width:136px;">
                </colgroup>
                <thead>
                    <tr class="tHead">
                        <th class="order-Num" colspan="3">주문번호 99999</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="order-name">
                            상품명
                        </td>
                        <td class="order-name-content">
                            [포크밸리] 한돈 대패 삼겹살 300g (냉동)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-date">
                            결제 일시
                        </td>
                        <td class="order-date-content">
                            2022-05-08 (13시 34분)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-price">
                            결제 금액
                        </td>
                        <td class="order-price-content">
                            7900원
                        </td>
                    </tr>
                    <tr>
                        <td class="order-methods">
                            수령 방법
                        </td>
                        <td class="order-methods-content">
                            포장
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="tbl tbl_type1 mediaTable">
                <colgroup>
                    <col style="width:200px;">
                    <col style="width:auto">
                    <col style="width:100px;">
                    <col style="width:136px;">
                </colgroup>
                <thead>
                    <tr class="tHead">
                        <th class="order-Num" colspan="3">주문번호 99999</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="order-name">
                            상품명
                        </td>
                        <td class="order-name-content">
                            [포크밸리] 한돈 대패 삼겹살 300g (냉동)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-date">
                            결제 일시
                        </td>
                        <td class="order-date-content">
                            2022-05-08 (13시 34분)
                        </td>
                    </tr>
                    <tr>
                        <td class="order-price">
                            결제 금액
                        </td>
                        <td class="order-price-content">
                            7900원
                        </td>
                    </tr>
                    <tr>
                        <td class="order-methods">
                            수령 방법
                        </td>
                        <td class="order-methods-content">
                            포장
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 웹사이트 -->
        <div class="order-list-wrapper orderMain">
            <div class="order-list">
                <div class="head_section link_type Type-wrapper">
                    <h3 class="tit">주문번호 9999999999</h3>
                </div>
                <div class="orders_form" name="frmOrdView">
                    <table class="tbl tbl_type1">
                        <colgroup>
                            <col style="width:80px;">
                            <col style="width:auto">
                            <col style="width:100px;">
                            <col style="width:136px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="thumb">
                                <img src="https://cdn.discordapp.com/attachments/969471931575320587/970916819336589322/unknown.png" alt="">
                            </td>
                            <td class="info">
                                <div class="order-method pickUp">
                                    포장
                                </div>
                                <div class="name">
                                    <p class="link">[포크밸리] 한돈 대패 삼겹살 300g (냉동)</p>
                                </div>
                                <div class="desc">
                                    <span class="price">7,900원</span>
                                    <span class="ea">1개</span>
                                </div>
                            </td>
                            <td class="progress end" colspan="2">
                                <h2>결제 시간</h2>
                                <br>
                                <p>2022-05-08</p>
                                <p>13:34</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="order-list">
                <div class="head_section link_type Type-wrapper">
                    <h3 class="tit">주문번호 9999999999</h3>
                </div>
                <div class="orders_form" name="frmOrdView">
                    <table class="tbl tbl_type1">
                        <colgroup>
                            <col style="width:80px;">
                            <col style="width:auto">
                            <col style="width:100px;">
                            <col style="width:136px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="thumb">
                                <img src="https://cdn.discordapp.com/attachments/969471931575320587/970916819336589322/unknown.png" alt="">
                            </td>
                            <td class="info">
                                <div class="order-method shipping">
                                    배송
                                </div>
                                <div class="name">
                                    <p class="link">[포크밸리] 한돈 대패 삼겹살 300g (냉동)</p>
                                </div>
                                <div class="desc">
                                    <span class="price">7,900원</span>
                                    <span class="ea">1개</span>
                                </div>
                            </td>
                            <td class="progress end" colspan="2">
                                <h2>결제 시간</h2>
                                <br>
                                <p>2022-05-08</p>
                                <p>13:34</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="order-list">
                <div class="head_section link_type Type-wrapper">
                    <h3 class="tit">주문번호 111111111</h3>
                </div>
                <div class="orders_form" name="frmOrdView">
                    <table class="tbl tbl_type1">
                        <colgroup>
                            <col style="width:80px;">
                            <col style="width:auto">
                            <col style="width:100px;">
                            <col style="width:136px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="thumb">
                                <img src="https://cdn.discordapp.com/attachments/969471931575320587/970916819336589322/unknown.png" alt="">
                            </td>
                            <td class="info">
                                <div class="order-method delivery">
                                    배달
                                </div>
                                <div class="name">
                                    <p class="link">[포크밸리] 한돈 대패 삼겹살 300g (냉동)</p>
                                </div>
                                <div class="desc">
                                    <span class="price">7,900원</span>
                                    <span class="ea">1개</span>
                                </div>
                            </td>
                            <td class="progress end" colspan="2">
                                <h2>결제 시간</h2>
                                <br>
                                <p>2022-05-08</p>
                                <p>13:34</p>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<th:block th:insert="/fragments/footerWithout.html :: footWithoutFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/sell/sellMain.js"></script>
<script src="/front/assets/js/footer.js"></script>
</html>