<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sell MainPage</title>
    <link rel="stylesheet" href="/front/assets/css/sellMain.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page_myPage myPage_type1">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">마이페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li class="on">
                    <a href="#">판매 내역</a>
                </li>
                <li>
                    <a href="#">상품 목록</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sellMain-section">
        <form action="" method="post">
            <div>
                
            </div>
        </form>
    </div>

</div>
</body>
</html>