/**
    판매자 관련 css
 */


/*
pos css
*/

*{
	box-sizing: border-box;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
	letter-spacing: -0.7px;
}

body {
	margin: 0;
}

div.sell-wrapper {
	width: 100vw;
	height: 100vh;
}

div.cookingTime-wrapper {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100vw;
	height: 100vh;
	position: fixed;
}

div.cookingTime-content-wrapper {
	position: absolute;
	z-index: 1;
	background-color: white;
	width: 42vw;
	opacity: 1;
	height: 70vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.cookingTime-TopBar{
	color: #ffffffe0;
	height: 7vh;
	background-color: rgb(54 54 54);
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 7vh;
}


/*쿠킹 타임 라디오 박스 css*/
.cookingTime_select {
	padding: 15px 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 14px 40px;
}
.cookingTime_select input[type=radio]{
	display: none;
}
.cookingTime_select input[type=radio]+label{
	display: inline-block;
	cursor: pointer;
	height: 24px;
	width: 90px;
	border: 1px solid #e0e4e6;
	line-height: 24px;
	text-align: center;
	font-weight:bold;
	font-size:13px;
}
.cookingTime_select input[type=radio]+label{
	background-color: #fff;
	color: #333;
}
.cookingTime_select input[type=radio]:checked+label{
	background-color: #333;
	color: #fff;
}


/*
GNB css
*/
div.gnb-wrapper {
	display: flex;
	width: 100%;
	height: 8vh;
	background: #363636;
	position: fixed;
	justify-content: flex-end;
}

div.gnb-order {
	background: #DA291C;
	color: #ffffffe0;
	width: 25%;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	line-height: 8vh;
	border-color: black;
	border-style: solid;
	border-width: 0 2px 0 0;
}

div.content-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 90vh;
}

div.sidebar-wrapper {
	display: flex;
	width: 13%;
	flex-direction: column;
	flex-wrap: wrap;
	position: fixed;
	margin-top: 66px;
}

a.deliveryList, a.myDeliveryList, div.complete{
	height: 37.9vh;

	text-align: center;
	border-bottom: solid #b9aeae40 2px;
	font-size: 1.2rem;
	font-weight: bold;
}


/* 디폴트 폰트*/
div.process, div.complete, div.orderhistoy {
	background: #81818157;
	color: #818181cc;
}

a.deliveryList-content, a.myDeliveryList-content{
	margin-top: 121px;
}

div.orderhistoy {
	line-height: 22vh;
}

div.sidebar-content {
	width: 84%;
	text-align: center;
	margin: 75px 0 0 177px;
}

/* 주문 없을 시 이미지*/

div.noorder img {
	width: 500px;
	margin-top: 80px;
}

div.noorder p {
	font-size: 1.2rem;
	font-weight: bold;
	color: #6a6262db;
}

div.noorder {
	display: none;
}

div.order-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
div.order-info1{
	margin-top: 16px;
}
div.order-list {
	height: 30vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


div.order-info2 {
	font-size: 1.3rem;
	line-height: 0.7;
	width: 61%;
	padding: 10px 30px 10px 30px;
	text-align: left;
}

div.order-info2 div.order-address {
	font-weight: bold;
}

div.order-info2 p.order-menuInfo, p.storeName {
	color: #818181cc;
}

div.order-accept {
	display: flex;
	line-height: 9;
	margin-top: 51px;
}

div.order-accept input[type=submit] {
	width: 8vw;
	height: 16vh;
	font-size: 1.4rem;
	font-weight: bold;
	color: #ffffffe0;
	background-color: #DA291C;
	box-shadow: 1px 1px 3px #da291c;
	border: none;
	margin: 15px;
}
div.order-accept input[type=button] {
	width: 8vw;
	height: 16vh;
	font-size: 1.4rem;
	font-weight: bold;
	color: #ffffffe0;
	background-color: #DA291C;
	box-shadow: 1px 1px 3px #da291c;
	border: none;
	margin: 15px;
}

div.order-time {
	font-size: 26px;
	margin-bottom: 9px !important;
}

div.order-method{
	font-size: 1.6rem;
	display: inline-block;
	width: 144px;
	color: #ffffffe0;
}

div.pickUp {
	background-color: #8BC34A;
	box-shadow: 1px 1px 4px #8bc34a;
}

div.delivery {
	background-color: #03A9F4;
	box-shadow: 1px 1px 4px #03A9F4;
}

div.shipping {
	background-color: #FFC107;
	box-shadow: 1px 1px 4px #FFC107;
}

div.menu-Bar{
	display: none;
}
div.logoutBtn{
	display: none;
}
div.order-address{
	display: flex;
	padding: 24px 0 0 0;
	flex-direction: column;
}
div.addressWrap{
	margin-top: -38px;
	font-size: 25px;
}
div.addressTitle{
	padding: 0 16px 13px 0;
}
div.callIcon {
	margin: -190px 0 0 0;
}
img.callImg{
	height: 70px;
}
div.logout{
	height: 57px;
	color: white;
	background: #363636;
	padding: 1px 0 0 0;
}
div.logoutWrap{
	text-align: center;

}
a.sideItem{
	background: #81818157;
	color: #818181cc;
}
div.gnb-order{
	display: none;
}
div.logoWrap{
}
div.logo {
	background: #DA291C;
	color: #ffffffe0;
	width: 100%;
	height: 73px;
	margin-top: -22px;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}
input.deliveryFinish {
	display: none;
	background: #81818157 !important;
	color: #818181cc!important;
	box-shadow: 1px 1px 3px #81818157!important;
}
input.deliveryFinishBtn.pc{
	display: block;
	width: 8vw;
	height: 16vh;
	font-size: 1.4rem;
	font-weight: bold;
	color: #ffffffe0;
	background-color: #DA291C;
	box-shadow: 1px 1px 3px #da291c;
	border: none;
	margin: 15px;
}
/*input.deliveryFinishBtn.Mobile {*/
/*	display: none;*/
/*}*/
.modifyBtn{
	margin-top: 59px;
	margin-right: 7px;
}


.imgIcon {
	width: 25px;
}

.areabutton {
	width: 205px;
	border: 1px solid #ddd;
	border-radius: 7px;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	color: #333;
	background-color: #f4f4f4;
	cursor: pointer;
	padding: 10px;
}

#cartPut * {
	font-family: noto sans;
	color: #333;
	letter-spacing: 0;
}

.modal {
	padding: 12px;
}

#cartPut .cart_type3 {
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 50%;
	width: 440px;
	max-height: 600px;
	margin-left: -220px;
	border-radius: 12px;
	background-color: #fff;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

#cartPut .cart_type3 .base_button1.half {
	width: 97%;
	margin-left: 8px;
	margin-top: 6px;
}

#cartPut .base_button1.cancel2 {
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
}

#cartPut .base_button1 {
	width: 432px;
	height: 56px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	color: #fff;
	background-color: #DA291C;
	border: 1px solid #DA291C;
	cursor: pointer;
}

.cart_modal_footer {
	display: flex;
	align-items: center;
	padding: 20px 0 30px;
}

.bg_loading {
	position: fixed;
	z-index: 9998;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .5;
}
.order-timeTit{
	text-align: center;
	font-size: 21px;
	border: 1px solid #d9d9d9;
	width: 97%;
	margin: 31px  0 16px 4px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #d9d9d9 !important;
	color: #818181cc;
}
@media screen and (max-width: 1000px) {

	div.gnb-wrapper {
		display: flex;
		width: 100%;
		height: 5vh;
		background: #363636;
		justify-content: space-between;
		position: fixed;
	}
	div.gnb-order {
		background: #DA291C;
		color: #ffffffe0;
		width: 25%;
		font-size: 2.4rem;
		margin-top: -20px;
		font-weight: bold;
		text-align: center;
		line-height: 8vh;
		border-color: black;
		border-style: solid;
		border-width: 0 2px 0 0;
	}
	div.menu-Bar {
		display: flex;
		width: 100%;
		height: 5vh;
		position: fixed;
		margin-top: 85px;
	}
	a.menuItem {
		width: 50%;
		text-align: center;
		font-size: 39px;
		padding: 15px 0 0 0;
		border: 5px solid;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background: #d9d9d9;;
		border-bottom: none;
		color: #818181cc;
	}
	div.sidebar-wrapper {
		display: none;
	}
	div.order-list {
		height: 28vh;
		display: block;
		flex-direction: row;
		flex-wrap: wrap;
	}
	div.order-content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 113px 0 0 -175px;
	}
	div.order-accept{
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 9;
		flex-direction: column;
		float: right;
		margin-top: -325px;
		width: 234px;
	}
	div.word{
		color: #cac5c5;
		font-size: 37px;
		margin: 13px 26px 0 73px;
	}
	div.sidebar-content {
		width: 100%;
		text-align: center;
	}

	div.order-accept input[type=submit] {
		width: 16vw;
		height: 6vh;
		font-size: 2.4rem;
		font-weight: bold;
		color: #ffffffe0;
		background-color: #DA291C;
		box-shadow: 1px 1px 3px #da291c;
		border: none;
		margin: 15px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	div.order-accept input[type=button] {
		width: 16vw;
		height: 6vh;
		font-size: 2.4rem;
		font-weight: bold;
		color: #ffffffe0;
		background-color: #DA291C;
		box-shadow: 1px 1px 3px #da291c;
		border: none;
		margin: 15px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	input#deliveryFinish{
		margin: 72px 0px 0px -16px!important;
	}
	div.order-info1 {
		padding: 21px 50px 28px 50px;
		height: 112px;
		display: flex;
		width: 75%;
	}
	div.order-method{
		font-size: 37px;
		margin: -19px 30px 26px -9px;
	}
	div.order-time {
		font-size: 3.5rem;
		padding: 0 11px 0 0;
		margin: -35px 13px 0 -25px;
	}
	div.order-info2 {
		font-size: 30px;
		line-height: 0.7;
		width: 100%;
		margin-top: -60px;
		text-align: left;
		width: 77%;
	}
	div.order-address{
		display: flex;
		padding: 24px 0 0 0;
		flex-direction: column;
	}
	div.addressWrap{
		margin-top: -47px;
		font-size: 36px;
	}
	div.addressTitle{
		padding: 0 16px 13px 0;
	}
	div.callIcon{
		margin: -176px 0 0 0;
	}
	img.callImg{
		height: 70px;
	}
	div.logoutBtn{
		display: block;
	}
	div.gnb-order {
		display: block;
		margin-top: -30px;
	}

	input.deliveryFinish {
		display: none;
		background: #81818157 !important;
		color: #818181cc!important;
		box-shadow: 1px 1px 3px #81818157!important;
		height: 274px!important;
	}
	/*input.deliveryFinishBtn.pc{*/
	/*	display: none;*/
	/*}*/
	div.myDeliveryBtn{
		margin-right: 24px;
		margin-top: -381px;
	}
	input.deliveryFinishBtn.Mobile{
		display: block;
		font-size: 40px;
		height: 243px;
		margin: -257px -367px 0 10px;
		float: right;
		width: 16vw;
		font-weight: bold;
		color: #ffffffe0;
		background-color: #DA291C;
		box-shadow: 1px 1px 3px #da291c;
		border: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	/*input.deliveryFinishBtn.pc{*/
	/*	display: none;*/
	/*}*/
	input.order-acceptBtn{height: 250px !important;}
	div.modifyBtn{
		margin: 67px 0 0 345px;
	}

	.areabutton {
		width: 940px;
		border: 1px solid #ddd;
		border-radius: 7px;
		font-size: 39px;
		font-weight: 600;
		line-height: normal;
		color: #333;
		background-color: #f4f4f4;
		cursor: pointer;
		padding: 22px;
		height: 110px;
		margin-top: -3px;
		margin-left: 18px;
	}

	.imgIcon {
		width: 50px;
	}

	#cartPut .cart_type3 .base_button1.half {
		width: 97%;
		margin-left: 8px;
		margin-top: 6px;
	}

	#cartPut .base_button1.cancel2 {
		color: #333;
		background-color: #fff;
		border: 1px solid #ddd;
	}

	#cartPut .base_button1 {
		width: 432px;
		height: 137px;
		border: none;
		border-radius: 3px;
		font-size: 58px;
		font-weight: 600;
		line-height: normal;
		color: #fff;
		background-color: #DA291C;
		border: 1px solid #DA291C;
		cursor: pointer;
		margin: 24px;
	}

	#cartPut .cart_type3 {
		position: fixed;
		z-index: 9999;
		left: 231px;
		right: 20px;
		top: 50%;
		max-height: 90%;
		border-radius: 4px;
		background-color: #fff;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		width: 960px;
		height: 730px;
	}
	.orderWrap{
		display: flex;
		flex-direction: column;
	}
	.order-timeTit{
		text-align: center;
		font-size: 30px;
		border: 1px solid;
		width: 30%;
		margin: 0 0 0 34px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background: #ff786e;

	}
	select option{
		font-size: 28px;
		font-weight: bold;
	}
	input[type=submit]{
		width: 16vw;
		height: 6vh;
		font-size: 2.4rem;
		font-weight: bold;
		color: #ffffffe0;
		background-color: #DA291C;
		box-shadow: 1px 1px 3px #da291c;
		border: none;
		margin: 15px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	input[type=button]{
		width: 16vw;
		height: 6vh;
		font-size: 2.4rem;
		font-weight: bold;
		color: #ffffffe0;
		background-color: #DA291C;
		box-shadow: 1px 1px 3px #da291c;
		border: none;
		margin: 15px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}