<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 비밀번호 재확인</title>
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
    <link rel="stylesheet" href="/front/assets/css/user/myPageMenuBar.css">
    <link rel="stylesheet" href="/front/assets/css/user/myCheckPw.css">
</head>
<style>
    .myPage_type1{
        height: 809px;
    }
    @media screen and (max-width: 1000px) {
        .myPage_type1{
            height: 0px;
        }
    }
</style>
<body>
<th:block th:insert="/fragments/headerWithout.html :: headWithoutFragment"/>
<div class="page_myPage myPage_type1">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">마이페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li>
                    <a href="#">주문 내역</a>
                </li>
                <li>
                    <a href="#">상품 후기</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_section section_myinfo">
        <div class="head_aticle">
            <h2 class="tit">개인 정보 수정</h2>
        </div>
        <div class="type_form member_join member_pw" id="PW">
            <div class="field_pw">
                <h3 class="tit">비밀번호 재확인</h3>
                <p class="sub">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인해주세요.</p>
                <form name="confirmForm" method="post">
                    <table class="tbl_comm">
                        <tbody><tr class="fst">
                            <th>아이디</th>
                            <td>
                                <input type="text" value="rhdehdbs" readonly="" class="inp_read">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                비밀번호
                            </th>
                            <td>
                                <input type="hidden" name="mode" id="mode" value="confirmPassword">
                                <input type="password" name="confirm_password" id="confirm_password" class="inp_pw">
                            </td>
                        </tr>
                        </tbody></table>
                    <button type="submit" class="btn active">확인</button>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="/fragments/footerWithout.html :: footWithoutFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/user/myPageListMenuSelect.js"></script>
</html>