<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 개인정보수정</title>
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
    <link rel="stylesheet" href="/front/assets/css/user/myPageMenuBar.css">
    <link rel="stylesheet" href="/front/assets/css/user/myChangeInfo.css">
</head>
<style>
    .myPage_type1{
        height: 1282px;
    }
    @media screen and (max-width: 1000px) {
        .myPage_type1{
            height: 0px;
        }
    }
</style>
<body>
<th:block th:insert="/fragments/headerWithout.html :: headWithoutFragment"/>
<div class="page_myPage myPage_type1">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">마이페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li>
                    <a href="#">주문 내역</a>
                </li>
                <li>
                    <a href="#">상품 후기</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_section section_myinfo">
        <div class="head_aticle">
            <h2 class="tit">개인 정보 수정</h2>
        </div>
        <div class="type_form member_join member_mod">
            <form id="form" name="frmMember" method="post" action="#">
                <table class="tbl_comm">
                    <tbody>
                    <tr class="fst">
                        <th>
                            아이디
                        </th>
                        <td>
                            <input type="text" value="rhdehdbs" readonly="" class="inp_read">
                        </td>
                    </tr>
                    <tr>
                        <th>현재 비밀번호</th>
                        <td>
                            <input type="password" name="originalPassword" id="originalPassword">
                            <input type="hidden" name="originalPasswordCheck" value="1">
                            <p class="txt_guide square" style="display: none;">
                                <span class="txt txt_case4 bad">현재 비밀번호를 확인해주세요</span>
                            </p>
                        </td>
                    </tr>
                    <tr class="member_pwd">
                        <th>새 비밀번호</th>
                        <td>
                            <input type="password" name="newPassword" id="newPassword" label="새 비밀번호" option="regPass" maxlength="16" class="reg_pw bad">
                            <input type="hidden" name="newPasswordCheck" value="0">
                            <p class="txt_guide square" style="display: block;">
                                <span class="txt txt_case4">현재 비밀번호와 다르게 입력</span>
                                <span class="txt txt_case1">10자 이상 입력</span>
                                <span class="txt txt_case2">영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</span>
                                <span class="txt txt_case3">동일한 숫자 3개 이상 연속 사용 불가</span>
                            </p>
                        </td>
                    </tr>
                    <tr class="member_pwd">
                        <th>새 비밀번호 확인</th>
                        <td>
                            <input type="password" name="confirmPassword" id="confirmPassword" label="새 비밀번호" option="regPass" maxlength="16" class="confirm_pw bad">
                            <p class="txt_guide square" style="display: block;">
                                <span class="txt txt_case1">동일한 비밀번호를 입력해주세요.</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            이름
                        </th>
                        <td>
                            <input type="text" name="name" value="공도윤" label="이름" placeholder="이름을 입력해주세요">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            이메일
                        </th>
                        <td>
                            <input type="text" name="email" value="doyoon@naver.com" data-email="julie6601@naver.com" size="30" required="" option="regEmail" label="이메일" placeholder="예: marketkurly@kurly.com">
                            <a href="#" onclick="chkEmail()" class="btn default">중복확인</a>
                        </td>
                    </tr>
                    <tr class="field_phone">
                        <th>
                            휴대폰
                        </th>
                        <td>
                            <div id="codeNum" class="code_num">
                                <input type="text" name="auth_code" id="auth_code" value="" size="6" maxlength="6" pattern="[0-9]*" label="인증번호 확인" disabled="" class="inp_confirm")>
                                <button id="btn_cert_confirm" class="btn default disabled" type="button">인증번호 확인</button>
                                <p id="countdown" class="count_down"></p>
                            </div>
                            <p class="txt_guide">
                                <span class="txt txt_case1"></span>
                            </p>
                        </td>
                    </tr>
                    <tr class="select_sex">
                        <th>성별</th>
                        <td>
                            <label class="">
                                <input type="radio" name="sex" value="m">
                                <span class="ico"></span>
                                남자
                            </label>
                            <label class="checked">
                                <input type="radio" name="sex" value="w" checked="checked">
                                <span class="ico"></span>
                                여자
                            </label>
                            <label class="">
                                <input type="radio" name="sex" value="n">
                                <span class="ico"></span>
                                선택안함
                            </label>
                        </td>
                    </tr>
                    <tr class="birth field_birth">
                        <th>생년월일</th>
                        <td>
                            <div class="birth_day">
                                <input type="text" name="birth_year" id="birth_year" pattern="[0-9]*" value="1999" label="생년월일" size="4" maxlength="4" placeholder="YYYY">
                                <span class="bar"></span>
                                <input type="text" name="birth[]" id="birth_month" pattern="[0-9]*" value="05" label="생년월일" size="2" maxlength="2" placeholder="MM">
                                <span class="bar"></span>
                                <input type="text" name="birth[]" id="birth_day" pattern="[0-9]*" value="31" label="생년월일" size="2" maxlength="2" placeholder="DD">
                            </div>
                            <p class="txt_guide">
                                <span class="txt bad"></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>선택약관 동의 </th>
                        <td class="reg_agree">
                            <div class="check_view">
                                <input type="hidden" id="consentHidden" name="consent[1]" value="y">
                                <label class="label_block check_agree checked">
                                    <input type="checkbox" name="hiddenCheck" value="y" checked="checked">
                                    <span class="ico"></span>
                                    개인정보 수집·이용 동의
                                    <span class="sub">(선택)</span>
                                </label>
                                <a href="#none" class="link btn_link btn_choice">
                                    약관보기
                                </a>
                            </div>
                            <div class="layer layer_choice" style="margin-top: -153.5px;">
                                <div class="inner_layer">
                                    <div class="in_layer">
                                        <h4 class="tit_layer">
                                            개인정보 수집·이용 동의
                                            <span class="sub">(선택)</span>
                                        </h4>
                                        <div class="box_tbl">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <caption class="screen_out">개인정보의 수집 및 이용목적</caption>
                                                <thead>
                                                <tr>
                                                    <th scope="row" class="tit1">수집 목적</th>
                                                    <th scope="row" class="tit2">수집 항목</th>
                                                    <th scope="row" class="tit3">보유 기간</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>맞춤형 회원 서비스 제공</td>
                                                    <td>성별, 생년월일</td>
                                                    <td class="emph">회원 탈퇴<br> 즉시 파기</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <p class="txt_service">동의를 거부하시는 경우에도 서비스는 이용하실 수 있습니다.</p>
                                    </div>
                                    <button type="button" class="btn_ok"><span class="txt_type">확인</span></button>
                                    <button type="button" class="btn_close"><span class="screen_out"></span></button>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr class="reg_agree">
                        <th>
                            이용약관동의
                        </th>
                        <td>
                            <div class="bg_dim"></div>
                            <div class="check_view">
                                <label class="label_block check_agree checked">
                                    <input type="checkbox" name="marketing" value="y" checked="checked">
                                    <span class="ico"></span>
                                    무료배송, 할인쿠폰 등 혜택/정보 수신 동의
                                    <span class="sub">(선택)</span>
                                </label>
                                <div class="check_event email_sms">
                                    <label class="label_block check_agree checked">
                                        <input type="checkbox" name="sms" value="y" checked="checked">
                                        <span class="ico"></span>
                                        SMS
                                    </label>
                                    <label class="label_block check_agree checked">
                                        <input type="checkbox" name="mailling" value="y" checked="checked">
                                        <span class="ico"></span>
                                        이메일
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="formSubmit" class="form_footer">
                    <a href="#" class="btn default">탈퇴하기</a>
                    <button type="submit" class="btn active">회원정보수정</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="/fragments/footerWithout.html :: footWithoutFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/user/myChangeInfo.js"></script>
<script src="/front/assets/js/user/myPageListMenuSelect.js"></script>
</html>