<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>라스트프레시 | 주문내역</title>
  <link rel="stylesheet" href="/front/assets/css/user/myPageMenuBar.css" />
  <link rel="stylesheet" href="/front/assets/css/user/myOrderDetail.css" />
  <link rel="stylesheet" href="/front/assets/css/fragments.css">
</head>
<style>
  .myPage_type1{
    height: 1750px;
  }
  @media screen and (max-width: 1000px) {
    .myPage_type1{
      height: 0px;
    }
  }


</style>
<body>
<th:block th:insert="/fragments/headerWithout.html :: headWithoutFragment"/>
<div class="page_myPage myPage_type1">
  <div id="snb" class="snb_my">
    <h2 class="tit_snb">마이페이지</h2>
    <div class="inner_snb">
      <ul class="list_menu">
        <li>
          <a href="#">주문 내역</a>
        </li>
        <li>
          <a href="#">상품 후기</a>
        </li>
        <li>
          <a href="#">개인 정보 수정</a>
        </li>
      </ul>
    </div>
  </div>
  <header id="Order-header" class="header">
    <h1 class="logo">
      <span class="tit">주문내역 상세</span>
    </h1>
    <a href="#" class="link_back" role="button"><span class="screen_out">뒤로가기</span></a>
    <div class="header_shortcut">
      <a href="#" class="cart_count" role="button"></a>
    </div>
  </header>
  <div class="page_section section_orderview">
    <div class="head_aticle">
      <h2 class="tit">주문 내역 상세</h2>
    </div>
    <div class="box_type">
      <div class="head_section link_type on" id="Type">
        <h3 class="tit">주문번호 9999999999</h3>
      </div>
      <form class="orders_form" name="frmOrdView" method="post">
        <input type="hidden" name="mode" />
        <input type="checkbox" name="include" checked="checked" value="" class="chk_cart"/>
        <table class="tbl tbl_type1">
          <colgroup>
            <col style="width: 80px" />
            <col style="width: auto" />
            <col style="width: 100px" />
            <col style="width: 136px" />
          </colgroup>
          <tbody>
          <tr>
            <td class="thumb">
              <a href="#" style="
                      background-image: url(//img-cf.kurly.com/shop/data/goods/1604379287477s0.jpg);
                    "></a>
            </td>
            <td class="info">
              <div class="name">
                <a href="#" class="link">[포크밸리] 한돈 대패 삼겹살 300g (냉동)</a>
              </div>
              <div class="desc">
                <span class="price">7,900원</span>
                <span class="ea">1개</span>
              </div>
            </td>
            <td class="progress end">배송완료</td>
            <td class="action">
              <a href="#none" onclick="" class="btn btn_after ga_tracking_event" id="After">후기쓰기</a>
              <button type="button" class="btn btn_cart ga_tracking_event" onclick="">
                장바구니 담기
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div id="orderCancel1" class="order_cancel">
          <span class="inner_cancel">
            <button type="button" class="btn btn_cancel off">
              전체 상품 주문 취소
            </button>
          </span>
      <p class="cancel_notice">
        주문취소는 ‘배송준비중’ 이전 상태일 경우에만 가능합니다.
      </p>
    </div>
    <div class="order_delivery box_type">
      <h3 class="tit">배송조회</h3>
      <ul class="list_status">
        <li>
          <div class="subject">
            <span class="type">배송</span>
          </div>
          <div class="state"></div>
          <div class="detail">
            <span class="maker">프레시솔루션</span>
            <a class="search" href="#" target="_blank">배송조회</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="box_type">
      <div class="head_section on" id="Payment">
        <h3 class="tit">결제정보</h3>
      </div>
      <table class="tbl tbl_type2 tbl_type3 PaymentShow">
        <colgroup>
          <col style="width: 160px" />
          <col style="width: auto" />
        </colgroup>
        <tbody>
        <tr>
          <th>상품금액</th>
          <td><span id="paper_goodsprice">23,200</span>원</td>
        </tr>
        <tr>
          <th>결제금액</th>
          <td><span id="paper_settlement">23,200</span>원</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="box_type">
      <div class="head_section on" id="OrderInform">
        <h3 class="tit">주문정보</h3>
      </div>
      <table class="tbl tbl_type2 OrderInformShow">
        <colgroup>
          <col style="width: 160px" />
          <col style="width: auto" />
        </colgroup>
        <tbody>
        <tr>
          <th>주문 번호</th>
          <td>9999999999</td>
        </tr>
        <tr>
          <th>주문자명</th>
          <td>공도윤</td>
        </tr>
        <tr>
          <th>보내는 분</th>
          <td>공도윤</td>
        </tr>
        <tr>
          <th>결제일시</th>
          <td>2022-05-11 20:15:15</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="box_type">
      <div class="head_section on" id="ShippingInform">
        <h3 class="tit">배송 정보</h3>
      </div>
      <table class="tbl tbl_type2 ShippingInformShow">
        <colgroup>
          <col style="width: 160px" />
          <col style="width: auto" />
        </colgroup>
        <tbody>
        <tr>
          <th>받는 분</th>
          <td>공도윤</td>
        </tr>
        <tr>
          <th>핸드폰</th>
          <td>010-7777-****</td>
        </tr>
        <tr>
          <th>배송방법</th>
          <td>샛별배송</td>
        </tr>
        <tr>
          <th>주소</th>
          <td>(99999) 서울 강남구 역삼동 9999 (제일비싼집) 9동9호</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="orderCancel2" class="order_cancel">
          <span class="inner_cancel">
            <button type="button" class="btn btn_cancel off">
              전체 상품 주문 취소
            </button>
          </span>
      <p class="cancel_notice">
        주문취소는 ‘배송준비중’ 이전 상태일 경우에만 가능합니다.
      </p>
    </div>
  </div>
</div>
<th:block th:insert="/fragments/footerWithout.html :: footWithoutFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/user/myOrderDetail.js"></script>
<script src="/front/assets/js/user/myPageListMenuSelect.js"></script>
</html>
