<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라스트프레시 | 후기 상세보기</title>
    <link rel="stylesheet" href="/front/assets/css/main/user/myPageMenuBar.css">
    <link rel="stylesheet" href="/front/assets/css/main/user/myReviewWrite.css">
    <link rel="stylesheet" href="/front/assets/css/fragments.css">
</head>
<body>
<th:block th:insert="/fragments/header.html :: headWithoutFragment"/>
<div class="page_myPage myPage_type1">
    <div id="snb" class="snb_my">
        <h2 class="tit_snb">마이페이지</h2>
        <div class="inner_snb">
            <ul class="list_menu">
                <li class="on">
                    <a href="#">주문 내역</a>
                </li>
                <li>
                    <a href="#">상품 후기</a>
                </li>
                <li>
                    <a href="#">개인 정보 수정</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_section section_write">
        <div class="head_aticle">
            <a href="" class="link_back" role="button"><span class="screen_out"></span></a>
            <h2 class="tit">후기 작성</h2>
        </div>
        <div class="head_section layer_type">
            <span class="link">
                <a href="#none">작성 시 유의 사항</a>
            </span>
            <div class="layer" style="display: none;">
                <h4 class="tit_layer">후기 작성 시 유의사항</h4>
                <p class="desc_layer">
                    마켓컬리는 믿을 수 있는 후기문화를 함께 만들어 가고자
                    <br>
                    합니다. 따라서 후기 내용이 아래에 해당하는 경우에는 검토 후
                    <br>
                    비공개 조치될 수 있습니다.
                </p>
                <ul class="list_layer">
                    <li>1. 욕설, 비난 등 업체나 타인에게 불쾌한 내용을 작성한 경우</li>
                    <li>2. 해당 상품과 무관한 내용이나 동일 문자의 반복 등 부적합한<br> 내용을 작성한 경우</li>
                    <li>3. 상품의 기능이나 효과 등에 오해의 소지가 있는 내용을<br> 작성한 경우</li>
                    <li>4. 저작권, 초상권 등 타인의 권리를 침해하는 이미지 사용한<br> 경우</li>
                </ul>
                <button type="button" class="btn_ok">확인</button>
                <button type="button" class="btn_close">
                    <span class="screen_out"></span>
                </button>
            </div>
        </div>
        <form name="form_review" id="form_review" method="post" enctype="multipart/form-data">
            <div class="write_board">
                <div class="goods_info">
                    <div class="thumb">
                        <img src="http://img-cf.kurly.com/shop/data/goods/1648206103254s0.jpg" alt="상품 이미지">
                    </div>
                    <div class="desc">
                        <div class="inner_desc">
                            <div class="name_main">[우주] 프리미엄 손질 생새우살 200g (냉동)</div>
                        </div>
                    </div>
                </div>
                <table class="tbl">
                    <caption style="display:none">후기 작성 입력상자</caption>
                    <colgroup>
                        <col style="width:110px;">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" name="subject" placeholder="제목을 입력해주세요." class="inp" value="">
                        </td>
                    </tr>
                    <tr>
                        <th>후기작성</th>
                        <td>
                            <div class="field_cmt">
                                <textarea id="fieldCmt" name="contents" cols="100" rows="10" placeholder="자세한 후기는 다른 고객의 구매에 많은 도움이 되며,
일반식품의 효능이나 효과 등에 오해의 소지가 있는 내용을 작성 시 검토 후 비공개 조치될 수 있습니다.

반품/환불 문의는 1:1문의로 가능합니다."></textarea>
                                <p class="txt_count">
                                    <span class="num">0</span>
                                    자 / 최소 10자
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>사진등록</th>
                        <td>
                            <div class="photo_add">
                                <div class="inner_photo"></div>
                                <span class="btn_upload">
                                    <input type="file" name="file[]" class="file_upload" value="사진등록하기">
                                    <img class="btnIcon" src="https://cdn.discordapp.com/attachments/969471931575320587/972095619529318470/8b341075ea07175a.png">
                                </span>
                            </div>
                            <div class="file_count">
                                <p class="txt_count">
                                    <span class="num">0</span>장 / 최대 8장
                                </p>
                            </div>
                            <p class="photo_notice">*구매한 상품이 아니거나 캡쳐 사진을 첨부할 경우, 통보없이 삭제 및 적립 혜택이 취소됩니다.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" id="btnSubmit" class="btn_reg btn_disabled">등록하기</button>
            </div>
        </form>
    </div>
</div>
<th:block th:insert="/fragments/header.html :: footWithoutFragment"/>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/front/assets/js/user/myReviewWrite.js"></script>
</html>
